/*Digital Business Page*/

.moz_dig_bus_header .et_pb_blurb .et_pb_main_blurb_image img {
    display: block !important;
}

.moz_dig_bus_header .et_pb_blurb .et_pb_blurb_container h4{
    transition: 0.1s !important;
}
.moz_dig_bus_header .et_pb_blurb .et_pb_blurb_container h4:hover {
    transform: translate(-50%,-50%) scale(0.9) ;
}

.moz_dig_bus_header .et_pb_blurb .et_pb_blurb_container h4 a {
    padding: 14px !important;
    display: block;
    transition: 0s !important;
}

.moz_dig_bus_find_more .et_pb_column_1_4:last-child {
    margin-right: 0 !important;
}

.moz_dig_bus_find_more .et_pb_column_1_4 {
    width: 23% !important;
    margin-right: 2.5% !important;
}

.moz_dig_bus_find_more .et_pb_column_1_2 {
    margin-right: 2.6% !important;
}

.moz_dig_bus_find_more .et_pb_blurb .et_pb_blurb_container h4:after {
    display: inline-block !important;
    content: "$";
    font-family: "ETmodules" !important;
    float: left;
    line-height: 130%;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 0.3s !important;
    background: transparent !important;
}

.moz_dig_bus_find_more .et_pb_blurb .et_pb_blurb_container h4 {
    position: relative;
}

.moz_dig_bus_find_more .et_pb_blurb .et_pb_blurb_container h4 {
    transition: 0.3s !important;
}

.moz_dig_bus_find_more .et_pb_blurb:hover .et_pb_blurb_container h4:after {
    width: 24px !important;
}

.moz_dig_bus_find_more .et_pb_blurb:hover .et_pb_blurb_container h4 {
    padding-left: 30px !important;
}

.moz_dig_bus_find_more.services_simple .et_pb_column_1_2 {
    width: 34% !important;
    margin-right: 8.5% !important;
}

.moz_dig_bus_find_more.services_simple .et_pb_column_1_4:last-child {
    margin-right: 0 !important;
}

.moz_dig_bus_find_more.services_simple .et_pb_column_1_4 {
    width: 24% !important;
    margin-right: 7.5% !important;
}

.moz_dig_bus_testimonials .et_pb_testimonial_portrait:before {
    content: '“';
    font-family: 'Playfair Display';
    width: auto !important;
    height: auto !important;
    line-height: 100%;
    box-shadow: none !important;
    font-size: 92px;
    top: auto;
    left: 16px;
    bottom: -57px;
    color: #608ad8 !important;
}

.moz_dig_bus_persons .et_pb_team_member img {
    display: block;
    width: 100%;
}

.moz_dig_bus_persons .et_pb_team_member .et_pb_team_member_image:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #141414;
    opacity: 0;
    transition: all .3s ease-out;
}

/*Hover*/

.moz_dig_bus_persons .et_pb_team_member {
    position: relative;
    cursor: pointer;
}

.moz_dig_bus_persons .et_pb_team_member_description {
    transform: translate(0, 100%);
    transition: all .3s ease-out;
}

.moz_dig_bus_persons p.et_pb_member_position,
.moz_dig_bus_persons .et_pb_member_social_links {
    transform: translate(0, 150px);
    transition: all .3s ease-out;
}

.moz_dig_bus_persons .et_pb_team_member:hover .et_pb_team_member_image:before {
    opacity: 0.5;
}

.moz_dig_bus_persons .et_pb_team_member:hover .et_pb_team_member_description {
    transition-delay: 0.2s;
    transform: translate(0, 0);
}

.moz_dig_bus_persons .et_pb_team_member:hover p.et_pb_member_position,
.moz_dig_bus_persons .et_pb_team_member:hover .et_pb_member_social_links {
    transform: translate(0, 0);
}

.moz_dig_bus_persons .et_pb_team_member:hover p.et_pb_member_position {
    transition-delay: 0.5s;
}

.moz_dig_bus_persons .et_pb_team_member:hover .et_pb_member_social_links {
    transition-delay: 0.7s;
}

/*Columns*/

.moz_dig_bus_persons .et_pb_column_1_2 {
    width: 31% !important;
    margin-left: 8.4% !important;
}

.moz_dig_bus_persons .et_pb_column_1_4:nth-child(2) {
    margin-right: 0 !important;
}

.moz_dig_bus_persons .et_pb_column_1_4 {
    width: 27.7% !important;
    margin-right: 1.8% !important;
}

/*Social Icons*/

.moz_dig_bus_persons .et_pb_member_social_links {
    margin-top: 36px;
}

.moz_dig_bus_persons .et_pb_member_social_links li:last-child {
    margin-right: 0 !important;

}

.moz_dig_bus_persons .et_pb_member_social_links li {
    margin-right: 15px !important;
}

.moz_dig_bus_persons .et_pb_member_social_links li a.et_pb_font_icon:hover {
    opacity: 0.5;
}

#page-container .moz_dig_bus_logos .moz_dig_bus_logos_row .et_pb_column .et_pb_image {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

#page-container .moz_dig_bus_logos .et_pb_column .et_pb_image:last-child {
    margin-right: 0 !important;
}

#page-container .moz_dig_bus_logos .et_pb_column .et_pb_image {
    width: 17.3% !important;
    float: left;
    margin-right: 3.3% !important;
    margin-bottom: 1.7vw !important;
}


/*Hover*/

.moz_services_top_blurb .et_pb_blurb .et_pb_main_blurb_image,
.moz_services_top_blurb .et_pb_blurb .et_pb_blurb_description{
    transition: 0.3s !important;
}
.moz_services_top_blurb .et_pb_blurb:hover .et_pb_blurb_description{
    transform: translate(0px,10px);
}
.moz_services_top_blurb .et_pb_blurb:hover .et_pb_main_blurb_image{
    transform: translate(0px,-10px);
}
.moz_services_top_blurb .et_pb_blurb:hover:after{
    transform: scale(1);
    opacity: 1;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    .moz_services_top_section{
        padding-top: 180px !important;
    }

    #page-container .moz_dig_bus_header .et_pb_row .et_pb_button {
        margin-top: 0 !important;
    }

    .moz_dig_bus_header .et_pb_row:first-child {
        padding-bottom: 0 !important;
    }

    .moz_dig_bus_header .et_pb_row,
    .moz_dig_bus_header {
        padding-top: 60px !important;
    }

    .moz_dig_bus_find_more .et_pb_column_1_4 .et_pb_blurb:first-child {
        margin-bottom: 50px !important;
    }

    .moz_dig_bus_find_more .et_pb_column_1_4 {
        padding-top: 30px !important;
    }

    .moz_dig_bus_persons .et_pb_column_1_2 {
        padding-top: 60px !important;
    }
}


@media only screen and (max-width: 1390px) {
    .moz_dig_bus_persons .et_pb_column_1_2 {
        width: 39% !important;
        margin-left: 3% !important;
        padding-top: 0 !important;
    }

    .moz_services_top_blurb .et_pb_blurb:after{
        top: 10px !important;
        left: 10px !important;
        right: 10px !important;
        bottom: 10px !important;
    }

}

@media only screen and (max-width: 980px) {
    .moz_dig_bus_persons .et_pb_column_1_2 .et_pb_promo h2,
    .moz_dig_bus_persons .et_pb_column_1_2 .et_pb_promo {
        text-align: center !important;
    }

    .moz_dig_bus_persons .et_pb_column_1_2 {
        width: 100% !important;
        margin-left: 0% !important;
        padding-top: 1.5vw !important;
    }

    .moz_dig_bus_persons .et_pb_column .et_pb_team_member_image {
        margin: 0 !important;
        width: 100% !important;
    }

    #page-container .moz_dig_bus_persons .et_pb_column_1_4:nth-child(2) {
        margin-right: 0 !important;
    }

    #page-container .moz_dig_bus_persons .et_pb_column_1_4 {
        width: 49% !important;
        margin-right: 2% !important;
    }


    #page-container .moz_dig_bus_testimonials .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_testimonial_description {
        margin-left: 0 !important;
    }

    .moz_dig_bus_header .et_pb_blurb .et_pb_main_blurb_image img {
        margin: 0 auto !important;
    }

    .moz_dig_bus_find_more .et_pb_promo h2 {
        max-width: 100% !important;
    }

    .moz_dig_bus_subscribe .et_pb_column_1_3 .et_pb_button_module_wrapper {
        max-width: 200px;
        margin: 0 auto;
    }

    .moz_dig_bus_subscribe .et_pb_column_1_3 {
        padding: 0 !important;
    }

    .moz_dig_bus_subscribe .et_pb_text {
        text-align: center !important;
    }

    .moz_dig_bus_testimonials .et_pb_row {
        width: 90% !important;
    }

    .moz_services_top_blurb .et_pb_column_1_3 .et_pb_blurb {
        width: 50% !important;
        float: left !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_column_1_3 .et_pb_testimonial {
        padding-bottom: 140px !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_promo_description p,
    #page-container .moz_dig_bus_testimonials .et_pb_promo_description h2,
    #page-container .moz_dig_bus_testimonials .et_pb_column_1_3 .et_pb_testimonial {
        text-align: center !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_testimonial .et_pb_testimonial_portrait {
        left: 0;
        right: 0;
        margin: auto;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_testimonial .et_pb_testimonial_description {
        max-width: 500px;
        margin: 0 auto !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_testimonial .et_pb_testimonial_author {
        margin-top: 0 !important;
    }

    #page-container .moz_dig_bus_testimonials .et_pb_column_1_3:not(:last-child) {
        border-bottom: 1px solid;
        padding-bottom: 40px;
    }

    .moz_dig_bus_find_more .et_pb_row {
        width: 90% !important;
    }

    .moz_services_top_blurb .et_pb_column_1_3 .et_pb_blurb {
        width: 100% !important;
    }

    .moz_dig_bus_logos .et_pb_column_1_3 {
        margin-bottom: 10px !important;
    }

    .moz_dig_bus_logos .et_pb_column .et_pb_text {
        text-align: left !important;
    }

    .moz_dig_bus_logos .et_pb_column {
        width: 100% !important;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .moz_dig_bus_persons .et_pb_column_1_4 {
        width: 100% !important;
        margin-right: 0 !important;
    }


    .moz_dig_bus_find_more .et_pb_column_1_4 {
        padding-top: 0 !important;
    }

    .moz_dig_bus_find_more .et_pb_column_1_4:last-child .et_pb_blurb:last-child {
        margin-bottom: 0 !important;
    }

    .moz_dig_bus_find_more .et_pb_column_1_4 .et_pb_blurb {
        margin-bottom: 40px !important;
    }

    #page-container .moz_services_top_blurb .et_pb_row {
        width: 100% !important;
    }

    #page-container .et_pb_row.section_bottom_lines_image {
        width: 100% !important;
    }

    #page-container .moz_dig_bus_logos .et_pb_column .et_pb_text{
        text-align: center !important;
    }
    #page-container .moz_dig_bus_logos .et_pb_column{
        text-align: center !important;
    }
    #page-container .moz_dig_bus_logos .et_pb_column .et_pb_image {
        width: 30% !important;
        float: none;
        display: inline-block;
        padding: 12px !important;
    }
}