body.search h2.search_title {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 30px !important;
    color: #243767 !important;
    line-height: 120% !important;
    padding-bottom: 42px;
    font-weight: 500;
}

/*Blog Posts*/

body.category #page-container article h2.entry-title a:hover,
body.archive.tag #page-container article h2.entry-title a:hover,
body.search #page-container article h2.entry-title a:hover {
    opacity: 0.5;
}

body.category  #page-container article h2.entry-title a,
body.archive.tag #page-container article h2.entry-title a{
    color: #243767!important;
}
body.category  #page-container article h2.entry-title,
body.archive.tag #page-container article h2.entry-title,
body.search #page-container article h2.entry-title {
    font-size: 24px;
    padding-bottom: 18px;
    line-height: 120% !important;
    color: #243767!important;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 500!important;
    text-transform: capitalize;
}

body.search #page-container article .more-link:before {
    content: "$";
    font-family: "ETmodules";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

body.category  #page-container article .more-link,
body.archive.tag #page-container article .more-link,
body.search #page-container article .more-link {
    color: #608ad8 !important;
    text-transform: capitalize;
    margin-top: 18px;
    font-weight: 400;
    clear: both;
    display: block;
}


body.category  #page-container article .more-link:hover ,
body.search #page-container .more-link:hover {
    opacity: 0.6;
}

body.archive.tag .et_pb_column_2_3 > .et_pb_promo {
    margin-bottom: 0 !important;
}

/**********************/

body.category  #page-container article:last-of-type,
body.archive.tag #page-container article:last-of-type,
body.search #page-container article:last-of-type {
    margin-bottom: 0 !important;
    border-bottom: none !important;
}

body.category  #page-container article,
body.archive.tag #page-container article,
body.search #page-container article {
    margin-bottom: 36px !important;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 27px;
    font-size: 16px;
    color: #627792;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

/*Columns*/

body.archive.tag #page-container .entry-content .et_pb_column_1_3,
body.search #page-container .entry-content .et_pb_column_1_3 {
    width: 31.7%;
}

body.archive.tag #page-container .entry-content .et_pb_column_2_3,
body.search #page-container .entry-content .et_pb_column_2_3 {
    width: 64.6%;
    margin-right: 3.7%;
    padding-top: 17px;
}

body.archive.category #page-container #main-content .et_pb_section:not(.mozart_footer):not(.moz-header1) .et_pb_row,
body.archive.tag #page-container #main-content .et_pb_section:not(.mozart_footer) .et_pb_row,
body.search #page-container #main-content .et_pb_section:not(.mozart_footer) .et_pb_row {
    padding-top: 165px !important;
}

/*Sidebar*/

body.search .search_sidebar.et_pb_promo .et_pb_promo_description {
    padding-bottom: 5px;
}

body.search .search_sidebar.et_pb_promo h2 {
    padding-bottom: 0 !important;
}

body.search .search_sidebar.et_pb_promo strong {
    font-size: 24px !important;
    color: #243767 !important;
    font-weight: 400;
    margin-top: 24px !important;
    display: block;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
}

body.search .search_sidebar.et_pb_promo strong:after {
    display: block !important;
    content: "" !important;
    width: 34px;
    background-color: #608ad8;
    height: 2px;
    margin: 20px 0 14px;

}

body.search .search_sidebar.et_pb_promo a:hover {
    opacity: 0.5;
}

body.search .search_sidebar.et_pb_promo a {
    color: #999999 !important;
}

body.search .search_sidebar.et_pb_promo .et_pb_promo_description p {
    padding-bottom: 0 !important;
}

/*Pagination*/
body.search #page-container .pagination {
    border-top: 1px solid #e7e7e7 !important;
    padding-top: 10px;
}

body.search #page-container .pagination a {
    color: #608ad8 !important;
    font-weight: 600;
}

body.search #page-container .pagination a:hover {
    opacity: 0.6;
}




body.search #page-container .entry-featured-image-url {
    margin-bottom: 29px;
    overflow: hidden;
    background: #243767;
    display: none !important;
}


body.search #page-container article .entry-featured-image-url:before {
    content: "Read More";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    z-index: 11;
    opacity: 0;
    transform: translate(-160%, -50%);
    -webkit-transform: translate(-160%, -50%);
    -ms-transition-delay: .4s;
    transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

body.search #page-container article:hover .entry-featured-image-url:before {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
}

body.search #page-container article .entry-featured-image-url:after {
    background: #fff;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 0;
    -ms-transition-delay: .4s;
    transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

body.search #page-container article:hover .entry-featured-image-url:after {
    width: 30%;
    z-index: 6;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
}

body.search #page-container article .entry-featured-image-url img {
    transition: 0.3s;
}

body.search #page-container article:hover .entry-featured-image-url img {
    opacity: 0.3;
}



/*Responsive*/

@media only screen and (min-width: 1930px) {
    body.search #page-container #main-content .et_pb_column_1_3 .et_pb_promo {
        padding: 60px !important;
    }

    body.archive.category #page-container #main-content .et_pb_section:not(.mozart_footer):not(.moz-header1) .et_pb_row,
    body #page-container #main-content .et_pb_section.author_page .et_pb_row,
    body.archive.tag #page-container #main-content .et_pb_section:not(.mozart_footer) .et_pb_row,
    body.search #page-container #main-content .et_pb_section:not(.mozart_footer) .et_pb_row {
        padding-top: 200px !important;
    }
}

@media only screen and (max-width: 980px) {
    body.archive.tag #page-container .entry-content .et_pb_column_1_3,
    body.search #page-container .entry-content .et_pb_column_1_3 {
        width: 40% !important;
    }

    body.archive.tag #page-container .et_pb_section:not(.moz-header1) .et_pb_column_2_3,
    body.search #page-container .et_pb_section:not(.moz-header1) .et_pb_column_2_3 {
        width: 57% !important;
        margin-right: 3%;
        padding-top: 0;
    }

    body.archive.category #page-container #main-content .et_pb_section:not(.mozart_footer):not(.moz-header1) .et_pb_row,
    body.archive.tag #page-container #main-content .et_pb_section:not(.mozart_footer):not(.moz-header1) .et_pb_row,
    body.search #page-container #main-content .et_pb_section:not(.mozart_footer):not(.moz-header1) .et_pb_row {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        width: 90% !important;
    }
}

@media only screen and (max-width: 767px) {
    body.archive.tag #page-container #main-content .et_pb_column_1_3 .et_pb_promo,
    body.search #page-container #main-content .et_pb_column_1_3 .et_pb_promo {
        padding: 40px !important;
    }

    body.archive.tag #page-container .entry-content .et_pb_column_1_3,
    body.search #page-container .entry-content .et_pb_column_1_3 {
        width: 100% !important;
    }

    body.archive.tag #page-container .entry-content .et_pb_section:not(.moz-header1) .et_pb_column_2_3,
    body.search #page-container .entry-content .et_pb_section:not(.moz-header1) .et_pb_column_2_3 {
        width: 100% !important;
        margin-right: 0;
        padding-top: 0;
    }

    body.search h2.search_title {
        padding-bottom: 20px !important;
    }
}

@media only screen and (max-width: 480px) {
    body.archive.tag #page-container #main-content .et_pb_column_1_3 .et_pb_promo,
    body.search #page-container #main-content .et_pb_column_1_3 .et_pb_promo {
        padding: 20px !important;
    }

}