/*Header*/

.mozart_coach_header .et-pb-icon-circle {
    padding: 11px !important;
}

.mozart_coach_header .et_pb_image_wrap {
    max-width: 100% !important;
}

/** Icon animation **/

.mozart_coach_header .et_pb_main_blurb_image .et-pb-icon {
    border-radius: 0 !important;
}

.mozart_coach_header .et_pb_main_blurb_image a:hover {
    transform: scale(0.9);

}

.mozart_coach_header .et_pb_main_blurb_image a {
    transition: all 0.3s;
    transform: scale(1);
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

#page-container .mozart_coach_header .et_pb_button_wrapper a.et_pb_promo_button {
    padding: 15px 34px !important;
}

/*Success*/

.mozart_coach_succsess .et_pb_blurb:last-child {
    margin-right: 0 !important;
}

.mozart_coach_succsess .et_pb_blurb {
    margin-right: 3.7% !important;
    width: 17%;
}

/*Hover*/

.mozart_coach_succsess .et_pb_blurb {
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}

.mozart_coach_succsess .et_pb_blurb .et_pb_blurb_container,
.mozart_coach_succsess .et_pb_blurb .et_pb_main_blurb_image img {
    transition: 0.2s;
}

.mozart_coach_succsess .et_pb_blurb:hover .et_pb_main_blurb_image img {
    transform: translate(0, 10px);
}

.mozart_coach_succsess .et_pb_blurb:hover:after {
    transition-delay: 0.3s;
    transform: scale(1);
    opacity: 1;
}

body .mozart_coach_succsess .et_pb_blurb:hover .et_pb_blurb_container {
    transform: translate(0, -10px);
}

.mozart_coach_succsess .et_pb_blurb:hover {
    border-color: #1a284d;
}

.mozart_coach_succsess .et_pb_blurb:hover:before {
    top: 0;
}

/*Pricing Tables*/

.mozart_coach_pricing .et_pb_pricing_content .et_pb_pricing li span:before {
    display: none !important;
}

#page-container .mozart_coach_pricing .et_pb_button_wrapper a.et_pb_pricing_table_button {
    padding: 11px 5px !important;
}

.mozart_coach_pricing .et_pb_pricing_table.et_pb_featured_table .et_pb_dollar_sign {
    color: #fff !important;
}

.mozart_coach_pricing .et_pb_row {
    width: 95% !important;
}

.mozart_coach_pricing .et_pb_pricing_table:not(.et_pb_featured_table ) {
    margin-top: 0 !important;
}

.mozart_coach_pricing ul.et_pb_pricing li {
    text-align: center;
}

.mozart_coach_pricing .et_pb_pricing_table {
    padding-bottom: 24px !important;
}

/*Testimonials*/
.mozart_coach_testimonials .et_pb_testimonial_portrait:before {
    content: '“';
    font-family: 'Playfair Display';
    width: auto !important;
    height: auto !important;
    line-height: 100%;
    box-shadow: none !important;
    font-size: 92px;
    top: auto;
    left: 16px;
    bottom: -57px;
}

/*Columns*/

.mozart_coach_testimonials .et_pb_column_1_3:last-child {
    margin-right: 0 !important;
}

.mozart_coach_testimonials .et_pb_column_1_3 {
    width: 31% !important;
    margin-right: 3.1% !important;
}

/*Help and coaching*/

.mozart_coach_coaching .et_pb_blurb,
.mozart_coach_help .et_pb_blurb {
    overflow: hidden;
}

.mozart_coach_coaching .et_pb_blurb .et_pb_main_blurb_image img,
.mozart_coach_help .et_pb_blurb .et_pb_main_blurb_image img {
    display: block !important;
    width: 100% !important;
}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_container:after,
.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_container:before,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_container:after,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_container:before {
    content: "";
    display: block;
    transition: 0.3s;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;

}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_container:before,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_container:before {
    transition-delay: 0.6s !important;
    background-color: #ffffff;
}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_container:after,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_container:after {
    transition-delay: 0.3s !important;
    background-color: #1a284d;
    opacity: 0.7;
    transform: translate(0, 100%);
}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_container h4,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_container h4 {
    transition-delay: 0.8s !important;
    position: relative;
    z-index: 10;
    padding-bottom: 0 !important;
    transition: 0.3s;
}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_container,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_container {
    position: absolute;
    bottom: -1px;
    width: 100%;
    padding: 1.6vw 2.2vw;
}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_description a,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_description a {
    color: #fff !important;
}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_description,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_description {
    transition-delay: 0.2s !important;
    transition: 0.3s;
    z-index: 10;
    position: relative;
    margin-top: -21px;
    transform: translate(0, 50px);
    opacity: 0;
}

.mozart_coach_coaching .et_pb_blurb .et_pb_blurb_description:after,
.mozart_coach_help .et_pb_blurb .et_pb_blurb_description:after {
    transition-delay: 0s !important;
    transition: 0.3s;
    display: inline-block !important;
    content: "9";
    position: absolute;
    top: 50%;
    z-index: 99;
    font-family: ETmodules;
    line-height: 100%;
    font-size: 36px;
    right: 0;
    transform: translate(70px, -50%);
    opacity: 0;
    color: #fff !important;
}

/*Hover*/

.mozart_coach_coaching .et_pb_blurb:hover .et_pb_blurb_description:after,
.mozart_coach_help .et_pb_blurb:hover .et_pb_blurb_description:after {
    transition-delay: 0.8s !important;
    opacity: 1;
    transform: translate(0, -50%);
}

.mozart_coach_coaching .et_pb_blurb:hover .et_pb_blurb_description,
.mozart_coach_help .et_pb_blurb:hover .et_pb_blurb_description {
    transition-delay: 0.6s !important;
    transform: translate(0, 0);
    opacity: 1;
}

.mozart_coach_coaching .et_pb_blurb:hover .et_pb_blurb_container:before,
.mozart_coach_help .et_pb_blurb:hover .et_pb_blurb_container:before {
    transition-delay: 0.2s !important;
    transform: translate(0, 100%);
}

.mozart_coach_coaching .et_pb_blurb:hover .et_pb_blurb_container:after,
.mozart_coach_help .et_pb_blurb:hover .et_pb_blurb_container:after {
    transition-delay: 0.5s !important;
    transform: translate(0, 0);
}

.mozart_coach_coaching .et_pb_blurb:hover .et_pb_blurb_container h4,
.mozart_coach_help .et_pb_blurb:hover .et_pb_blurb_container h4 {
    transition-delay: 0s !important;
    transform: translate(0, 50px);
    opacity: 0;
}

/*Blog*/

.mozart_coach_blog article h2.entry-title img.avatar {
    display: none !important;
}

.mozart_coach_blog article {
    position: relative;
    width: 48.5% !important;
    margin-right: 3% !important;
    float: left;
    margin-bottom: 30px;
    background-color: #fff;
    padding-right: 2%;
    cursor: pointer;
    border: 1px solid #dfe8f7 !important;
    overflow: hidden;

}

.mozart_coach_blog article:nth-child(2n+2) {
    margin-right: 0 !important;
}

.mozart_coach_blog .post-meta span.published {
    position: absolute;
    background: #608ad8;
    color: #fff;
    max-width: 57px;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 100%;
    padding: 10px;
}

.mozart_coach_blog .author.vcard:before {
    content: "By ";
    display: inline-block;
    margin-right: 5px;
    color: #627792 !important;
}

.mozart_coach_blog .author.vcard {
    margin-bottom: 21px !important;
    display: block;
}

.mozart_coach_blog .author.vcard a {
    color: #627792 !important;

}

.mozart_coach_blog a.entry-featured-image-url {
    max-width: 269px;
    float: left;
    height: 264px;
    overflow: hidden;
    margin-right: 6.9%;
    margin-bottom: 0 !important;
}

.mozart_coach_blog a.entry-featured-image-url img {
    height: 100% !important;
    width: auto !important;
    max-width: none !important;

    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

.mozart_coach_blog .post-content {
    display: none !important;
}

.mozart_coach_blog .post-meta .categories {
    display: block;
}

/*Hovers*/

.mozart_coach_blog article:hover {
    box-shadow: none;
    box-shadow: inset 0 0 0 1px #e1e1e1;
}

.mozart_coach_blog article:after,
.mozart_coach_blog article:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    pointer-events: none;
    width: calc(100% - 210px);
    height: auto;
    z-index: 999999999999;
    visibility: visible;
}

.mozart_coach_blog article:after {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
}

.mozart_coach_blog article:before {
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.mozart_coach_blog article:hover:after,
.mozart_coach_blog article:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mozart_coach_blog article:hover:after {
    -webkit-transition-duration: 1s !important;
    transition-duration: 0.6s !important;
}

.mozart_coach_blog article a.entry-featured-image-url:before,
.mozart_coach_blog article:before,
.mozart_coach_blog article,
.mozart_coach_blog article .entry-featured-image-url,
.mozart_coach_blog article .entry-featured-image-url img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mozart_coach_blog article:hover a.entry-featured-image-url:before {
    right: -25px;
}

.mozart_coach_blog article a.entry-featured-image-url:before {
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: rotate(45deg);
    visibility: visible !important;
    z-index: 3 !important;
    background-color: #fff !important;

    right: -70px;
}

.mozart_coach_blog article:hover a.entry-featured-image-url {
    max-width: 170px;

}

.mozart_coach_blog article:hover .author.vcard a,
.mozart_coach_blog article:hover .post-content,
.mozart_coach_blog article:hover .post-meta .categories,
.mozart_coach_blog article:hover .post-meta .published,
.mozart_coach_blog article:hover h2.entry-title {
    -webkit-animation: fadeIn 1s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    .mozart_coach_succsess .et_pb_row .et_pb_blurb {
        padding: 39.5px 10px !important;
    }
}

@media only screen and (max-width: 1390px) {
    .mozart_coach_blog a.entry-featured-image-url {
        max-width: 159px;
        height: 224px;
    }

    .mozart_coach_blog article:after,
    .mozart_coach_blog article:before {
        width: calc(100% - 170px);
        top: 10px;
        right: 10px;
        bottom: 10px;
    }

    .mozart_coach_blog article:hover a.entry-featured-image-url {
        max-width: 150px;
    }

    .mozart_coach_testimonials .et_pb_row,
    .mozart_coach_blog .et_pb_row,
    .mozart_coach_coaching_top .et_pb_row,
    .mozart_coach_coaching .et_pb_row,
    .mozart_coach_succsess .et_pb_row,
    .mozart_coach_help_top .et_pb_row,
    .mozart_coach_help .et_pb_row {
        width: 90% !important;
    }

    .mozart_coach_coaching .et_pb_blurb .et_pb_blurb_container, .mozart_coach_help .et_pb_blurb .et_pb_blurb_container {
        padding: 20px 20px;
    }

    .mozart_coach_coaching_top .et_pb_row {
        width: 90% !important;
    }
}

@media only screen and (max-width: 1390px) and (min-width: 981px) {
    .mozart_coach_help_top .et_pb_row:first-child .et_pb_column_2_3 {
        width: 55% !important;
    }

    .mozart_coach_help_top .et_pb_row:first-child .et_pb_column_1_3 {
        width: 42% !important;
        margin-right: 3% !important;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .mozart_coach_header .et_pb_promo_description {
        padding-bottom: 20px !important;
    }

    #page-container .mozart_coach_header .et_pb_blurb .et_pb_main_blurb_image {
        margin-bottom: 0 !important;
    }

    #page-container .mozart_coach_header .et_pb_blurb {
        padding: 17vw 0 !important;
    }

    #page-container .mozart_coach_succsess .et_pb_column_4_4 {
        text-align: center !important;
    }

    #page-container .mozart_coach_succsess .et_pb_blurb:nth-child(3),
    #page-container .mozart_coach_succsess .et_pb_blurb:last-child {
        margin-right: 0 !important;
    }

    #page-container .mozart_coach_succsess .et_pb_blurb {
        margin-right: 2% !important;
        width: 31%;
        display: inline-block;
        float: none !important;
        vertical-align: top !important;
        padding: 30px 10px !important;
    }

    .mozart_coach_pricing .et_pb_pricing_table:last-child {
        margin-bottom: 0 !important;
    }

    .mozart_coach_pricing .et_pb_pricing_table {
        width: 100% !important;
        max-width: 400px;
        margin: 0 auto !important;
        float: none;
        margin-top: 0 !important;
        margin-bottom: 30px !important;
    }

    .mozart_coach_testimonials .et_pb_column_1_3:first-child {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .mozart_coach_testimonials .et_pb_column_1_3 {
        width: 48% !important;
        margin-right: 4% !important;
    }

    #page-container .mozart_coach_testimonials .et_pb_testimonial .et_pb_testimonial_description,
    #page-container .mozart_coach_testimonials .et_pb_column_1_3 .et_pb_text {
        text-align: center !important;
        margin: 0 !important;
    }

    .mozart_coach_blog a.entry-featured-image-url {
        max-width: 230px;
    }

    .mozart_coach_blog article {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 40px;
    }

    .mozart_coach_blog article h2.entry-title {
        margin-top: 4vw;
    }

    .mozart_coach_pricing .et_pb_row:first-child .et_pb_column_1_3 {
        margin-bottom: 15px !important;
    }

    .mozart_coach_succsess .et_pb_row:first-child .et_pb_text,
    .mozart_coach_pricing .et_pb_row:first-child .et_pb_text,
    .mozart_coach_coaching_top .et_pb_text,
    .mozart_coach_help_top .et_pb_text {
        text-align: center !important;
    }

    .mozart_coach_coaching .et_pb_column_1_3 .et_pb_blurb:last-child,
    .mozart_coach_help .et_pb_column_1_2:last-child {
        margin-right: 0 !important;
    }

    .mozart_coach_coaching .et_pb_column_1_3 .et_pb_blurb,
    .mozart_coach_help .et_pb_column_1_2 {
        width: 48% !important;
        margin-right: 4% !important;
    }

    .mozart_coach_coaching .et_pb_column_1_3 {
        margin-bottom: 0 !important;
    }

    .mozart_coach_coaching .et_pb_column_1_3 .et_pb_blurb {
        float: left;
    }

    .mozart_coach_pricing .et_pb_pricing .et_pb_pricing_content_top {
        padding-bottom: 15px !important;
    }

    .mozart_coach_pricing .et_pb_pricing .et_pb_pricing_heading {
        padding-top: 20px !important;
    }
}

@media only screen and (max-width: 767px) {
    #page-container .mozart_coach_header .et_pb_blurb {
        padding: 14vw 0 !important;
    }

    #page-container .mozart_coach_succsess .et_pb_blurb {
        width: 47%;
    }

    #page-container .mozart_coach_succsess .et_pb_blurb:nth-child(3) {
        margin-right: 2% !important;
    }

    #page-container .mozart_coach_succsess .et_pb_blurb:last-child,
    #page-container .mozart_coach_succsess .et_pb_blurb:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    #page-container .mozart_coach_testimonials .et_pb_row {
        width: 90% !important;
    }

    .mozart_coach_coaching .et_pb_column_1_3 .et_pb_blurb,
    .mozart_coach_help .et_pb_column_1_2 {
        width: 100% !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    .mozart_coach_blog a.entry-featured-image-url {
        max-width: 100%;
        height: auto;
        width: 100%;
        float: none;
    }

    .mozart_coach_blog a.entry-featured-image-url img {
        height: auto !important;
        width: 100% !important;
        max-width: 100% !important;
        left: 0;
        transform: translate(0, 0);
        position: relative;
        margin-bottom: 20px;
    }

    .mozart_coach_blog article .post-meta,
    .mozart_coach_blog article h2.entry-title {
        margin-top: 0 !important;
        padding: 0 20px 20px;
    }

    .mozart_coach_blog article {
        padding-right: 0 !important;
    }

    .mozart_coach_blog article:hover a.entry-featured-image-url {
        max-width: none;
    }

    .mozart_coach_blog article:after, .mozart_coach_blog article:before {
        display: none;
    }

    .mozart_coach_blog article a.entry-featured-image-url:before {
        bottom: -40px;
        top: auto;
        right: 0;
        left: 0;
    }

    .mozart_coach_blog article:hover a.entry-featured-image-url:before {
        right: 0;
        bottom: -11px;
    }

}

@media only screen and (max-width: 480px) {
    #page-container .mozart_coach_header .et_pb_blurb {
        padding: 70px 0 !important;
    }

    .mozart_coach_header .et-pb-icon-circle {
        padding: 4px !important;
    }

    #page-container .mozart_coach_succsess .et_pb_blurb {
        width: 100%;
        margin-right: 0 !important;
    }

    #page-container .mozart_coach_succsess .et_pb_blurb:nth-child(3) {
        margin-right: 0 !important;
    }

    #page-container .mozart_coach_pricing .et_pb_row {
        width: 90% !important;
    }

    #page-container .mozart_coach_testimonials .et_pb_column_1_3:nth-child(2) {
        padding-bottom: 40px;
    }

    .mozart_coach_testimonials .et_pb_column_1_3 {
        width: 100% !important;
    }
}