.moz_blog article:nth-child(3n + 3) {
    margin-right: 0 !important;
}

.moz_blog article {
    width: 31.5% !important;
    margin-right: 2.7% !important;
    float: left;

    border-radius: 0;
    border: 1px solid #e7eef9 !important;
    text-align: center;
    padding-bottom: 0 !important;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 37px !important;
}

.moz_blog article:last-child {
    margin-right: 0 !important;
}

.moz_blog .post-meta .categories {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
}

.moz_blog h2.entry-title > a {
    display: inline-block;
}

#page-container .moz_blog .post-meta .author.vcard a {
    color: #608ad8 !important;
}

#page-container .moz_blog .post-meta .author.vcard {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    color: #608ad8 !important;
    font-weight: 400;
    font-size: 18px !important;

}

#page-container .moz_blog .post-meta .author.vcard a {
    font-size: 18px !important;
}

.moz_blog .post-content {
    display: none !important;
}

#page-container .moz_blog .post-meta .author.vcard img {
    display: block !important;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.moz_blog .et_pb_image_container a {
    height: 100% !important;
    margin-bottom: 0 !important;
}

.moz_blog .et_pb_image_container a img {
    height: 100% !important;
    width: auto !important;
    max-width: none !important;

    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

.moz_blog .post_info {
    position: relative;
    padding: 50px 20px 207px !important;
}

/*Hovers*/

#page-container .moz_blog .post-meta .author.vcard img,
.moz_blog article,
.moz_blog article .entry-featured-image-url img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.moz_blog article .entry-featured-image-url {
    overflow: hidden;
}

.moz_blog article:hover .entry-featured-image-url img {
    transform: scale(1.1) rotate(3deg);
}

#page-container .moz_blog article:hover .post-meta .author.vcard img {
    transform: rotate(5deg) scale(1.05);
}

.moz_blog article:hover {
    box-shadow: none;
    border-color: #e1e1e1 !important;
}

.moz_blog article:hover .author.vcard a,
.moz_blog article:hover .post-content,
.moz_blog article:hover .post-meta .categories,
.moz_blog article:hover .post-meta .published,
.moz_blog article:hover h2.entry-title {
    -webkit-animation: fadeIn 0.2s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.2s infinite;
    animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    #page-container .moz_blog .et_pb_row:first-child {
        padding-top: 220px;
    }
}

@media only screen and (max-width: 1390px) and (min-width: 981px) {
    #page-container .moz_blog .et_pb_row:first-child {
        padding-top: 140px;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .moz_blog .column {
        width: 100% !important;
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none !important;
    }

    #page-container .moz_blog .et_pb_row:not(.section_bottom_lines_image) {
        width: 90% !important;
    }
}

@media only screen and (max-width: 767px) {
    .moz_blog article {
        width: 49% !important;
        margin-right: 2% !important;
    }

    .moz_blog article:nth-child(3n + 3) {
        margin-right: 2% !important;
    }

    .moz_blog article:nth-child(2n + 2) {
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .moz_blog .et_pb_row.section_bottom_lines_image {
        width: 100% !important;
    }

    #page-container .moz_blog .et_pb_row:not(.section_bottom_lines_image) {
        width: 80% !important;
    }

    .moz_blog article {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .moz_blog article:nth-child(3n + 3) {
        margin-right: 0 !important;
    }

    .moz_blog h2.entry-title > a {
        height: auto !important;
    }
}

/*Simple Blog*/

.moz_simple_blog .et_pb_posts article:nth-child(2n+2) {
    margin-right: 0 !important;
}

.moz_simple_blog .et_pb_posts article {
    width: 49% !important;
    margin-right: 2% !important;
    border: 1px solid #dfe8f7 !important;
    float: left !important;
    padding: 2.25vw 2.1vw 2vw;
    margin-bottom: 30px;
    overflow: hidden;
}

.moz_simple_blog .et_pb_posts article h2 a {
    display: block;
}

.moz_simple_blog .et_pb_posts article h2 {
    line-height: 130%;
    padding-bottom: 20px;
}

.moz_simple_blog .et_pb_posts article .post-meta {
    margin-bottom: 19px !important;
}

.moz_simple_blog .et_pb_posts article a.more-link {
    font-size: 0;
    line-height: 100%;
}

.moz_simple_blog .et_pb_posts article a.more-link:before {
    content: "$";
    display: inline-block;
    font-size: 38px;
    font-weight: 100;
    font-family: "ETmodules";
    color: #d8d8d8;
    margin-top: 35px;
}

/*Hover*/

.moz_simple_blog .et_pb_posts article:before{
    content: "";
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-color: #243767;
    z-index: 0;
}

.moz_simple_blog .et_pb_posts article:hover:before{
    top: 0;
}

.moz_simple_blog .et_pb_posts article:hover .post-meta,
.moz_simple_blog .et_pb_posts article:hover .post-meta a,
.moz_simple_blog .et_pb_posts article:hover  h2 a,
.moz_simple_blog .et_pb_posts article:hover .post-content,
.moz_simple_blog .et_pb_posts article:hover .post-content p,
.moz_simple_blog .et_pb_posts article:hover .post-content a.more-link{
    color: #fff !important;
    z-index: 10;
    position: relative;
}


/*Responsive*/

@media only screen and (min-width: 1930px) {
    .moz_simple_blog .et_pb_posts article {
        padding: 50px !important;
    }


    .moz_simple_blog{
        padding-top: 100px !important;
    }
}

@media only screen and (max-width: 980px) {
    .moz_simple_blog .et_pb_row {
        width: 90% !important;
    }

    .moz_simple_blog .et_pb_posts article {
        padding: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .moz_simple_blog .et_pb_posts article {
        width: 100% !important;
        margin-right: 0 !important;
        padding: 40px !important;
    }

    .moz_simple_blog .et_pb_posts article h2 a {
        height: auto !important;
    }
}

@media only screen and (max-width: 480px) {
    .moz_simple_blog .et_pb_posts article {
        padding: 20px !important;
    }

    .moz_simple_blog .et_pb_posts article h2 {
        padding-bottom: 10px;
    }
}
