/*Blog Posts*/

body.category #page-container .et_pb_promo{
    margin-bottom: 0 !important;
}
#page-container .cat_page_content article .more-link:before {
    content: "$";
    font-family: "ETmodules";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

#page-container .cat_page_content article .more-link {
    color: #608ad8 !important;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 400 !important;
}

#page-container .cat_page_content article .more-link:hover {
    opacity: 0.6;
}

#page-container .cat_page_content .post-content {
    max-width: 680px;
}

#page-container .cat_page_content .entry-featured-image-url {
    margin-bottom: 29px;
    display: block;
    overflow: hidden;
    background: #243767;
}

#page-container .cat_page_content article:last-child {
    margin-bottom: 0 !important;
}

#page-container .cat_page_content article {
    margin-bottom: 38px !important;
}

#page-container .cat_page_content article .entry-featured-image-url:before {
    content: "Read More";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    z-index: 11;
    opacity: 0;
    transform: translate(-160%, -50%);
    -webkit-transform: translate(-160%, -50%);
    -ms-transition-delay: .4s;
    transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

#page-container .cat_page_content article:hover .entry-featured-image-url:before {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
}

#page-container .cat_page_content article .entry-featured-image-url:after {
    background: #fff;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 0;
    -ms-transition-delay: .4s;
    transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

#page-container .cat_page_content article:hover .entry-featured-image-url:after {
    width: 30%;
    z-index: 6;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
}

#page-container .cat_page_content article .entry-featured-image-url img {
    transition: 0.3s;
}

#page-container .cat_page_content article:hover .entry-featured-image-url img {
    opacity: 0.3;
}

/*Columns*/

#page-container .cat_page_content .et_pb_column_1_3 {
    width: 31.7%;
}

#page-container .cat_page_content .et_pb_column_2_3 {
    width: 64.6%;
    margin-right: 3.7%;
}

/*Sidebar*/

.cat_page_content .sidebar_category .et_pb_widget {
    margin-bottom: 0 !important;
}

.cat_page_content .sidebar_category .et_pb_widget ul li {
    margin-bottom: 0 !important;
}

.cat_page_content .sidebar_category .et_pb_widget ul li a:before {
    content: "$";
    font-family: "ETmodules";
    display: inline-block;
    vertical-align: middle;
    left: 12px;
    position: absolute;
}

.cat_page_content .sidebar_category .et_pb_widget ul li a {
    display: block;
    padding: 14px 0 14px 35px;
    border-bottom: 1px solid #dbe2e2;
    position: relative;
}

.cat_page_content .sidebar_category .et_pb_widget ul li:first-child a {
    padding-top: 0 !important;
}

.cat_page_content .sidebar_category .et_pb_widget ul li a:hover {
    color: #608ad8 !important;
}

/*Form*/

#page-container .cat_page_content .et_pb_newsletter_form p:last-child {
    margin-bottom: 0 !important;
}

#page-container .cat_page_content .et_pb_newsletter_form p {
    padding-bottom: 0;
    margin-bottom: 9px;
    flex-basis: unset !important;
}

.cat_page_content .et_pb_newsletter p label {
    display: block !important;
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cat_page_content .et_pb_newsletter .et_pb_newsletter_form .et_pb_newsletter_fields{
    display: block;
    flex-wrap: unset;
}
.cat_page_content .et_pb_newsletter .et_pb_newsletter_form {
    display: block !important;
}
.cat_page_content .et_pb_newsletter .et_pb_newsletter_form p input{
    padding: 20px!important;

}
.cat_page_content .et_pb_newsletter .et_pb_newsletter_form p {
    position: relative;
}

#page-container .cat_page_content .et_pb_newsletter_form p input::-webkit-input-placeholder {
    color: transparent !important;
}
#page-container .cat_page_content .et_pb_newsletter_form p input::-moz-placeholder {
    color: transparent !important;
}
#page-container .cat_page_content .et_pb_newsletter_form p input:-ms-input-placeholder {
    color: transparent !important;
}
#page-container .cat_page_content .et_pb_newsletter_form p input:-moz-placeholder {
    color: transparent !important;
}

/*Hover effects*/

.cat_page_content .et_pb_newsletter .filled label,
.cat_page_content .et_pb_newsletter p input:focus + label {
    -webkit-transform: translate(60%, -50%);
    transform: translate(60%, -50%);
    opacity: 0;
}

.cat_page_content .et_pb_newsletter .filled input,
.cat_page_content .et_pb_newsletter input:focus {
    color: #666 !important;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0 0 1px #9b9b9b;
}

.cat_page_content .et_pb_newsletter p:not(.filled):not(.focus) input {
    color: transparent !important;
}

/*Pagination*/

.cat_page_content .pagination {
    border-top: 1px solid #e7e7e7 !important;
    padding-top: 10px;
}

.cat_page_content .pagination a {
    color: #608ad8 !important;
    font-weight: 600;
}

.cat_page_content .pagination a:hover {
    opacity: 0.6;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    #page-container .cat_page_content.cat_page_content1 {
        padding-top: 100px;
    }

    #page-container .cat_page_content .et_pb_row {
        padding-top: 160px;
    }

    #page-container .cat_page_content .et_pb_column_1_3 {
        padding-top: 0;
    }

    #page-container .cat_page_content .et_pb_column_1_3 .et_pb_newsletter,
    #page-container .cat_page_content .et_pb_column_1_3 .et_pb_widget_area {
        padding: 50px !important;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .cat_page_content .et_pb_row {
        width: 90% !important;
    }

    #page-container .cat_page_content .et_pb_column_2_3 {
        width: 57% !important;
        margin-right: 3%;
    }

    #page-container .cat_page_content .et_pb_column_1_3 {
        width: 40% !important;
    }

    .cat_page_content .et_pb_newsletter .et_pb_newsletter_form {
        padding-left: 0 !important;
        width: 100% !important;
    }

    .cat_page_content .et_pb_newsletter {
        display: block !important;
    }
    .cat_page_content .et_pb_newsletter .et_pb_newsletter_description,
    .cat_page_content .sidebar_category .et_pb_widget {
        width: 100% !important;
    }

    #page-container .autor_info_box .et_pb_team_member_image {
        vertical-align: top !important;
    }
}

@media only screen and (max-width: 767px) {
    #page-container .cat_page_content .et_pb_column_2_3 {
        width: 100% !important;
        margin-right: 0;
    }

    #page-container .cat_page_content .et_pb_column_1_3 {
        width: 100% !important;
    }

    #page-container .cat_page_content .et_pb_column_1_3 .et_pb_newsletter,
    #page-container .cat_page_content .et_pb_column_1_3 .et_pb_widget_area {
        padding: 40px !important;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .cat_page_content .et_pb_column_1_3 .et_pb_newsletter,
    #page-container .cat_page_content .et_pb_column_1_3 .et_pb_widget_area {
        padding: 30px !important;
    }

    #page-container .autor_info_box .et_pb_team_member_description {
        width: 100% !important;
    }

    #page-container .autor_info_box .et_pb_team_member_image img {
        display: block;
        width: 100%;
    }

    #page-container .autor_info_box .et_pb_team_member_image {
        width: 100% !important;
        margin-bottom: 20px;
        max-width: 100%;
    }
}



