/*Header*/
/*Css animation*/

.mozart_start_up_header .et_pb_image a:hover img {
    -webkit-animation: mymove 1s infinite;
    animation: mymove 1s infinite;
    position: relative;
    animation-iteration-count: 1;
}

@keyframes mymove {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -9px, 0);
        transform: translate3d(0, -9px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

/*Solutions*/

.mozart_start_up_simple_solution .et_pb_column_2_3 .et_pb_image img {
    display: block !important;
    width: 100% !important;
}

.mozart_start_up_simple_solution .et_pb_column_1_3 {
    width: 34% !important;
}

.mozart_start_up_simple_solution .et_pb_column_2_3 {
    width: 57% !important;
    margin-right: 8.7% !important;
}

/*Blurbs*/

.mozart_start_up_blurbs .et_pb_blurb {
    overflow: hidden;
}

.mozart_start_up_blurbs .et_pb_blurb .et_pb_main_blurb_image img {
    display: block !important;
    width: 100% !important;
}

.mozart_start_up_blurbs .et_pb_blurb .et_pb_blurb_container {
    padding: 20px 0 11px 23px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.mozart_start_up_blurbs .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description p {
    transition: 0s !important;
}

.mozart_start_up_blurbs .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description,
.mozart_start_up_blurbs .et_pb_blurb .et_pb_blurb_container h4 {
    position: relative;
    z-index: 10;
    transition: 0.3s;
}

.mozart_start_up_blurbs .et_pb_blurb .et_pb_blurb_container:before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.mozart_start_up_blurbs .et_pb_blurb:hover .et_pb_blurb_container:before {
    transform: translate(0, 100%);

}

.mozart_start_up_blurbs .et_pb_blurb:hover .et_pb_blurb_container .et_pb_blurb_description,
.mozart_start_up_blurbs .et_pb_blurb:hover .et_pb_blurb_container h4 {
    color: #fff !important;
}

.mozart_start_up_blurbs .et_pb_column_1_4 {
    overflow: hidden !important;
}

.mozart_start_up_blurbs .et_pb_blurb .inner_box {
    content: "";
    display: block;
    background-color: #1a284d;
    opacity: 0.8;
    position: absolute;
    transition: 0.4s !important;
    z-index: 9;
    border-radius: 100%;
    will-change: transform;
    transform: scale(0);

}

/*Testimonials*/

.mozart_start_up_testimonials .et_pb_testimonial_portrait:before {
    content: '“';
    font-family: 'Playfair Display';
    width: auto !important;
    height: auto !important;
    line-height: 100%;
    box-shadow: none !important;
    font-size: 92px;
    top: -27px;
    left: -3px;
}

/*Columns*/

.mozart_start_up_testimonials .et_pb_column_1_2:first-child {
    margin-right: 4% !important;
}

/**************************/

.mozart_start_up_more_about .et_pb_column_1_3:hover:before {
    top: 0;
}

.mozart_start_up_more_about .et_pb_column_1_3:hover .et_pb_space:before {
    border-top-color: rgba(255, 255, 255, 0.5);
}

/*Team*/
.mozart_start_up_more_team .et_pb_team_member {
    cursor: pointer;
}

.mozart_start_up_more_team .et_pb_team_member .et_pb_team_member_image{
    max-width: 100% !important;
}
.mozart_start_up_more_team .et_pb_team_member img {
    display: block !important;
    width: 100% !important;
}

.mozart_start_up_more_team .et_pb_team_member:hover:before {
    top: 0;
}

.mozart_start_up_more_team .et_pb_team_member h4,
.mozart_start_up_more_team .et_pb_team_member p {
    transition: 0.3s !important;
}

.mozart_start_up_more_team .et_pb_team_member:hover h4,
.mozart_start_up_more_team .et_pb_team_member:hover p {
    color: #fff !important;
}

/*What's Possible*/

.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb {
    width: 13% !important;
    margin-right: 8.7% !important;
    float: left;
    text-align: center;
}

.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb:last-child {
    margin-right: 0 !important;
}

.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb {
    cursor: pointer;
}

.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb img,
.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb .et_pb_blurb_container,
.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb .et_pb_main_blurb_image {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb:hover img {
    transform: translateY(8px);
}

.mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb:hover .et_pb_blurb_container {
    transform: translateY(-12px);
    -webkit-animation: fadeIn 5s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1;
}

/*Blog*/
.mozart_start_up_blog .et_pb_posts article:nth-child(3n + 3),
.mozart_start_up_blog .et_pb_posts article:last-child {
    margin-right: 0 !important;
}

.mozart_start_up_blog .et_pb_posts article {
    width: 31.7% !important;
    margin-right: 2.4% !important;
    float: left;
    clear: none;
}

.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url img {
    display: block !important;
    width: 100% !important;
}

.mozart_start_up_blog .et_pb_posts article a.more-link,
.mozart_start_up_blog .et_pb_posts article .bottom_box a,
.mozart_start_up_blog .et_pb_posts article a[rel="category tag"] {
    transition: 0.3s;
}

.mozart_start_up_blog .et_pb_posts article a.more-link:hover,
.mozart_start_up_blog .et_pb_posts article .bottom_box a:hover,
.mozart_start_up_blog .et_pb_posts article .categories a:hover {
    opacity: 0.5;
}

.mozart_start_up_blog .et_pb_posts article .post-content {
    display: none !important;
}

.mozart_start_up_blog .et_pb_posts article .bottom_box {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 34px;
    padding: 7px 0;
}

.mozart_start_up_blog .et_pb_posts article .bottom_box .author.vcard {
    margin-right: 1vw;
}

.mozart_start_up_blog .et_pb_posts article .bottom_box span.comment {
    float: right;
}

.mozart_start_up_blog .et_pb_posts article .bottom_box .author.vcard a,
.mozart_start_up_blog .et_pb_posts article .bottom_box span.comment {
    text-transform: capitalize !important;
}

.mozart_start_up_blog .et_pb_posts article .bottom_box span.comment:before,
.mozart_start_up_blog .et_pb_posts article .bottom_box .author.vcard:before {
    font-family: ETmodules;
    text-transform: lowercase;
    margin-right: 6px;
    color: #000;
    font-weight: 700;
}

.mozart_start_up_blog .et_pb_posts article .bottom_box .author.vcard:before {
    content: "l";
}

.mozart_start_up_blog .et_pb_posts article .bottom_box span.comment:before {
    content: "v";
}

.mozart_start_up_blog .et_pb_posts article .post-meta {
    margin-bottom: 0 !important;
}

.mozart_start_up_blog .et_pb_posts article .entry-title a {
    display: block !important;
}

/*Hovers*/

.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url:after,
.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url:before,
.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url img {
    transition: 0.3s;
}




.mozart_start_up_blog .et_pb_posts article {
    cursor: pointer;
    overflow: hidden;
}

.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url {
    overflow: hidden;
}

.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url:after,
.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url:before {
    transition: 0.3s;
}

.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url {
    overflow: hidden;
    margin-bottom: 0 !important;
    background-color: #000 !important;
    max-height: 240px;
}

.mozart_start_up_blog .et_pb_posts article:hover:before {
    transition-delay: 0.3s;
    width: 27%;
    opacity: 1;
}

.mozart_start_up_blog .et_pb_posts article:before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    width: 0%;
    border-top: 1px solid #fff;
    z-index: 1;
    top: 100px;
    height: 0;
    left: 2.5vw;
    transition-delay: 0s;
    transition: 0.3s;
}

.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url:before {
    /*content: '';*/
    /*display: block;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*border: 1px solid #fff;*/
    /*z-index: 1;*/
    content: "";
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition-delay: 0.3s !important;
    transition: 0.3s;
    background-color: #243767;
    opacity: 0.8;
    visibility: visible;
    z-index: 0;
}

.mozart_start_up_blog .et_pb_posts article .entry-featured-image-url:after {
    content: 'Read More';
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translate(80%, -50%);
    width: 80%;
    font-size: 22px;
    text-align: right;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    transition-delay: 0s;
}

.mozart_start_up_blog .et_pb_posts article:hover .entry-featured-image-url:after {
    transition-delay: 0.3s;
    opacity: 1;
    transform: translate(0, -50%);
}

.mozart_start_up_blog .et_pb_posts article:hover .entry-featured-image-url:before {
    transition-delay: 0s !important;
    top:0;
}


.mozart_start_up_blog article:hover .post-content,
.mozart_start_up_blog article:hover .post-meta,
.mozart_start_up_blog article:hover h2.entry-title {
    -webkit-animation: fadeIn 0.8s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.8s infinite;
    animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    .mozart_start_up_header .et_pb_row .et_pb_image {
        margin-top: 0 !important;
    }

    .mozart_start_up_header .et_pb_row .et_pb_promo_description h2 {
        padding-bottom: 60px !important;
    }

    .mozart_start_up_header .et_pb_row {
        padding-top: 120px !important;
        padding-bottom: 100px !important;
    }

    .mozart_start_up_testimonials .et_pb_row:nth-child(2) {
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .mozart_start_up_testimonials .et_pb_row:first-child {
        padding: 20px 80px 80px 80px !important;
    }

    .mozart_start_up_testimonials_top .et_pb_row {
        padding: 80px 80px 10px 80px !important;
    }
}

@media only screen and (max-width: 1450px) {
    .mozart_start_up_blog .et_pb_posts article:before {
        top: 74px;
        left: 30px;
    }

    .mozart_start_up_blog .et_pb_posts article:hover:before {
        width: 20%;
    }

    .mozart_start_up_blog .et_pb_posts article .entry-featured-image-url {
        max-height: 148px;
    }
}

@media only screen and (max-width: 1390px) {
    /*Content 4*/
    .mozart_start_up_simple_solution .et_pb_column_1_4 .et_pb_blurb {
        max-width: 100% !important;
        margin: 0 !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_1_4 {
        padding-left: 0 !important;
    }

    .mozart_start_up_before_blurbs .et_pb_row {
        padding-top: 0 !important;
    }

    .mozart_start_up_before_blog .et_pb_row,
    .mozart_start_up_possible .et_pb_row,
    .mozart_start_up_more_team .et_pb_row,
    .mozart_start_up_settings .et_pb_row,
    .mozart_start_up_more_about .et_pb_row,
    .mozart_start_up_testimonials .et_pb_row,
    .mozart_start_up_testimonials_top .et_pb_row,
    .mozart_start_up_before_blurbs .et_pb_row,
    .mozart_start_up_blurbs .et_pb_row,
    .mozart_start_up_simple_solution .et_pb_row {
        width: 90% !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_2_3 {
        width: 57% !important;
        margin-right: 4% !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_1_3 {
        width: 39% !important;
        padding-top: 0 !important;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb h4,
    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb h4 a {
        font-size: 16px !important;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb {
        width: 16% !important;
        margin-right: 5% !important;
    }

    .mozart_start_up_blog .et_pb_posts article .bottom_box .author.vcard a,
    .mozart_start_up_blog .et_pb_posts article .bottom_box span.comment {
        text-transform: capitalize !important;
        display: inline-block;
    }

    .mozart_start_up_blog .et_pb_row {
        width: 90% !important;
    }


    .mozart_start_up_more_team .et_pb_team_member .et_pb_team_member_description {
        padding-left: 24px !important;
    }

    .mozart_start_up_more_team .et_pb_promo .et_pb_promo_description h2 {
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 980px) {

    #page-container .mozart_start_up_header .et_pb_promo_description {
        padding-bottom: 40px !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_1_3 {
        width: 47% !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_2_3 {
        width: 49% !important;
        margin-right: 4% !important;
    }

    #page-container .mozart_start_up_testimonials .et_pb_testimonial {
        padding-top: 0 !important;
    }

    .mozart_start_up_testimonials .et_pb_column_1_2 {
        width: 48% !important;
        margin-right: 4% !important;
    }

    #page-container .mozart_start_up_testimonials .et_pb_testimonial_portrait {
        float: none;
        margin: 0 auto 20px !important;
    }

    #page-container .mozart_start_up_testimonials .et_pb_testimonial .et_pb_testimonial_description {
        margin-left: 0 !important;
        padding-top: 0;
        line-height: 190%;
        text-align: center !important;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb {
        width: 18% !important;
        margin-right: 2.5% !important;
        float: left;
        text-align: center;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb:last-child {
        margin-right: 0 !important;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb .et_pb_main_blurb_image {
        max-width: 80px;
        margin: 0 auto 20px;
    }

    .mozart_start_up_blog .et_pb_posts article .entry-featured-image-url:after {
        width: 100%;
        text-align: center !important;
    }

    .mozart_start_up_blog .et_pb_posts article:before {
        display: none !important;
    }


    .mozart_start_up_testimonials .et_pb_image {
        text-align: left !important;
    }

    #page-container .mozart_start_up_testimonials .et_pb_testimonial_author {
        margin-top: 0 !important;
    }

    .mozart_start_up_more_about .et_pb_column_1_3:not(:first-child):last-child {
        margin-right: 0 !important;
    }

    .mozart_start_up_more_about .et_pb_column_1_3:not(:first-child) {
        width: 48% !important;
        margin-right: 4% !important;
    }

    .mozart_start_up_more_team .et_pb_team_member{
        padding-bottom: 30px !important;
    }

    .mozart_start_up_more_team .et_pb_column_1_4{
        margin-bottom: 0 !important;
    }

    .mozart_start_up_blog .et_pb_promo .et_pb_promo_description h2 {
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 980px) and (min-width: 768px) {

    .mozart_start_up_blog .et_pb_posts article .bottom_box span.comment {
        float: none;
        margin-top: 3px;
        display: block !important;
    }

    .mozart_start_up_blog .et_pb_row .categories {
        display: block;
    }

}

@media only screen and (max-width: 767px) {
    #page-container .mozart_start_up_header h2 {
        padding-bottom: 20px !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_1_3 {
        width: 100% !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_2_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    #page-container .mozart_start_up_testimonials_top .et_pb_row,
    #page-container .mozart_start_up_testimonials .et_pb_row {
        width: 90% !important;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb {
        width: 31% !important;
        margin-right: 2.5% !important;
        float: none !important;
        display: inline-block;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb:nth-last-child(3) {
        margin-right: 0 !important;
    }

    .mozart_start_up_more_about .et_pb_column_1_3:not(:first-child) {
        width: 100% !important;
        margin-right: 0 !important;
    }


    .mozart_start_up_possible .et_pb_row:last-child .et_pb_column_2_3{
        text-align: center !important;
        display: block !important;
    }

    .mozart_start_up_blog .et_pb_posts article {
        width: 100% !important;
        margin-right: 0% !important;
    }

    .mozart_start_up_blog .et_pb_posts article .entry-title a{
        height: auto !important;
    }

    .mozart_start_up_blog .et_pb_posts article .entry-featured-image-url {
        max-height: 400px;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .mozart_start_up_testimonials .et_pb_column_1_2:first-child {
        margin-bottom: 60px !important;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb {
        width: 100% !important;
        max-width: 130px;
        display: block;
        clear: both;
        margin: 0 auto 50px !important;
    }

    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb:last-child,
    .mozart_start_up_possible .et_pb_column_2_3 .et_pb_blurb:nth-last-child(3) {
        margin-right: auto !important;
    }

    .mozart_start_up_simple_solution .et_pb_column_1_4:last-child {
        padding-top: 40px !important;
    }

    .mozart_start_up_blurbs .et_pb_column_1_4:last-child {
        margin-bottom: 0 !important;
    }

    .mozart_start_up_blurbs .et_pb_column_1_4 {
        margin-bottom: 30px !important;
    }

    .mozart_start_up_testimonials_top .et_pb_text {
        text-align: center !important;
    }

    .mozart_start_up_testimonials_top .et_pb_text:first-child {
        margin-bottom: 10px !important;
    }

    .mozart_start_up_testimonials h3.title,
    .mozart_start_up_testimonials .percent p,
    .mozart_start_up_testimonials .et_pb_image {
        text-align: center !important;
    }

    .mozart_start_up_testimonials .et_pb_column_1_4:last-child {
        margin-bottom: 0 !important;
    }

    .mozart_start_up_testimonials .et_pb_column_1_4 {
        margin-bottom: 30px !important;
    }
}

