.mazart_faq_accordion .et_pb_accordion .et_pb_toggle h5:hover {
    opacity: 0.5;
}

.mazart_faq_accordion .et_pb_accordion .et_pb_toggle_open h5:before {
    content: "K" !important;
    display: block !important;
    margin-top: -16px;
    color: inherit;
}

.mazart_faq_accordion .et_pb_promo ul {
    padding: 0 !important;
}

.mazart_faq_accordion .et_pb_promo li:last-child {
    margin-bottom: 0;
}

.mazart_faq_accordion .et_pb_promo li {
    list-style: none !important;
    margin-bottom: 22px;
}

.mazart_faq_accordion .et_pb_promo li a:hover {
    opacity: 0.5;
}

.mazart_faq_accordion .et_pb_promo li a {
    color: inherit;
}







/*Form*/
.mozart_faq_form .et_contact_bottom_container {
    display: block !important;
    text-align: left !important;
    width: 100% !important;
    margin-top: 10px !important;
}

.mozart_faq_form .et_pb_contact_form {
    margin-left: 0 !important;
}

.mozart_faq_form .et_pb_contact_form .et_pb_contact_field {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 31px !important;
}

.mozart_faq_form .et_pb_contact_form .et_pb_contact_field_half.et_pb_contact_field_last {
    margin-right: 0 !important;
}

.mozart_faq_form .et_pb_contact_form .et_pb_contact_field_half {
    width: 48% !important;
    margin-right: 4% !important;
}

.mozart_faq_form p[data-type="checkbox"] label {
    font-size: 16px !important;
}

.mozart_faq_form p:not([data-type="checkbox"]) .et_pb_contact_form_label {
    display: block;
    font-size: 0;
    margin-bottom: -5px;
    position: relative;
    color: #627792;
}

.mozart_faq_form p:not([data-type="checkbox"]) .et_pb_contact_form_label:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a7a7a7;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: -7px;
    transform: translate(0, 45px);
    opacity: 0.2 !important;
}

.mozart_faq_form p:not([data-type="checkbox"]) .et_pb_contact_form_label[for^="et_pb_contact_message"]:after {
    height: 2px;
}

.mozart_faq_form .et_pb_contact_form_label:before {
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mozart_faq_form .et_pb_contact_form_label[for^="et_pb_contact_name"]:before {
    content: 'First and last name';
}

.mozart_faq_form .et_pb_contact_form_label[for^="et_pb_contact_email"]:before {
    content: 'Email Address here';
}

.mozart_faq_form .et_pb_contact_form_label[for^="et_pb_contact_message"]:before {
    content: 'What is your query?';
    transform: translate(0, -338px);
}

.mozart_faq_form .et_pb_contact_form p {
    overflow: visible;
}

.mozart_faq_form .et_pb_contact_form p textarea,
.mozart_faq_form .et_pb_contact_form p input {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mozart_faq_form .et_pb_contact_form p.filled textarea,
.mozart_faq_form .et_pb_contact_form p.focus textarea,
.mozart_faq_form .et_pb_contact_form p.filled input,
.mozart_faq_form .et_pb_contact_form p.focus input {
    transform: translate(0, 15px);
}

.mozart_faq_form .et_pb_contact_form p.filled .et_pb_contact_form_label:before,
.mozart_faq_form .et_pb_contact_form p.focus .et_pb_contact_form_label:before {
    transform: translate(0, 20px);
}

.mozart_faq_form .et_pb_contact_form p.filled .et_pb_contact_form_label[for="et_pb_contact_message_4"]:before,
.mozart_faq_form .et_pb_contact_form p.focus .et_pb_contact_form_label[for="et_pb_contact_message_4"]:before {
    transform: translate(0, 20px);
}

.mozart_faq_form .et_pb_contact_form p.filled .et_pb_contact_form_label:after,
.mozart_faq_form .et_pb_contact_form p.focus .et_pb_contact_form_label:after {
    transform: translate(0, 23px);
}

.mozart_faq_form .et_pb_contact_form p:not(.et_pb_contact_field_half ) {
    clear: both;
}

.mozart_faq_form .et_contact_bottom_container .et_pb_contact_right input {
    padding: 10px 5px !important;
    text-align: center;
    transform: none !important;
    border: 1px solid #e7e7e7 !important;
    font-size: 16px !important;
}

.mozart_faq_form .et_contact_bottom_container .et_pb_contact_right {
    margin-right: 20px !important;
}

/*Error*/

.mozart_faq_form .et_pb_contact_form_container .et-pb-contact-message ul {
    padding-bottom: 12px !important;
}

.mozart_faq_form .et_pb_contact_form p textarea.et_contact_error,
.mozart_faq_form .et_pb_contact_form p input.et_contact_error {
    padding-left: 15px !important;
    border: 1px solid #f00 !important;
}

.mozart_faq_form .et_pb_contact_form p textarea.et_contact_error + .et_pb_contact_form_label[for="et_pb_contact_message_4"]:before {
    transform: translate(0, 20px);
}

.mozart_faq_form textarea.et_contact_error + .et_pb_contact_form_label:after {
    transform: translate(0, 52px);
}

/*Responsive*/

@media only screen and (max-width: 980px) {


    #page-container .mozart_faq_form .et_pb_contact_form textarea.et_pb_contact_message {
        height: 260px!important;
    }

    .mozart_faq_form .et_pb_contact_form_label[for^="et_pb_contact_message"]:before {
        content: 'What is your query?';
        transform: translate(0, -197px);
    }
    .mozart_faq_form .et_pb_row,
    .mazart_faq_accordion .et_pb_row{
        width: 90% !important;
    }

    .mazart_faq_accordion .et_pb_row .et_pb_column_2_3{
        width: 67% !important;
    }
    .mazart_faq_accordion .et_pb_row .et_pb_column_1_3{
        width: 30% !important;
        margin-right: 3% !important;
    }
}

@media only screen and (max-width: 767px) {
    .mozart_faq_form .et_pb_contact_form .et_pb_contact_field_half {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .mozart_faq_form .et_pb_contact_form textarea::-webkit-input-placeholder,
    .mozart_faq_form .et_pb_contact_form input::-webkit-input-placeholder {
        font-size: 22px !important;
    }

    .mozart_faq_form .et_pb_contact_form textarea::-moz-placeholder,
    .mozart_faq_form .et_pb_contact_form input::-moz-placeholder {
        font-size: 22px !important;
    }

    .mozart_faq_form .et_pb_contact_form textarea:-ms-input-placeholder,
    .mozart_faq_form .et_pb_contact_form input:-ms-input-placeholder {
        font-size: 22px !important;
    }

    .mozart_faq_form .et_pb_contact_form textarea:-moz-placeholder,
    .mozart_faq_form .et_pb_contact_form input:-moz-placeholder {
        font-size: 22px !important;
    }


    .mazart_faq_accordion .et_pb_row .et_pb_column_2_3{
        width: 100% !important;
    }
    .mazart_faq_accordion .et_pb_row .et_pb_column_1_3{
        width: 100% !important;
        margin-right: 0 !important;
    }
}
