/*Numbers*/

/*.mozart_corporation_numbers .et_pb_column_1_3 {*/
/*width: 32% !important;*/
/*margin-right: 4.4% !important;*/
/*}*/

/*.mozart_corporation_numbers .et_pb_column_2_3 {*/
/*width: 63.6% !important;*/
/*}*/

.mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter:last-child {
    margin-right: 0 !important;
}

.mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter {
    width: 19%;
    margin-right: 8%;
    float: left;
}

/*Slider*/
#page-container .mozart_corporation_slider .et_pb_row {
    max-width: 100% !important;
    width: 100% !important
}

.mozart_corporation_slider .et_pb_slide_description {
    display: none
}

/*!*Controllers*!*/

.mozart_corporation_slider .et-pb-controllers:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #627792;
    position: absolute;
    top: 6px
}

.mozart_corporation_slider .et-pb-controllers {
    position: relative;
    display: flex;
    width: calc(100% - 15px);
    max-width: 993px;
    margin: 26px auto 30px !important;
    float: none;
    bottom: 0;
    top: 0;
    justify-content: space-between;
    align-content: center;
}

.mozart_corporation_slider .et-pb-controllers > a:last-child {
    margin-right: 0 !important
}

.mozart_corporation_slider .et-pb-controllers > a {
    border: 1px solid #627792;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: #627792 !important;
    z-index: 9;
    position: relative;
    margin-left: -15px
}

.mozart_corporation_slider .et-pb-controllers > a:after {
    display: block;
    content: attr(text);
    color: #627792;
    font-size: 18px;
    text-indent: 0 !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
    width: auto;
    white-space: nowrap
}

.mozart_corporation_slider .et-pb-controllers > a.et-pb-active-control:after,
.mozart_corporation_slider .et-pb-controllers > a:hover:after {
    color: #fff !important
}

.mozart_corporation_slider .et-pb-controllers > a.et-pb-active-control,
.mozart_corporation_slider .et-pb-controllers > a:hover {
    background-color: #fff !important
}

.mozart_corporation_slider .et-pb-active-slide .et_pb_slide_image {
    height: 440px;
    margin-top: -26px !important;
    margin-bottom: -26px !important;
    transition-delay: 1s;
    -webkit-transition-delay: 0.4s;
    animation: none !important;
    overflow: hidden
}

.mozart_corporation_slider .et_pb_slide_image {
    margin-top: 0 !important;
    width: 100% !important;
    position: static;
    height: 388px;
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    overflow: hidden;
    border-radius: 3px
}

.mozart_corporation_slider .et_pb_slide_image img {
    max-height: none !important;
    height: 100%;
    width: auto;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    animation: none !important;
    opacity: 1 !important
}

#page-container .mozart_corporation_slider {
    display: none;
}

#page-container .mozart_corporation_slider .et-pb-active-slide {
    z-index: 99 !important;
    opacity: 1 !important
}

.mozart_corporation_slider .et_pb_slide .et_pb_slider_container_inner {
    display: block !important;
    width: 100% !important;
    padding: 0 15px !important
}

.mozart_corporation_slider .et_pb_slider .et_pb_slides {
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    padding: 40px 0
}

.mozart_corporation_slider .et_pb_slider {
    overflow: hidden
}

.mozart_corporation_slider .et_pb_slide {
    display: block !important;
    float: left !important;
    padding: 0 !important;
    opacity: .6 !important;
    margin: 0;
    width: 783px;
    background-color: transparent !important;
}

.mozart_corporation_slider .et_pb_slide .et_pb_container {
    display: block;
    height: auto !important;
    max-width: none !important
}

/*Welcome*/

.mozart_corporation_testimonials .et_pb_row .et_pb_text p:last-child {
    padding-bottom: 0 !important;
}

.mozart_corporation_testimonials .et_pb_row .et_pb_text p {
    padding-bottom: 36px !important;
}

/*Services*/

.mozart_corporation_services .et_pb_row:first-child .et_pb_text a:hover {
    opacity: 0.6;
}

.mozart_corporation_services .et_pb_row:first-child .et_pb_text a {
    color: #608ad8 !important;
}

/*Blog*/

#page-container .mozart_corporation_blog article a.more-link {
    color: #1a284d !important;
}

.mozart_corporation_blog article a:hover {
    opacity: 0.6;
}

.mozart_corporation_blog article {
    margin-bottom: 43px !important;
}

.mozart_corporation_blog article .post-content {
    font-weight: 400 !important;
    line-height: 170%;
    padding-right: 4vw;
}

.mozart_corporation_blog .et_pb_image .et_pb_image_wrap,
.mozart_corporation_blog .et_pb_image .et_pb_image_wrap img {
    display: block;
    width: 100% !important;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    #page-container .mozart_corporation_numbers .et_pb_promo {
        padding-right: 50px !important;
    }

    .mozart_corporation_header .et_pb_row {
        padding-top: 200px !important;
        padding-bottom: 200px !important;
    }

    .mozart_corporation_welcome_bottom .et_pb_row .et_pb_column_2_3 {
        padding-right: 100px;
    }

    .mozart_corporation_welcome_bottom .et_pb_row .et_pb_column_1_3 {
        padding-left: 100px;
    }

    #page-container .mozart_corporation_welcome_bottom .et_pb_row {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
        margin-bottom: -180px !important;
    }

    .mozart_corporation_testimonials .et_pb_row {
        padding-top: 200px !important;
        padding-bottom: 40px !important;
    }

    .mozart_corporation_slider .et-pb-active-slide .et_pb_slide_image img {
        left: 50%;
        transform: translate(-50%, 0);
    }

    .mozart_corporation_slider .et_pb_slide_image img {
        height: 100%;
        max-width: none;
        left: auto;
        transform: translate(0, 0);
        width: auto;
    }

    .mozart_corporation_slider .et_pb_slide {
        width: 900px !important;
    }
}

@media only screen and (min-width: 2561px) {
    .mozart_corporation_slider .et_pb_slide_image img {
        height: auto;
        max-width: none;
        left: auto;
        transform: translate(0, 0);
        width: 100%;
    }

    .mozart_corporation_slider .et_pb_slide {
        width: 1300px !important;
    }

    .mozart_corporation_slider .et_pb_slide_image {
        height: 460px !important;
    }

    .mozart_corporation_slider .et-pb-active-slide .et_pb_slide_image {
        height: 520px !important;
    }
}

@media only screen and (max-width: 1390px) and (min-width: 981px) {
    .mozart_corporation_numbers .et_pb_row {
        width: 93% !important;
    }

    .mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter {
        width: 20%;
        margin-right: 6.6%;
    }
}

@media only screen and (max-width: 1390px) {
    #page-container .mozart_corporation_numbers .et_pb_promo {
        padding-right: 0 !important;
    }

    .mozart_corporation_slider .et-pb-controllers {
        max-width: 90%
    }

    .mozart_corporation_slider .et-pb-controllers > a:after {
        font-size: 15px;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .mozart_corporation_header .et_pb_button_wrapper {
        text-align: center !important;
    }

    #page-container .mozart_corporation_header .et_pb_space {
        margin: 0 auto 20px !important;
    }

    #page-container .mozart_corporation_header .et_pb_promo_description,
    #page-container .mozart_corporation_header .et_pb_promo_description h2 {
        padding-bottom: 30px !important;
        text-align: center !important;
    }

    .mozart_corporation_numbers .et_pb_column_1_3 .et_pb_promo_description h2,
    .mozart_corporation_numbers .et_pb_column_1_3 .et_pb_promo_description p {
        text-align: center !important;
    }

    .mozart_corporation_numbers .et_pb_column_2_3,
    .mozart_corporation_numbers .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .mozart_corporation_slider .et-pb-controllers > a:after {
        font-size: 16px
    }

    .mozart_corporation_slider .et-pb-controllers {
        max-width: 80%
    }

    .mozart_corporation_slider .et_pb_slide {
        width: 530px !important
    }

    .mozart_corporation_slider .et-pb-controllers > a:not(.et-pb-active-control):after {
        display: none;
    }

    .mozart_corporation_blog article:last-child {
        margin-bottom: 0 !important;
    }

}

@media only screen and (max-width: 767px) {

    .mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    .mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter {
        width: 47%;
        margin-right: 6%;
    }

    .mozart_corporation_slider .et_pb_slide_image {
        display: block !important;
        height: 288px
    }

    .mozart_corporation_slider .et_pb_slide {
        width: 350px !important
    }

    .mozart_corporation_slider .et-pb-active-slide .et_pb_slide_image {
        height: 340px
    }
}

@media only screen and (max-width: 480px) {
    #page-container .mozart_corporation_header .et_pb_promo.et_pb_promo .et_pb_button.et_pb_promo_button {
        padding: 15px 40px !important;
    }

    .mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter .percent {
        margin-bottom: 0 !important;
    }

    .mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter:last-child {
        margin-bottom: 0 !important;
    }

    .mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter {
        width: 100%;
        margin: 0 auto 40px !important;
        max-width: 200px;
        float: none;
    }

    .mozart_corporation_numbers .et_pb_column_2_3 .et_pb_circle_counter:nth-child(2n + 2) {
        margin-right: auto !important;
    }

    .mozart_corporation_slider .et-pb-controllers {
        max-width: 70%
    }

    .mozart_corporation_slider .et-pb-controllers > a:after {
        display: none !important
    }

    .mozart_corporation_slider .et_pb_slide {
        width: 270px !important
    }

    .mozart_corporation_slider .et_pb_slide_image {
        height: 188px
    }

    .mozart_corporation_slider .et-pb-active-slide .et_pb_slide_image {
        height: 240px
    }
}