
.moz_contact .et_pb_contact_form p label{
    display: block !important;
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
    color: #627792;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

.unknown .moz_contact .et_pb_contact_form p:not(.filled):not(.focus) textarea ,
.unknown .moz_contact .et_pb_contact_form p:not(.filled):not(.focus) input {
    color: transparent !important;
}


/*placeholder*/

#page-container .moz_contact .et_pb_contact_form p textarea::-webkit-input-placeholder,
#page-container .moz_contact .et_pb_contact_form p input::-webkit-input-placeholder {
    color: transparent !important;
}

#page-container .moz_contact .et_pb_contact_form p textarea::-moz-placeholder,
#page-container .moz_contact .et_pb_contact_form p input::-moz-placeholder {
    color: transparent !important;
}

#page-container .moz_contact .et_pb_contact_form p textarea:-ms-input-placeholder,
#page-container .moz_contact .et_pb_contact_form p input:-ms-input-placeholder {
    color: transparent !important;
}

#page-container .moz_contact .et_pb_contact_form p textarea:-moz-placeholder,
#page-container .moz_contact .et_pb_contact_form p input:-moz-placeholder {
    color: transparent !important;
}

/** Center Contact Form 2 **/

.moz_contact .et_pb_contact_form {
    margin-left: 0 !important;
}

.moz_contact .et_pb_contact_form p:last-of-type {
    clear: none !important;
    float: none !important;
    display: inline-block !important;
    -webkit-margin-before: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-after: 0;
    margin-right: 0 !important;
}

.moz_contact .et_pb_contact_form p {
    clear: both !important;
    margin-bottom: 20px;
    padding: 0 !important;
    width: 48.6% !important;
    margin-right: 2.8% !important;
    position: relative;
    overflow: hidden;
}

.moz_contact .et_pb_contact .et_contact_bottom_container button {
    width: 100% !important;
    margin: 0 !important;
}

.unknown .moz_contact .et_pb_contact .et_contact_bottom_container,
.gecko .moz_contact .et_pb_contact .et_contact_bottom_container,
.ie .moz_contact .et_pb_contact .et_contact_bottom_container{
    margin-top: -9px;
}

.moz_contact .et_pb_contact .et_contact_bottom_container {
    float: right;
    text-align: center;
    width: 48.6%;
    margin-top: 0;
}

.moz_contact .et_pb_contact_form p input,
.moz_contact .et_pb_contact_form p textarea {
    padding: 14px 20px !important;
}

.moz_contact .et_pb_column_1_4 p:not(:last-child) {
    padding-bottom: 3px !important;
}

/*Links*/

.moz_contact p strong {
    color: #000 !important;
}

.moz_contact a:hover {
    opacity: 0.5 !important;
}

.moz_contact a {
    color: inherit !important;
}




/*Focus*/

.moz_contact .et_pb_contact_form p[data-id="message"] label {
    top: 10%;
}

.moz_contact .et_pb_contact_form p.filled label,
.moz_contact .et_pb_contact_form p.focus label {
    -webkit-transform: translate3d(50%, -50%, 0);
    transform: translate3d(50%, -50%, 0);
    opacity: 0;
}


/*Social Links*/

.moz_contact .et_pb_social_media_follow li{
    margin-right: 10px;
}
.moz_contact .et_pb_social_media_follow a{
    width: auto !important;
    height: auto !important;
}
.moz_contact .et_pb_social_media_follow a:before{
    color: #608ad8 !important;
    width: auto !important;
    height: auto !important;
}


.moz_contact_map .et_pb_map {
    position: relative;
    width: 100%;
    height: 546px;
}



/*Responsive*/


@media only screen and (min-width: 1930px) {
    .moz_contact .et_pb_contact_form p input,
    .moz_contact .et_pb_contact_form p textarea {
        padding: 17px 20px !important;
    }

    .moz_contact .et_pb_row:first-child {
        padding-top: 150px !important;
    }
}

@media only screen and (max-width: 1390px){
    .moz_contact .et_pb_row {
        max-width: 100% !important;
        width: 90%;
    }

    .moz_contact .et_pb_row .et_pb_contact_form_container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 1390px) and (min-width: 981px){
    .moz_contact .et_pb_row:first-child {
        padding-top: 150px !important;
    }
}


@media only screen and (max-width: 980px) {
    .moz_contact .et_pb_column_1_4 .et_pb_social_media_follow{
        display: none !important;
    }

    .moz_contact .et_pb_column_1_4 .et_pb_promo:last-of-type {
        margin-right: 0 !important;
    }

    .moz_contact .et_pb_column_1_4 .et_pb_promo {
        width: 32% !important;
        margin-right: 2%;
        border-bottom: none !important;
        margin-bottom: 0 !important;
        float: left;
        padding-bottom: 30px !important;
    }

    .moz_contact_map .et_pb_map {
        height: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .moz_contact .et_pb_column_1_4 .et_pb_promo h2 {
        padding-bottom: 10px !important;
    }

    .moz_contact .et_pb_column_1_4 .et_pb_promo {
        width: 100% !important;
        margin-right: 0%;
    }

    .moz_contact_map .et_pb_map {
        height: 300px;
    }
}

@media only screen and (max-width: 480px) {

    .moz_contact .et_pb_column_1_4 .et_pb_promo {
        width: 100% !important;
        margin-right: 0;
    }

    .moz_contact .et_pb_contact_form p {
        width: 100% !important;
        margin-right: 0% !important;
    }

    .moz_contact .et_pb_contact .et_contact_bottom_container {
        width: 100%;
        margin-top: 0;
    }
}