#author-info {
    float: none;
    padding-bottom: 53px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 50px;
    width: 100%;
    display: block;
}

#author-info #author-img {
    width: 30%;
    margin-right: 3.1%;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#author-info #author_info_text {
    width: 65%;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#author-info #author-img img {
    display: block !important;
}

#author-info p#author-desc {
    line-height: 180%;
}

#author-info h2#author-name {
    color: #000000 !important;
    font-size: 24px !important;
    padding-bottom: 15px;
}

#author-info h2#author-name:after {
    content: 'Bio';
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    color: #608ad8;
    margin-top: 10px;
}

/*More Link*/

body.author #page-container .cat_page_content .et_pb_row {
    padding-top: 165px;
}
body.author #page-container article .more-link {
    text-transform: capitalize;
    margin-top: 18px;
    font-weight: 600;
    clear: both;
    display: block;
}

/*************/

body.author #page-container article{
    color: #627792 !important;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
}
body.author #page-container article h2.entry-title {
    font-size: 24px;
    padding-bottom: 18px;
    line-height: 120% !important;
    color: #243767 !important;
    font-weight: 500;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
}

body.author #page-container article {
    color: #999;
}

body.author .et_pb_column_2_3 > .et_pb_promo {
    margin-bottom: 0 !important;
}

/********************************************************/

#page-container #author-img img ,
#page-container .autor_info_box .et_pb_team_member_image img {
    display: block !important;
    width: 100% !important;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    body.author #page-container .cat_page_content .et_pb_row{
    padding-top: 200px !important;
    }
}
@media only screen and (max-width: 980px) {
    #page-container #author-info #author-img {
        vertical-align: top !important;
    }

    body.author #page-container .cat_page_content .et_pb_row {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    #page-container #author-info #author_info_text ,
    #page-container .autor_info_box .et_pb_team_member_description {
        width: 100% !important;
    }

    #page-container #author-info #author-img,
    #page-container .autor_info_box .et_pb_team_member_image {
        width: 100% !important;
        margin-bottom: 20px;
        max-width: 100%;
    }
}