/*About Boxes*/

.mozart_law_about .et_pb_button_module_wrapper {
    margin: 0 !important
}

.mozart_law_about .et_pb_column {
    width: 25.5%;
    margin-right: 6.3%;
}

.mozart_law_about .et_pb_column:nth-child(2) {
    width: 35.2%;
    margin-right: 7.5%;
}

.mozart_law_about .et_pb_column:last-child {
    margin-right: 0 !important;
}

/*Text Boxes*/

.mozart_text_boxes .et_pb_column .et_pb_blurb h4:before {
    content: "$";
    font-family: ETmodules !important;
    color: #fff;
    display: inline-block;
    width: 0;
    overflow: hidden;
    font-size: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    vertical-align: middle;
    font-weight: 300
}

.mozart_text_boxes .et_pb_column:hover .et_pb_blurb h4:before {
    width: 27px;
    margin-right: 8px;
    -webkit-transition-duration: .3s;
    -webkit-transition-delay: .3s;
    transition-duration: .3s;
    transition-delay: .3s
}

.mozart_text_boxes .et_pb_column:hover {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    background-color: #1a284d
}

.mozart_text_boxes .et_pb_column:hover .et_pb_blurb * {
    color: #fff !important
}

/*Contact Form*/

.mozart_law_contact_form .et_pb_contact_form {
    margin-left: 0 !important;
}

.mozart_law_contact_form .et_pb_contact_form .et_pb_contact_field_last {
    width: 65.5%;
    float: left;
    padding-left: 0 !important;
    margin-right: 2.6%;
}

.mozart_law_contact_form .et_pb_contact_form p[data-type="checkbox"],
.mozart_law_contact_form .et_pb_contact_form .et_pb_contact_field_half {
    width: 31.5%;
    padding: 0 !important;
    margin-bottom: 41px !important;
    margin: 0;
    overflow: visible;
    clear: none !important;
}

.mozart_law_contact_form .et_pb_contact_form .et_contact_bottom_container {
    margin-top: -14px !important;
    width: 31.6%;
}

#page-container .mozart_law_contact_form .et_pb_contact_form p textarea::-webkit-input-placeholder,
#page-container .mozart_law_contact_form .et_pb_contact_form p input::-webkit-input-placeholder {
    color: transparent !important;
}

#page-container .mozart_law_contact_form .et_pb_contact_form p textarea::-moz-placeholder,
#page-container .mozart_law_contact_form .et_pb_contact_form p input::-moz-placeholder {
    color: transparent !important;
}

#page-container .mozart_law_contact_form .et_pb_contact_form p textarea:-ms-input-placeholder,
#page-container .mozart_law_contact_form .et_pb_contact_form p input:-ms-input-placeholder {
    color: transparent !important;
}

#page-container .mozart_law_contact_form .et_pb_contact_form p textarea:-moz-placeholder,
#page-container .mozart_law_contact_form .et_pb_contact_form p input:-moz-placeholder {
    color: transparent !important;
}

.mozart_law_contact_form .et_pb_contact_form p[data-type="checkbox"] {
    margin: -34px 0 30px !important;
}

/*Error */

.mozart_law_contact_form .et_pb_contact_form_container .et-pb-contact-message ul {
    padding-bottom: 20px !important;
}

.mozart_law_contact_form .et_pb_contact_form p textarea.et_contact_error,
.mozart_law_contact_form .et_pb_contact_form p input.et_contact_error {
    padding-left: 24px !important;
    border: 1px solid #f00 !important;
}

.mozart_law_contact_form .et_pb_contact_form p textarea.et_contact_error + label,
.mozart_law_contact_form .et_pb_contact_form p input.et_contact_error + label {

    padding-left: 24px !important;
}

/*Animation*/

.mozart_law_contact_form .et_pb_contact_form p {
    position: relative;
}

.mozart_law_contact_form .et_pb_contact_form p:not([data-type="checkbox"]) label {
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    display: block !important;
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    top: 22px;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    color: #fff;
}

.mozart_law_contact_form .et_pb_contact_form p.filled label,
.mozart_law_contact_form .et_pb_contact_form p.focus label {
    -webkit-transform: translate3d(0, -210%, 0);
    transform: translate3d(0, -210%, 0);
    font-size: 14px;

}

.mozart_law_contact_form .et_contact_bottom_container .et_pb_contact_right input {
    padding: 10px 5px !important;
    text-align: center;
    border: 1px solid #ccc !important;
}

.mozart_law_contact_form .et_contact_bottom_container .et_pb_contact_right {
    display: block !important;
    position: absolute;
    bottom: -23px;
    width: 100%;
    right: 0;
}

/*Symbols*/

#page-container .mozart_law_symbols .et_pb_column .et_pb_image:last-child {
    margin-right: 0 !important;
}

#page-container .mozart_law_symbols .et_pb_column .et_pb_image {
    margin-bottom: 0 !important;
    width: 17% !important;
    margin-right: 3.7% !important;
}

#page-container .mozart_law_symbols .mozart_low_bottom_image .et_pb_column_4_4 .et_pb_image {
    width: 100% !important;
}

/*Practice Areas AND Team*/
.mozart_law_team .et_pb_team_member {
    position: relative;
}

.mozart_law_team .et_pb_team_member,
.mozart_law_practice_areas .et_pb_blurb {
    overflow: hidden;
}

.mozart_law_team .et_pb_team_member .et_pb_team_member_image img,
.mozart_law_practice_areas .et_pb_blurb .et_pb_main_blurb_image img {
    display: block !important;
    width: 100% !important;
    transition: 0.3s;
    transform: translate(0, -18%);
    /*transform: translate(0, 0);*/
    opacity: 1;
}

.mozart_law_team .et_pb_team_member .et_pb_team_member_description h4,
.mozart_law_team .et_pb_team_member .et_pb_team_member_description p.et_pb_member_position,
.mozart_law_practice_areas .et_pb_blurb .et_pb_blurb_container h4,
.mozart_law_practice_areas .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description p {
    position: relative;
    z-index: 11;
    transition: 0.3s !important;
}

.mozart_law_team .et_pb_team_member .et_pb_team_member_description {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 1.4vw 1.5vw 1vw;
    z-index: 99;
}

.mozart_law_practice_areas .et_pb_blurb .et_pb_blurb_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 2.1vw 1.3vw 1.7vw;

}

.mozart_law_team .et_pb_team_member .et_pb_team_member_description:before,
.mozart_law_practice_areas .et_pb_blurb .et_pb_blurb_container:before {
    content: "";
    display: block;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    position: absolute;
    transform: translate(0, 0);
}

/*Hover*/

.mozart_law_team .et_pb_team_member:hover .et_pb_team_member_description:before{
    transform: translate(0, 100%);
    /*opacity: 0;*/
}
.mozart_law_practice_areas .et_pb_blurb:hover .et_pb_blurb_container:before {
    transform: translate(0, 100%);
}

.mozart_law_team .et_pb_team_member:hover .et_pb_team_member_image img,
.mozart_law_practice_areas .et_pb_blurb:hover .et_pb_main_blurb_image img {
    transform: translate(0, 0);
    opacity: 0.4;
}

.mozart_law_team .et_pb_team_member:hover .et_pb_team_member_description h4,
.mozart_law_team .et_pb_team_member:hover .et_pb_team_member_description p.et_pb_member_position,
.mozart_law_practice_areas .et_pb_blurb:hover .et_pb_blurb_container h4,
.mozart_law_practice_areas .et_pb_blurb:hover .et_pb_blurb_container .et_pb_blurb_description p {
    color: #fff !important;
}





/*Responsive*/

@media only screen and (min-width: 1930px) {
    .mozart_law_team .et_pb_team_member .et_pb_team_member_description,
    .mozart_law_practice_areas .et_pb_blurb .et_pb_blurb_container {
        padding: 40px;
    }

    .mozart_text_boxes .et_pb_column_1_3 {
        padding: 50px !important;
    }
}

@media only screen and (max-width: 1390px) {
    #page-container .mozart_law_about .et_pb_button_module_wrapper:last-child .et_pb_button.et_pb_module {
        margin-bottom: 0 !important
    }

    #page-container .mozart_law_about .et_pb_button_module_wrapper .et_pb_button.et_pb_module {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px !important
    }

    #page-container .mozart_law_about .et_pb_text {
        margin-top: 0 !important
    }

    #page-container .mozart_law_about .et_pb_promo h2 {
        font-size: 28px !important
    }

    .mozart_law_about .et_pb_column:first-child .et_pb_promo_description h2 {
        font-size: 36px !important
    }

    .mozart_law_header .et_pb_number_counter .title br {
        display: none !important;
    }

    .mozart_law_header .et_pb_number_counter .percent p {
        text-align: center !important;
    }

    .mozart_law_header .et_pb_number_counter .title {
        padding-left: 0 !important;
    }

    .mozart_law_header .et_pb_number_counter .percent,
    .mozart_law_header .et_pb_number_counter .title {
        display: block !important;
        text-align: center !important;
    }

    .mozart_law_about .et_pb_column:nth-child(2) .et_pb_promo {
        margin-top: 0 !important;
    }

    .mozart_law_about .et_pb_column:nth-child(2) {
        width: 43%;
        margin-right: 3%;
    }

    .mozart_law_about .et_pb_column {
        width: 25.5%;
        margin-right: 3%;
    }

    .mozart_text_boxes .et_pb_row {
        width: 90% !important;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .mozart_law_header .et_pb_promo_description {
        padding-bottom: 20px !important;
    }

    #page-container .mozart_law_header .et_pb_blurb .et_pb_main_blurb_image {
        margin-bottom: 0 !important;
    }

    #page-container .mozart_law_header .et_pb_blurb {
        padding: 17vw 0 !important;
    }

    #page-container .mozart_law_about .et_pb_column:last-child {
        border-left: 0 !important
    }

    #page-container .mozart_law_about .et_pb_column:first-child {
        border-right: 0 !important
    }

    #page-container .mozart_law_about .et_pb_column:nth-child(2) {
        border-bottom: 2px solid #ebebeb;
        border-top: 2px solid #ebebeb;
        padding: 30px 0 40px
    }

    #page-container .mozart_law_about .et_pb_column {
        margin-bottom: 0 !important
    }

    .mozart_text_boxes .et_pb_row .et_pb_column .et_pb_blurb {
        margin-bottom: 0 !important
    }

    .mozart_text_boxes .et_pb_row .et_pb_column .et_pb_divider {
        margin: 15px 0 !important
    }

    .mozart_text_boxes .et_pb_row .et_pb_column .et_pb_blurb .et_pb_blurb_content {
        text-align: center;
        max-width: none
    }

    .mozart_text_boxes .et_pb_row .et_pb_column:last-child {
        margin-right: 0 !important;
    }

    .mozart_text_boxes .et_pb_row .et_pb_column {
        padding: 20px !important;
        width: 32% !important;
        margin-right: 2% !important;
    }

    .mozart_text_boxes .et_pb_column .et_pb_blurb h4 a,
    .mozart_text_boxes .et_pb_column .et_pb_blurb h4 {
        letter-spacing: 0 !important;
    }

    .mozart_text_boxes .et_pb_column:hover .et_pb_blurb h4 {
        transform: none !important;
    }



    .mozart_law_team .et_pb_row:first-child .et_pb_column_1_2:last-of-type,
    .mozart_law_practice_areas .et_pb_row:first-child .et_pb_column_1_2:last-of-type {
        margin-right: 0 !important;
    }

    .mozart_law_team .et_pb_row:first-child .et_pb_column_1_2,
    .mozart_law_practice_areas .et_pb_row:first-child .et_pb_column_1_2 {
        width: 49% !important;
        margin-right: 2% !important;
    }

    .mozart_law_symbols .et_pb_row:first-child .et_pb_text,
    .mozart_law_symbols .et_pb_row:first-child .et_pb_promo_description h2 {
        text-align: center !important;
    }

    .mozart_law_symbols .et_pb_row:first-child .et_pb_promo_description {
        padding-bottom: 0 !important;
    }

    .mozart_law_practice_areas .et_pb_row:last-child .et_pb_column_1_4 .et_pb_blurb {
        margin-bottom: 30px !important;
    }

    .mozart_law_practice_areas .et_pb_row:last-child .et_pb_column_1_4 {
        margin-bottom: 0 !important;
    }

    .mozart_law_team .et_pb_team_member .et_pb_team_member_description,
    .mozart_law_practice_areas .et_pb_blurb .et_pb_blurb_container {
        padding: 20px 5px;
    }
}

@media only screen and (max-width: 980px) and (min-width: 768px) {
    #page-container .mozart_law_about .et_pb_column .et_pb_blurb:first-child {
        border-right: 2px solid #ebebeb
    }

    #page-container .mozart_law_about .et_pb_column .et_pb_blurb {
        width: 50% !important;
        float: left !important;
        margin: 0 !important;
        border-bottom: 0 !important
    }

    #page-container .mozart_law_about .et_pb_blurb .et_pb_main_blurb_image {
        margin-bottom: 15px !important;
        margin-top: 0 !important
    }

    .mozart_text_boxes .et_pb_column .et_pb_blurb h4:before {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    #page-container .mozart_law_header .et_pb_blurb {
        padding: 14vw 0 !important;
    }

    .mozart_law_contact_form .et_pb_contact_form .et_pb_contact_field_last {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 31px;
    }

    .mozart_law_contact_form .et_pb_contact_form .et_pb_contact_field_half {
        margin-bottom: 40px !important;
    }

    .mozart_law_contact_form .et_pb_contact_form .et_contact_bottom_container {
        margin-top: 0px !important;
    }

    #page-container .mozart_law_symbols .et_pb_row {
        width: 90% !important;
    }

    #page-container .mozart_law_symbols .et_pb_column {
        display: block;
        text-align: center;
    }

    #page-container .mozart_law_symbols .et_pb_column .et_pb_image {
        margin-bottom: 10px !important;
        width: 30% !important;
        margin-right: 2% !important;
        display: inline-block;
        float: none;
    }

    .mozart_law_practice_areas .et_pb_row .et_pb_blurb h4 {
        letter-spacing: 0 !important;
    }

    .mozart_law_practice_areas .et_pb_row {
        width: 90% !important;
    }

    .mozart_text_boxes .et_pb_row .et_pb_column:last-child {
        margin-bottom: 0 !important;
    }

    .mozart_text_boxes .et_pb_row .et_pb_column {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 30px !important;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .mozart_law_header .et_pb_blurb {
        padding: 70px 0 !important;
    }

    .mozart_law_about .button_base_size_M:hover:after {
        width: 145%
    }

    .mozart_law_about .button_base_size_M:after {
        left: -43% !important
    }

    .mozart_text_boxes .et_pb_row .et_pb_column {
        padding: 30px !important
    }



    .mozart_law_contact_form .et_pb_contact_form .et_contact_bottom_container {
        width: 100%;
    }

    #page-container .mozart_law_symbols .et_pb_column .et_pb_image:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    #page-container .mozart_law_symbols .et_pb_column .et_pb_image {
        width: 48% !important;
        padding: 10px;
    }

    .mozart_law_team .et_pb_row:first-child .et_pb_column_1_2,
    .mozart_law_practice_areas .et_pb_row:first-child .et_pb_column_1_2 {
        width: 100% !important;
    }

    .mozart_law_practice_areas .et_pb_row:first-child .et_pb_column_1_2:first-child,
    .mozart_law_team .et_pb_row:first-child .et_pb_column_1_2:first-child {
        margin-bottom: 10px !important;

    }

    .mozart_law_practice_areas .et_pb_row:first-child .et_pb_column_1_2 .et_pb_text,
    .mozart_law_team .et_pb_row:first-child .et_pb_column_1_2 .et_pb_text {
        text-align: center !important;
    }

    #page-container .mozart_law_about .et_pb_promo h2 {
        font-size: 24px !important;
        line-height: 140% !important;
    }

    .mozart_law_team .et_pb_team_member .et_pb_team_member_description,
    .mozart_law_practice_areas .et_pb_blurb .et_pb_blurb_container {
        padding: 30px 20px !important;
    }
}