footer#main-footer {
    display: none !important;
}

.mozart_footer a {
    color: inherit !important;
    transition: 0.3s;
}

.mozart_footer a:hover {
    opacity: 0.5 !important;
}

.mozart_footer .footer_menu p {
    padding: 0 !important;
}

.mozart_footer .footer_menu a {
    margin-bottom: 1em !important;
    display: block !important;
}

/* Change color of social media icons */
.mozart_footer .et_pb_social_media_follow li:last-child a {
    margin-right: 0 !important;
}

.mozart_footer .et_pb_social_media_follow li a {
    margin-right: 10px !important;
}

.mozart_footer .et_pb_social_media_follow li a.icon::before {
    color: #627792;
}

/*** Footers Colored Links ***/

/* Footer 1 */

#page-container .mozart_footer .et_pb_newsletter_form .et_pb_newsletter_fields{
    flex-wrap: unset !important;
}
#page-container .mozart_footer .et_pb_newsletter_form {
    display: block !important;
}
#page-container .mozart_footer .et_pb_newsletter_form p:last-child {
    width: 29% !important;
    margin-right: 0 !important;
}

#page-container .mozart_footer .et_pb_newsletter_form p {
    width: 65.5% !important;
    margin-right: 5.2%;
    flex-basis: unset;
}

.mozart_footer .et_pb_newsletter_form p:not(.filled):not(.focus) input {
    color: transparent !important;
}

#page-container .mozart_footer .et_pb_newsletter_form p input::-webkit-input-placeholder {
    color: transparent !important;
}
#page-container .mozart_footer .et_pb_newsletter_form p input::-moz-placeholder {
    color: transparent !important;
}
#page-container .mozart_footer .et_pb_newsletter_form p input:-ms-input-placeholder {
    color: transparent !important;
}
#page-container .mozart_footer .et_pb_newsletter_form p input:-moz-placeholder {
    color: transparent !important;
}

/*Columnes*/

#page-container .mozart_footer .et_pb_column_1_4:last-child {
    width: 34.3% !important;
}

#page-container .mozart_footer .et_pb_column_1_4 {
    width: 16% !important;
}

/*Focus*/

.mozart_footer .et_pb_newsletter p {
    padding-bottom: 0 !important;
}

.mozart_footer .et_pb_newsletter p label {
    display: block !important;
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
    color: #9e9e9e;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mozart_footer .et_pb_newsletter p.filled label,
.mozart_footer .et_pb_newsletter p.focus label {
    -webkit-transform: translate3d(0, -240%, 0);
    transform: translate3d(0, -240%, 0);
    padding-left: 0;
}

@media only screen and (max-width: 1500px) and (min-width: 1391px) {
    #page-container .mozart_footer .et_pb_column_1_2 .et_pb_text_inner {
        font-size: 38px !important;
    }
}

@media only screen and (max-width: 1390px) {

    /*Footer 1*/
    #page-container .mozart_footer .et_pb_newsletter {
        padding-left: 0 !important;
    }

    #page-container .mozart_footer .et_pb_newsletter .et_pb_newsletter_button.et_pb_button {
        padding: 10px 1vw !important;
    }

    .mozart_footer .et_pb_newsletter p.filled label,
    .mozart_footer .et_pb_newsletter p.focus label {
        -webkit-transform: translate3d(0, -53px, 0);
        transform: translate3d(0, -53px, 0);
    }

    #page-container .mozart_footer .et_pb_column_1_4 {
        width: 18% !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4:last-child {
        width: 29% !important;
    }

}

@media only screen and (max-width: 1390px) and (min-width: 981px) {
    #page-container .mozart_footer .et_pb_column_1_2 .et_pb_text_inner {
        font-size: 28px !important;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .mozart_footer .et_pb_newsletter_form {
        display: block !important;
        width: 100% !important;
        padding-left: 0 !important;

    }

    #page-container .mozart_footer.sqweez_1 .et_pb_newsletter_form {
        width: 96.3% !important;
        float: none !important;
    }

    #page-container .mozart_footer .et_pb_newsletter_form p {
        width: 65% !important;
        margin-right: 5%;
        float: left;
        position: relative;
    }

    #page-container .mozart_footer .et_pb_newsletter_form p:last-child {
        width: 30% !important;
        float: left;
    }

    #page-container .mozart_footer .et_pb_column_1_2 .et_pb_text_inner {
        text-align: center !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4:last-child {
        width: 25% !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4 {
        width: 22% !important;
        margin-right: 2%;
    }

    #page-container .mozart_footer .et_pb_column_1_2 .et_pb_text_inner {
        margin-bottom: 10px !important;
    }

    .mozart_footer .et_pb_social_media_follow li a {
        margin-right: 2px !important;
    }
}

@media only screen and (max-width: 767px) {
    #page-container .mozart_footer .et_pb_column_1_4:last-child {
        width: 48% !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4 {
        width: 48% !important;
        margin-right: 4%;
    }

    #page-container .mozart_footer .et_pb_column_1_4:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_social_media_follow {
        margin-left: -12px;
    }

    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_social_media_follow,
    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_text {
        text-align: left !important;
    }

    #page-container .mozart_footer .et_pb_column_4_4 .et_pb_text {
        text-align: center !important;
        padding: 0 !important;
    }

    .mozart_footer .et_pb_row:last-child .et_pb_text a {
        display: inline-block;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_social_media_follow,
    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_text,
    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_promo,
    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_promo h2 {
        text-align: center !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_promo h2 {
        padding-bottom: 15px !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_text {
        margin-bottom: 20px !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4 {
        margin-bottom: 30px !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4:last-child {
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    #page-container .mozart_footer .et_pb_newsletter_form p {
        width: 100% !important;
        margin-right: 0;
        position: relative;
        margin-bottom: 20px;
    }

    #page-container .mozart_footer .et_pb_newsletter_form p:last-child {
        width: 100% !important;
    }

    #page-container .mozart_footer .et_pb_column_1_4 {
        width: 100% !important;
        margin-right: 0;
    }

    #page-container .mozart_footer .et_pb_column_1_4 .et_pb_social_media_follow {
        margin-left: 0;
        padding: 0;
    }

    #page-container .mozart_footer .et_pb_newsletter_form .et_pb_newsletter_fields {
        display: block;
    }
}