#page-container .mozart_conference_speakers .et_pb_team_member a.mozart_conference_person_link {
    display: none !important;
}

/*Header*/

.mozart_conference_header .et_pb_text p a {
    margin-left: 2.6%;
    display: inline-block;
}

/* Change links color*/

.mozart_conference_header a {
    color: #fff !important;
}

.mozart_conference_header a:hover {
    color: #a7a7a7 !important;
}

.mozart_conference_header .et_pb_text a {
    margin-left: 2.6% !important;
    display: inline-block;
}

/*Committed to People*/

.mozart_conference_committed_people .et_pb_row:last-child .et_pb_text:last-child p {
    padding-bottom: 28px;
}

.mozart_conference_committed_people .et_pb_column_2_3 .et_pb_image img {
    display: block !important;
    width: 100% !important;
}

.mozart_conference_committed_people .et_pb_column_1_3 {
    width: 34% !important;
}

.mozart_conference_committed_people .et_pb_column_2_3 {
    width: 57% !important;
    margin-right: 8.7% !important;
}

.mozart_conference_committed_people .et_pb_blurb {
    cursor: pointer;
}

/*Speakers*/

.mozart_conference_speakers .et_pb_member_social_links li:last-child {
    margin-right: 0 !important;
}

.mozart_conference_speakers .et_pb_member_social_links li {
    margin-right: 31px !important;
}

.mozart_conference_speakers .et_pb_member_social_links li a:hover {
    opacity: 0.5 !important;
}

.mozart_conference_speakers .et_pb_team_member img {
    width: auto;

    position: absolute;
    left: 50%;
    top: -51px;
    transform: translate(-50%, 0);
    max-width: none;
}

.mozart_conference_speakers .et_pb_team_member .et_pb_team_member_description {
    z-index: 9;
}

.mozart_conference_speakers .et_pb_team_member .et_pb_team_member_image img {
    transition: 0.4s !important;
}

.mozart_conference_speakers .et_pb_team_member:hover .et_pb_team_member_image img {
    top: 0 !important;
}

#page-container .mozart_conference_speakers .et_pb_team_member {
    padding-top: 0 !important;
}

.mozart_conference_speakers .et_pb_team_member .et_pb_team_member_description {
    margin-top: 261px;
    display: block !important;
}

#page-container .mozart_conference_speakers .et_pb_team_member .et_pb_team_member_image {
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.4s !important;
    margin-top: 51px !important;
}

#page-container .mozart_conference_speakers .et_pb_team_member:hover .et_pb_team_member_image {
    transition-delay: 0s !important;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    cursor: pointer;
    max-width: 100% !important;
}

.mozart_conference_speakers .et_pb_team_member .et_pb_team_member_description {
    transition: 0.4s !important;
}

.mozart_conference_speakers .et_pb_team_member:hover .et_pb_team_member_description {
    transition-delay: 0s !important;
    transform: translate(0, 150%);
}

/*Team*/

.mozart_conference_team .et_pb_team_member img {
    width: auto;
    border-radius: 50%;
    padding: 25px;
    display: block !important;
    top: 0px;
    max-width: 100%;
    transition: 0.3s !important;
}

.mozart_conference_team .et_pb_team_member:hover img {
    /*transition-delay: 0.3s !important;*/
    /*border-radius: 0%;*/
    /*padding: 0px;*/
}

.mozart_conference_team .et_pb_team_member .et_pb_team_member_description {
    transform: translate(-1.4vw, 0);
    transition: 0.3s !important;
}

.mozart_conference_team .et_pb_team_member:hover:before {
    top: 0;
}

body .mozart_conference_team .et_pb_team_member:hover .et_pb_team_member_description p,
body .mozart_conference_team .et_pb_team_member:hover .et_pb_team_member_description h4 {
    color: #fff !important;
}

body.ie .mozart_conference_team .et_pb_team_member .et_pb_team_member_description {
    padding-left: 0 !important;
    transform: translate(0, 0px) !important;
}

body.ie .mozart_conference_team .et_pb_team_member .et_pb_team_member_image img {
    padding: 0 !important;
}

body.ie .mozart_conference_team .et_pb_team_member .et_pb_team_member_image {
    border-radius: 50% !important;
    padding: 25px !important;
}

/*Events*/

#page-container .mozart_conference_event .et_pb_column_1_2 .et_pb_promo{
    position: static !important;
}

#page-container .mozart_conference_event .et_pb_column_1_2:hover .et_pb_promo h2,
#page-container .mozart_conference_event .et_pb_column_1_2:hover .et_pb_promo p,
#page-container .mozart_conference_event .et_pb_column_1_2:hover .et_pb_promo a {
    color: #fff !important;
}

.mozart_conference_event .et_pb_column_1_2:hover:before {
    top: 0;
}

/*Responsive*/
@media only screen and (min-width: 1930px) {
    #page-container .mozart_conference_speakers .et_pb_team_member {
        padding: 0 50px 25px !important;
    }

    #page-container .mozart_conference_team .et_pb_team_member .et_pb_team_member_description {
        padding-top: 31px !important;
    }

    .mozart_conference_header .et_pb_row:last-child .et_pb_text {

        margin-top: 30px !important;
    }

    .mozart_conference_header .et_pb_row:nth-child(2) {
        padding-bottom: 60px !important;
    }

    .mozart_conference_header .et_pb_row:first-child {
        padding-top: 160px;
        padding-bottom: 60px;
    }

    .mozart_conference_numbers .et_pb_row .et_pb_column_1_4 {
        padding: 0 !important;
    }

    .mozart_conference_numbers .et_pb_row,
    .mozart_conference_numbers {
        padding: 15px 0 !important;
    }

    .mozart_conference_committed_people .et_pb_row:last-child {
        padding-top: 50px !important;
        padding-bottom: 40px !important;
    }

    .mozart_conference_committed_people .et_pb_row:first-child {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .mozart_conference_video .et_pb_row:first-child {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .mozart_conference_speakers .et_pb_row:first-child {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .mozart_conference_team {
        padding-bottom: 40px !important;
    }

    .mozart_conference_event .et_pb_row:last-child {
        padding-bottom: 40px !important;
    }

    .mozart_conference_event .et_pb_row {
        padding-top: 40px !important;
        padding-bottom: 0 !important;
    }

    .mozart_conference_event .et_pb_column_1_2 .et_pb_promo {
        padding: 60px 110px !important;
    }
}

@media only screen and (max-width: 1410px) {
    .mozart_conference_numbers .et_pb_row {
        width: 90% !important;
    }
}

@media only screen and (max-width: 1390px) {
    .mozart_conference_committed_people .et_pb_column_1_4 .et_pb_blurb {
        max-width: 100% !important;
        margin: 0 !important;
    }

    .mozart_conference_committed_people .et_pb_column_1_4 {
        padding-left: 0 !important;
    }

    .mozart_conference_committed_people .et_pb_row {
        width: 90% !important;
    }

    .mozart_conference_committed_people .et_pb_column_2_3 {
        width: 57% !important;
        margin-right: 4% !important;
    }

    .mozart_conference_committed_people .et_pb_column_1_3 {
        width: 39% !important;
        padding-top: 0 !important;
    }

    .mozart_conference_speakers .et_pb_row:last-child {
        max-width: 855px !important;
    }

    .mozart_conference_speakers .et_pb_row:last-child .et_pb_team_member {
        padding-top: 40px !important;
        padding-bottom: 20px !important;
    }

    .mozart_conference_speakers .et_pb_row:last-child .et_pb_team_member .et_pb_member_social_links {
        margin-top: 16px;
    }

    .mozart_conference_team .et_pb_team_member_description {
        max-width: 70% !important;
    }

    .mozart_conference_team .et_pb_team_member img {
        padding: 10px;
    }

    .mozart_conference_numbers .et_pb_number_counter h3 {
        text-align: center !important;
        padding-left: 0 !important;
        display: block !important;
        padding-top: 10px !important;
    }

    .mozart_conference_numbers .et_pb_number_counter .percent p,
    .mozart_conference_numbers .et_pb_number_counter .percent span {
        line-height: 100% !important;
    }

    .mozart_conference_numbers .et_pb_number_counter .percent p {
        text-align: center !important;
    }

    .mozart_conference_numbers .et_pb_number_counter .percent {
        height: auto;
        display: block !important;
        text-align: center !important;
    }

    .mozart_conference_numbers,
    .mozart_conference_numbers .et_pb_row {
        padding: 15px 0 !important;
    }

    .mozart_conference_numbers .et_pb_row .et_pb_column_1_4 .et_pb_number_counter {
        padding-top: 0 !important;
    }

    .mozart_conference_numbers .et_pb_row .et_pb_column_1_4 {
        padding: 0 !important;
    }

    .mozart_conference_team_top .et_pb_column_2_3 .et_pb_text p,
    .mozart_conference_speakers .et_pb_column_2_3 .et_pb_text p {
        line-height: 140% !important;
    }

    .mozart_conference_team_top .et_pb_column_2_3 .et_pb_text,
    .mozart_conference_speakers .et_pb_column_2_3 .et_pb_text {
        text-align: right !important;

    }

    .mozart_conference_team_top .et_pb_row,
    .mozart_conference_team .et_pb_row {
        width: 90% !important;
    }

    .mozart_conference_event .et_pb_row {
        width: 90% !important;
    }

    .mozart_conference_team .et_pb_column .et_pb_team_member {
        padding: 10px 10px 10px 0 !important;
    }

    .mozart_conference_team .et_pb_column .et_pb_team_member .et_pb_team_member_description {
        padding-top: 0 !important;
        width: 68%;
        vertical-align: middle;
    }

    .mozart_conference_team .et_pb_column .et_pb_team_member .et_pb_team_member_image {
        vertical-align: middle;
        float: none !important;
    }

    .mozart_conference_event .et_pb_column_1_2 .et_pb_promo {
        padding-left: 79px !important;
    }

}

@media only screen and (max-width: 1390px) and (min-width: 981px) {
    /*Numbers*/
    .mozart_conference_speakers .et_pb_row:first-child .et_pb_column_2_3 {
        width: 55% !important;
    }

    .mozart_conference_speakers .et_pb_row:first-child .et_pb_column_1_3 {
        width: 42% !important;
        margin-right: 3% !important;
    }

    .mozart_conference_speakers .et_pb_row,
    .mozart_conference_numbers .et_pb_row {
        width: 90% !important;
    }

    .mozart_conference_numbers .et_pb_number_counter .percent p {
        font-size: 52px !important;
    }

    .mozart_conference_team .et_pb_team_member h4 {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 980px) {
    /*Header*/
    #page-container .mozart_conference_header .et_pb_column_1_2:last-child {
        margin-right: 0 !important;
    }

    #page-container .mozart_conference_header .et_pb_column_1_2 {
        width: 48% !important;
        margin-right: 4% !important;
    }

    #page-container .mozart_conference_header .et_pb_button {
        width: 100% !important;
    }

    /*Numbers*/
    .mozart_conference_numbers .et_pb_column_1_4:after {
        display: none !important;
    }

    .mozart_conference_numbers .et_pb_number_counter {
        display: block !important;
    }

    .mozart_conference_committed_people .et_pb_column_1_3 {
        width: 47% !important;
    }

    .mozart_conference_committed_people .et_pb_column_2_3 {
        width: 49% !important;
        margin-right: 4% !important;
    }

    .mozart_conference_speakers .et_pb_row:last-child {
        max-width: 725px !important;
    }

    .mozart_conference_speakers .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    .mozart_conference_speakers .et_pb_row:first-child .et_pb_column_1_3 .et_pb_promo_description {
        padding-bottom: 10px !important;
    }

    .mozart_conference_speakers .et_pb_row:first-child .et_pb_column_1_3 h2 {
        text-align: center !important;
        padding-bottom: 0 !important;
    }

    .mozart_conference_speakers .et_pb_row:first-child .et_pb_column_1_3 {
        width: 100% !important;
    }

    .mozart_conference_speakers .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    #page-container .mozart_conference_speakers .et_pb_team_member .et_pb_team_member_image {
        float: none !important;
        margin-top: 30px !important;
    }

    .mozart_conference_speakers .et_pb_team_member .et_pb_team_member_description {
        margin-top: 240px;
    }

    .mozart_conference_speakers .et_pb_column_1_3 .et_pb_team_member h4 {
        padding-bottom: 4px !important;
    }

    .mozart_conference_speakers .et_pb_column_1_3 .et_pb_team_member .et_pb_member_position {
        padding-bottom: 10px !important;
    }

    .mozart_conference_speakers .et_pb_row:last-child .et_pb_team_member {
        padding-top: 20px !important;
    }

    .mozart_conference_team .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    .mozart_conference_team .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    #page-container .mozart_conference_team .et_pb_team_member {
        padding: 20px !important;
    }

    .mozart_conference_team .et_pb_team_member .et_pb_team_member_description h4,
    .mozart_conference_team .et_pb_team_member .et_pb_team_member_description .et_pb_member_position {
        text-align: center !important;
    }

    .mozart_conference_team .et_pb_team_member .et_pb_team_member_description {
        transform: translate(0, 0);
        padding-left: 0 !important;
        padding-top: 10px !important;
        max-width: 100% !important;
        width: 100% !important;
        display: block !important;
    }

    #page-container .mozart_conference_team .et_pb_team_member .et_pb_team_member_image img {
        padding: 0 !important;
        border-radius: 50% !important;
    }

    #page-container .mozart_conference_team .et_pb_team_member .et_pb_team_member_image {
        width: 100% !important;
        float: none !important;
        overflow: visible !important;
        margin-bottom: 15px !important;
    }

    .mozart_conference_team .et_pb_team_member img {
        display: inline-block !important;
    }

    .mozart_conference_committed_people .et_pb_row:last-child .et_pb_text:last-child p {
        padding-bottom: 10px;
    }

    .mozart_conference_video .et_pb_image {
        text-align: left !important;
    }

    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4:last-child {
        margin-right: 0 !important;
    }

    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4 {
        width: 22% !important;
        margin-right: 4% !important;
        margin-bottom: 0 !important;
    }

    .mozart_conference_team_top .et_pb_column_2_3 .et_pb_text,
    .mozart_conference_speakers .et_pb_column_2_3 .et_pb_text {
        text-align: center !important;

    }

    #page-container .mozart_conference_team_top .et_pb_promo_description h2 {
        padding-bottom: 0 !important;
        text-align: center !important;
    }

    .mozart_conference_team_top .et_pb_promo_description {
        padding-bottom: 10px !important;
    }

    .mozart_conference_event .et_pb_row:first-child .et_pb_text p {
        text-align: center !important;
    }

    .mozart_conference_event .et_pb_row:first-child .et_pb_promo_description {
        padding-bottom: 10px !important;
    }

    .mozart_conference_event .et_pb_row:first-child h2 {
        text-align: center !important;
        padding-bottom: 0 !important;
    }

    .mozart_conference_event .et_pb_column_1_2 .et_pb_promo h2 {
        line-height: 130% !important;
    }

    .mozart_conference_event .et_pb_column_1_2 .et_pb_promo {
        padding: 20px 20px 20px 79px !important;
    }

}

@media only screen and (max-width: 767px) {
    .mozart_conference_committed_people .et_pb_column_1_3 {
        width: 100% !important;
    }

    .mozart_conference_committed_people .et_pb_column_2_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .mozart_conference_speakers .et_pb_row:last-child {
        max-width: 370px !important;
    }

    .mozart_conference_speakers .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4:nth-child(2n+2) {
        margin-right: 0 !important;
    }

    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4 {
        width: 48% !important;
        margin-bottom: 20px !important;
    }

    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4:last-child,
    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4:nth-last-child(2) {
        margin-bottom: 0 !important;
    }

    .mozart_conference_committed_people .et_pb_column_2_3 .et_pb_image_wrap,
    .mozart_conference_committed_people .et_pb_column_2_3 img {
        display: block !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 480px) {
    /*Header*/
    #page-container .mozart_conference_header .et_pb_column_1_2 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    #page-container .mozart_conference_committed_people .et_pb_column_1_4:not(:last-child) {
        margin-bottom: 30px !important;
    }

    .mozart_conference_speakers .et_pb_row:last-child {
        max-width: 300px !important;
    }

    .mozart_conference_team .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4 {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    #page-container .mozart_conference_numbers .et_pb_row .et_pb_column_1_4:nth-last-child(2) {
        margin-bottom: 20px !important;
    }

    .mozart_conference_event .et_pb_column_1_2 .et_pb_promo {
        padding: 20px 10px 20px 70px !important;
    }
}