body.single-post #content-area > #left-area .et_pb_social_media_follow {
    padding: 0 !important;
}

body.single-post #content-area > #left-area > article {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

body.single-post #content-area > #left-area {
    padding-bottom: 0 !important;
}

body.single-post .et_pb_post .et_post_meta_wrapper {
    max-width: 1175px !important;
}

body.single-post .et_pb_post h1.entry-title {
    font-size: 36px !important;
    color: #3a478f !important;
    padding-bottom: 20px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 500!important;
}

body.single-post .et_pb_post .post-meta a:hover {
    opacity: 0.6;
}

body.single-post .et_pb_post .post-meta a {
    color: #627792 !important;
}

body.single-post .et_pb_post .post-meta {
    font-size: 18px !important;
    color: #627792 !important;
    margin-bottom: 0 !important;
    padding-bottom: 30px !important;
    font-weight: 400;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

body.single-post .et_pb_post .et_post_meta_wrapper > img {
    display: block !important;
    width: 100% !important;
    margin-bottom: 2.5vw;
}

body.single-post .cat_page_content .et_pb_text p:last-child {
    padding-bottom: 0 !important;
}

body.single-post .cat_page_content .et_pb_text p {
    padding-bottom: 28px !important;
}

#left-area .single_blog_page_content .et_pb_row blockquote,
#left-area > .cat_page_content > .et_pb_row .entry-content blockquote,
body.single-post .cat_page_content .et_pb_text blockquote {
    margin-top: 39px !important;
    border: none !important;
    padding: 3.3vw 6vw 2.8vw 7vw;
    margin-bottom: 43px !important;
}

#left-area .single_blog_page_content .et_pb_row blockquote,
#left-area > .cat_page_content > .et_pb_row .entry-content blockquote {
    margin-top: 10px !important;
    margin-bottom: 40px !important;
    background-color: #fafafa;
}

#left-area .single_blog_page_content .et_pb_row blockquote p,
#left-area > .cat_page_content > .et_pb_row .entry-content blockquote p {
    font-family: 'Roboto Condensed', Helvetica, Arial, Lucida, sans-serif;
    color: #3a478f  !important;
    font-size: 24px;
    letter-spacing: 0.1px;
    line-height: 154%;
    padding-bottom: 0 !important;
}

#left-area .single_blog_page_content .et_pb_row blockquote p,
#left-area > .cat_page_content > .et_pb_row .entry-content blockquote p,
body.single-post .cat_page_content .et_pb_text blockquote p {
    position: relative;
}

#left-area .single_blog_page_content .et_pb_row blockquote p:before,
#left-area > .cat_page_content > .et_pb_row .entry-content blockquote p:before,
body.single-post .cat_page_content .et_pb_text blockquote p:before {
    display: block;
    content: "";
    width: 2.9vw;
    height: 2px;
    background-color: #3a478f ;
    position: absolute;
    top: 22px;
    left: -4.2vw;
}

body.single-post .tags_section {
    margin-bottom: -3px !important;
}

body.single-post .tags_section .et_pb_row,
body.single-post .tags_section {
    padding: 0 !important;
}

body.single-post .tags_section {
    padding-top: 0 !important;
    margin-top: 30px;
}

body.single-post .tags_section span a:hover {
    opacity: 0.6;
}

body.single-post .tags_section span a,
body.single-post .tags_section span {
    font-size: 14px !important;
    color: #608ad8 !important;
    font-weight: 600;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}

/*Comments*/

#comment-wrap {
    border-top: 1px solid #ebebeb !important;
    padding-top: 0 !important;
}

#comment-wrap h1#comments {
    font-size: 24px !important;
    color: #608ad8 !important;
    padding-bottom: 49px;
    padding-top: 59px !important;
}

#comment-wrap .comment_avatar {
    border: 1px solid #e5edf9 !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    top: 0px !important;
    width: 71px;
    left: 7px;
}

#comment-wrap .comment_postinfo {
    margin-bottom: 11px;
}

#comment-wrap .comment_postinfo span.fn {
    display: block;
    font-size: 18px !important;
    color: #050505 !important;
    font-weight: 400;
    margin-bottom: 5px;
}

#comment-wrap .comment_date,
#comment-wrap .comment-content p {
    color: #999 !important;
    font-size: 16px !important;
    font-weight: 400;
}

#comment-wrap .comment-content p:last-of-type {
    padding-bottom: 0 !important;
}

#comment-wrap .comment-content p {
    padding-bottom: 30px !important;
}

#comment-wrap ol.commentlist li.comment:last-child {
    margin-bottom: 0 !important;
}

#comment-wrap ol.commentlist li.comment {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 47px;
}

#comment-wrap .comment-body {
    margin-bottom: 48px;
    padding: 0 10px 0 103px;
}

#comment-wrap .comment-edit-link {
    color: #608ad8 !important;
}

#comment-wrap .comment_area .comment-reply-link:after {
    display: none !important;
}

#comment-wrap .comment_area .comment-reply-link {
    display: inline-block;
    position: static;
    padding: 5px 20px;
    margin-top: 20px;
    font-size: 16px;
    float: none !important;
}

/*Comment Form*/

#comment-wrap #respond p.logged-in-as {
    display: none !important;
}

#comment-wrap #respond h3.comment-reply-title {
    font-size: 36px !important;
    color: #243767 !important;
    margin-bottom: 20px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 500;
}

#comment-wrap #respond {
    padding-top: 54px;
    margin-bottom: 80px !important;
}

#comment-wrap #respond textarea {
    height: 194px !important;
    resize: none;
}

#comment-wrap #respond input,
#comment-wrap #respond textarea {
    background-color: transparent !important;
    color: #608ad8 !important;
    font-size: 24px !important;
    padding: 0 !important;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
}

#comment-wrap #respond p.comment-form-url {
    display: none !important;
}

#comment-wrap #respond p.comment-form-author,
#comment-wrap #respond p.comment-form-email {
    width: 48% !important;
    float: left;
    margin-bottom: 40px;

}

#comment-wrap #respond p.comment-form-author {
    margin-right: 4% !important;
}

#comment-wrap #respond p.comment-form-comment {
    clear: both;
    padding-top: 0;
}

#comment-wrap #respond .comment-notes {
    display: none !important;
}

/*Button*/

#comment-wrap #respond .form-submit {
    text-align: left !important;
    margin-top: 22px;
}

#comment-wrap #respond .form-submit input.submit:hover {
    background-color: #fff !important;
    color: #608ad8 !important;
}

#comment-wrap #respond .form-submit input.submit {
    background-color: #608ad8 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 18px !important;
    border: 1px solid #608ad8 !important;
    font-weight: 400;
    padding: 8px 60px !important;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

/**************/

#comment-wrap #respond p.wpgdprc-checkbox label {
    font-size: 16px !important;
}
#comment-wrap #respond p label {
    display: block !important;
    font-size: 0 !important;
    margin-bottom: -5px;
    position: relative;
    color: #627792;
    margin-top: 5px;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

#comment-wrap #respond p label:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    font-size: 16px !important;
    background-color: #999999;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: -7px;
    transform: translate(0, 45px);
    opacity: 0.2 !important;
}

#comment-wrap #respond p label:before {
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#comment-wrap #respond p.comment-form-comment label:before {
    content: 'What is your query?';
    transform: translate(0, -160px);
}

#comment-wrap #respond p.comment-form-author label:before {
    content: 'First and last name';
}

#comment-wrap #respond p.comment-form-email label:before {
    content: 'Email Address here';
}

#comment-wrap #respond p textarea,
#comment-wrap #respond p input {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#comment-wrap #respond p.filled textarea,
#comment-wrap #respond p.focus textarea,
#comment-wrap #respond p.filled input,
#comment-wrap #respond p.focus input {
    transform: translate(0, 15px);
}

#comment-wrap #respond p.filled label:before,
#comment-wrap #respond p.focus label:before {
    transform: translate(0, 20px);
}

#comment-wrap #respond p.filled label[for="et_pb_contact_message_4"]:before,
#comment-wrap #respond p.focus label[for="et_pb_contact_message_4"]:before {
    transform: translate(0, 20px);
}

#comment-wrap #respond p.filled label:after,
#comment-wrap #respond p.focus label:after {
    transform: translate(0, 23px);
}

#comment-wrap #respond textarea::-webkit-input-placeholder,
#comment-wrap #respond input::-webkit-input-placeholder {
    font-size: 30px !important;
    font-weight: 700 !important;
}

#comment-wrap #respond textarea::-moz-placeholder,
#comment-wrap #respond input::-moz-placeholder {
    font-size: 30px !important;
    font-weight: 700 !important;
}

#comment-wrap #respond textarea:-ms-input-placeholder,
#comment-wrap #respond input:-ms-input-placeholder {
    font-size: 30px !important;
    font-weight: 700 !important;
}

#comment-wrap #respond textarea:-moz-placeholder,
#comment-wrap #respond input:-moz-placeholder {
    font-size: 30px !important;
    font-weight: 700 !important;
}

#left-area > .cat_page_content > .et_pb_row > .et_pb_column .entry-content p {
    color: #999999;
    padding-bottom: 28px !important;
}

body.single-post .cat_page_content .et_pb_column_2_3 .et_post_meta_wrapper:last-child {
    margin-top: 56px;
}

body.single-post .cat_page_content .et_pb_column_2_3 .et_post_meta_wrapper:first-child {
    padding-top: 0 !important;
}

body.single-post .cat_page_content .et_pb_column_2_3 .et_post_meta_wrapper {
    width: 100% !important;
}

body.single-post #page-container .et_pb_column_2_3 h1.entry-title {
    font-size: 24px !important;
    line-height: 148%;
}

body.single-post #page-container .et_pb_column_2_3 .post-meta {
    font-size: 16px !important;
    color: #627792 !important;
    padding-bottom: 30px !important;
}

body.single-post #page-container .et_pb_column_2_3 .post-meta a {
    color: #627792 !important;
}

body.single-post #page-container .et_pb_column_2_3 .et_post_meta_wrapper > img {
    margin-bottom: 40px !important;
}

body.single-post .et_pb_column_2_3 .cat_page_content .et_pb_text blockquote {
    margin-top: 20px !important;
    padding: 3.3vw 4vw 2.8vw 7vw;
    margin-bottom: 20px !important;
}

body.single-post .et_pb_column_2_3 #comment-wrap #respond {
    padding-top: 43px;
    margin-bottom: 0 !important;
}

body.single-post .et_pb_column_2_3 #comment-wrap .comment-body {
    margin-bottom: 48px !important;
}

body.single-post .single_blog_page_content .et_pb_row {
    padding-top: 0 !important;
}

body.single-post .single_blog_page_content {
    margin-top: 60px;
}

body.single-post .cat_page_content .et_pb_column_1_3,
body.single-post .cat_page_content .et_pb_column_2_3  {
    margin-top: 165px;
}



/*Responsive*/

@media only screen and (min-width: 1930px) {
    #left-area .single_blog_page_content .et_pb_row blockquote,
    body.single-post .et_pb_column_2_3 .cat_page_content .et_pb_text blockquote,
    #left-area > .cat_page_content > .et_pb_row .entry-content blockquote,
    body.single-post .cat_page_content .et_pb_text blockquote {
        padding: 50px 50px 60px 150px;
    }

    body.single-post #page-container .cat_page_content .et_pb_row {
        padding-top: 60px;
    }

    body.single-post .et_pb_post .et_post_meta_wrapper > img {
        margin-bottom: 0px;
    }

    body.single-post .single_blog_page_content .et_pb_post .et_post_meta_wrapper > img {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .tags_section .et_pb_row,
    body.single-post .et_pb_post .et_post_meta_wrapper {
        width: 90% !important;
    }

    body.single-post .et_pb_post h1.entry-title {
        font-size: 28px !important;
    }

    body.single-post #page-container .single_blog_page_content .et_pb_row {
        width: 90% !important;
    }

    body.single-post .single_blog_page_content {
        margin-top: 0;
    }

    body.single-post .cat_page_content .et_pb_column_1_3,
    body.single-post .cat_page_content .et_pb_column_2_3  {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    #left-area .single_blog_page_content .et_pb_row blockquote,
    #left-area > .cat_page_content > .et_pb_row .entry-content blockquote,
    body.single-post .cat_page_content .et_pb_text blockquote {
        padding: 30px;
    }

    #left-area .single_blog_page_content .et_pb_row blockquote p:before,
    #left-area > .cat_page_content > .et_pb_row .entry-content blockquote p:before,
    body.single-post .cat_page_content .et_pb_text blockquote p:before {
        display: none !important;
    }

    body.single-post .et_pb_post h1.entry-title {
        font-size: 24px !important;
    }

    #comment-wrap .comment_avatar img {
        max-width: 100% !important;
    }

    body.single-post #page-container .et_pb_column_2_3 h1.entry-title {
        padding-bottom: 20px !important;
    }
}
