/*Header*/

.mozart_investment_header .et_pb_blurb_container h4 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mozart_investment_header .et_pb_blurb_description {
    max-width: 309px;
}

.mozart_investment_header .et_pb_column .et_pb_blurb:hover:before {
    opacity: 0.2;
}

.mozart_investment_header .et_pb_column .et_pb_blurb {
    width: 25% !important;
    float: left;
    transition: 0.3s !important;
    cursor: pointer;
}

.mozart_investment_header .et_pb_column .et_pb_blurb.noHover {
    width: 22% !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}

.mozart_investment_header .et_pb_column .et_pb_blurb.hover {
    width: 34% !important;
}

.mozart_investment_header .et_pb_blurb.hover .et_pb_blurb_description p {
    color: #fff !important;
}

.mozart_investment_header .et_pb_blurb.hover .et_pb_blurb_description {
    text-shadow: 0 0 1px #000;
}

.mozart_investment_header .et_pb_blurb .et_pb_main_blurb_image span {
    opacity: 1 !important;
}

/*WHAT WE DO*/

.mozart_investment_we_do .et_pb_blurb {
    cursor: pointer;
}

.mozart_investment_we_do .et_pb_blurb:nth-child(4n + 4) {
    margin-right: 0 !important;
}

.mozart_investment_we_do .et_pb_blurb {
    width: 23.2%;
    margin-right: 2.4%;
    float: left;
}

.mozart_investment_we_do .et_pb_column_2_3 {
    width: 66% !important;
}

.mozart_investment_we_do .et_pb_column_1_3 {
    width: 28% !important;
    margin-right: 6% !important;
}

.mozart_investment_we_do .et_pb_blurb .et_pb_main_blurb_image,
.mozart_investment_we_do .et_pb_blurb h4 {
    transition: 0.3s;
}

.mozart_investment_we_do .et_pb_blurb:hover .et_pb_main_blurb_image {
    transform: translate(0, 9px);
}

.mozart_investment_we_do .et_pb_blurb:hover h4 {
    transform: translate(0, -9px);
}

.mozart_investment_we_do .et_pb_blurb:hover:before {
    opacity: 1;
}

.mozart_investment_we_do .et_pb_blurb:hover:after {
    transform: scale(1);
    opacity: 1;
}

/*Focus Areas*/

.mozart_investment_focus_areas .et_pb_column_1_3:last-child {
    margin-right: 0 !important;
}

.mozart_investment_focus_areas .et_pb_column_1_3 {
    width: 31% !important;
    margin-right: 3.5% !important;
}

.mozart_investment_focus_areas .et_pb_blurb .et_pb_image_wrap img {
    display: block !important;
    width: 100%;
}

.mozart_investment_focus_areas .et_pb_blurb .et_pb_blurb_container h4,
.mozart_investment_focus_areas .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description {
    position: relative;
    z-index: 10;
}

.mozart_investment_focus_areas .et_pb_blurb .et_pb_blurb_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2.8vw 1.9vw 3vw;
}

.mozart_investment_focus_areas .et_pb_blurb .et_pb_blurb_container:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transition: 0.3s;
    transition-delay:  0.2s;
    
}

.mozart_investment_focus_areas .et_pb_blurb:hover:before {
    top: 0;transition: 0.5s; 
}

.mozart_investment_focus_areas .et_pb_blurb:hover .et_pb_blurb_container:before {
    transform: translate(0, 100%);
}

.mozart_investment_focus_areas .et_pb_blurb:hover .et_pb_blurb_container h4,
.mozart_investment_focus_areas .et_pb_blurb:hover .et_pb_blurb_container p {
    color: #fff !important;
}

/*Working with our clients*/

.mozart_investment_working_clients .et_pb_column_2_3 .et_pb_image img {
    display: block !important;
    width: 100% !important;
}

.mozart_investment_working_clients .et_pb_column_1_3 {
    width: 34% !important;
}

.mozart_investment_working_clients .et_pb_column_2_3 {
    width: 57% !important;
    margin-right: 8.7% !important;
}

.mozart_investment_working_clients .et_pb_blurb {
    cursor: pointer;
}

/*Blog*/

.mozart_investment_blog article {
    border-radius: 6px;
    border: 2px solid #e7eef9 !important;
    background-color: #fff;
    text-align: center;
    padding-bottom: 0 !important;
    position: relative;
    cursor: pointer;
    width: 32%;
    margin-right: 2% !important;
    float: left;
}

.mozart_investment_blog article:last-child {
    margin-right: 0 !important;
}

.mozart_investment_blog .post-meta .categories {
    position: absolute;
    left: 0;
    right: 0;
    top: 16px;
}

.mozart_investment_blog .post_info{
    position: relative;
    padding: 50px 20px 207px !important;
}

.mozart_investment_blog h2.entry-title
{
    margin-top: 0 !important;
}
.mozart_investment_blog h2.entry-title > a {
    display: inline-block;
}

#page-container .mozart_investment_blog .post-meta .author.vcard a {
    color: #608ad8 !important;
}

#page-container .mozart_investment_blog .post-meta .author.vcard {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 18px;

}

.mozart_investment_blog .post-content {
    display: none !important;
}

#page-container .mozart_investment_blog .post-meta .author.vcard img {
    display: block !important;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.mozart_investment_blog a.entry-featured-image-url {
    overflow: hidden;
}

.mozart_investment_blog a img {
    width: 100% !important;
    max-width: none !important;
    position: relative;
}

/*Hovers*/

#page-container .mozart_investment_blog .post-meta .author.vcard img,
.mozart_investment_blog article,
.mozart_investment_blog article a img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mozart_investment_blog article:hover a.entry-featured-image-url:before {
    top: 0;
}
.mozart_investment_blog article a.entry-featured-image-url:before {
    content: "";
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition-delay: 0.3s !important;
    transition: 0.3s;
    background-color: #243767;
    opacity: 0.8;
    visibility: visible;
    z-index: 1;
}
.mozart_investment_blog article:hover a img {
    transform: scale(1.1) rotate(3deg);
}

#page-container .mozart_investment_blog article:hover .post-meta .author.vcard img {
    transform: rotate(5deg) scale(1.05);
}

.mozart_investment_blog article:hover {
    box-shadow: none;
    border-color: #e1e1e1 !important;
}

.mozart_investment_blog article:hover .author.vcard a,
.mozart_investment_blog article:hover .post-content,
.mozart_investment_blog article:hover .post-meta .categories,
.mozart_investment_blog article:hover .post-meta .published,
.mozart_investment_blog article:hover h2.entry-title {
    -webkit-animation: fadeIn 1s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    #page-container .mozart_investment_header .et_pb_blurb {
        padding-top: 800px !important;
        padding-bottom: 80px !important;
    }

    .mozart_investment_focus_areas .et_pb_blurb .et_pb_blurb_container {
        padding: 60px !important;
    }
}



@media only screen and (max-width: 1390px) {

    .mozart_investment_we_do .et_pb_button_wrapper .et_pb_promo_button {
        margin-top: 0 !important;
    }

    .mozart_investment_we_do .et_pb_button_wrapper,
    #page-container .mozart_investment_we_do .et_pb_promo_description h2,
    .mozart_investment_we_do .et_pb_promo_description {
        text-align: center !important;
    }

    .mozart_investment_we_do .et_pb_column_2_3,
    .mozart_investment_we_do .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .mozart_investment_we_do .et_pb_column_1_3 {
        margin-bottom: 60px !important;
    }

    .mozart_investment_working_clients .et_pb_column_1_4 .et_pb_blurb {
        max-width: 100% !important;
        margin: 0 !important;
    }

    .mozart_investment_working_clients .et_pb_column_1_4 {
        padding-left: 0 !important;
    }

    .mozart_investment_working_clients .et_pb_row {
        width: 90% !important;
    }

    .mozart_investment_working_clients .et_pb_column_2_3 {
        width: 57% !important;
        margin-right: 4% !important;
    }

    .mozart_investment_working_clients .et_pb_column_1_3 {
        width: 39% !important;
        padding-top: 0 !important;
    }

    .mozart_investment_blog .et_pb_row {
        width: 90% !important;
    }
}

@media only screen and (max-width: 980px) {
    .mozart_investment_working_clients .et_pb_column_1_3 {
        width: 47% !important;
    }

    .mozart_investment_working_clients .et_pb_column_2_3 {
        width: 49% !important;
        margin-right: 4% !important;
    }

    /*Blog*/
    #page-container .blog_2 .column {
        width: 100% !important;
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none !important;
    }

    .mozart_investment_working_clients .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_container h4 ,
    .mozart_investment_focus_areas .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_container h4 ,
    .mozart_investment_header .et_pb_blurb .et_pb_blurb_content .et_pb_blurb_container h4 {
        padding-bottom: 10px !important;
    }

    .mozart_investment_we_do .et_pb_row,
    .mozart_investment_focus_areas .et_pb_row{
        width: 90% !important;
    }

    .mozart_investment_focus_areas .et_pb_blurb .et_pb_blurb_container {
        padding: 20px 25px;
    }



}

@media only screen and (max-width: 767px) {
    .mozart_investment_header .et_pb_column .et_pb_blurb {
        overflow: hidden;
    }

    #page-container .mozart_investment_header .et_pb_blurb_content {
        opacity: 0 !important;
        transform: translate(-100%, -50%);
        transition: 0.3s !important;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 0 20px 46px;
    }

    #page-container .mozart_investment_header .et_pb_blurb.hover .et_pb_blurb_content {
        transition-delay: 0.3s !important;
        opacity: 1 !important;
        transform: translate(0%, -50%);
    }

    .mozart_investment_header .et_pb_column .et_pb_blurb.noHover {
        width: 16% !important;
    }

    .mozart_investment_header .et_pb_column .et_pb_blurb.hover {
        width: 52% !important;
    }

    .mozart_investment_header .et_pb_column .et_pb_blurb {
        padding: 170px 0 !important;
    }

    .mozart_investment_we_do .et_pb_blurb:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    .mozart_investment_we_do .et_pb_blurb {
        width: 43% !important;
        margin-right: 14% !important;
    }

    .mozart_investment_working_clients .et_pb_column_1_3 {
        width: 100% !important;
    }

    .mozart_investment_working_clients .et_pb_column_2_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }



    .mozart_investment_blog h2.entry-title > a {
        height: auto !important;
    }

    .mozart_investment_blog a img {
        position: static;
        transform: none !important;
        width: 100% !important;
        height: auto !important;
    }

    .mozart_investment_blog a.entry-featured-image-url {
        height: auto;
    }

    .mozart_investment_blog article h2.entry-title {
        margin-top: 0 !important;
        max-width: 80%;
    }

    .mozart_investment_blog article:last-child {
        margin-right: auto !important;
        margin-bottom: 0 !important;
    }

    .mozart_investment_blog article {
        width: 100% !important;
        max-width: 370px;
        margin: 0 auto 30px !important;
        float: none !important;
    }

    .mozart_investment_blog .et_pb_text {
        text-align: center !important;
    }


    .mozart_investment_focus_areas .et_pb_column_1_3 .et_pb_blurb_content{
        max-width: 100% !important;
    }
    .mozart_investment_focus_areas .et_pb_column_1_3:last-child{
        margin-right: auto !important;
    }
    .mozart_investment_focus_areas .et_pb_column_1_3 {
        width: 100% !important;
        margin: 0 auto 30px !important;
        max-width: 370px;
        float: none;
    }

    #page-container .mozart_investment_focus_areas{
        background-image: none !important;
    }


    #page-container .mozart_investment_focus_areas .et_pb_text{
        text-align: center !important;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .mozart_investment_header .et_pb_row {
        width: 100% !important;
    }

    .mozart_investment_header .et_pb_column .et_pb_blurb.noHover {
        width: 6% !important;
    }

    .mozart_investment_header .et_pb_column .et_pb_blurb.hover {
        width: 82% !important;
    }

    .mozart_investment_we_do .et_pb_blurb {
        width: 100% !important;
        margin-right: 0 !important;
    }

    #page-container .mozart_investment_working_clients .et_pb_column_1_4:not(:last-child) {
        margin-bottom: 30px !important;
    }

    #page-container .mozart_investment_cta .et_pb_promo .et_pb_button.et_pb_promo_button {
        padding: 10px 15px !important;
    }
}


