
.et_pb_blurb.et_pb_blurb_position_top .et_pb_main_blurb_image {
    display: block;
}

.mozart_consult_header .animate_image .et_pb_image_wrap,
.mozart_consult_header .animate_image img {
    max-width: none !important;
}

.mozart_consult_header a {
    color: #fff !important;
}

.mozart_consult_header .et_pb_text a {
    margin-left: 2.6% !important;
    display: inline-block;
}

.mozart_consult_header a:hover {
    color: #a7a7a7 !important;
}

/*******************************************************************************/

/*consult Section with 3 boxes*/
#page-container .consult_3_box_section .et_pb_column_1_3 {
    width: 35% !important;
    margin-right: 7.5%;
}

#page-container .consult_3_box_section .et_pb_column_2_3 {
    width: 57.5% !important;
}

#page-container .consult_3_box_section .et_pb_column_2_3 .et_pb_blurb {
    padding: 0.7vw !important;
}

/*consult What we do Section*/

.mozart_consult_what_we_do .et_pb_column_1_3:last-child {
    margin-right: 0 !important;
}

.mozart_consult_what_we_do .et_pb_column_1_3 {
    width: 32% !important;
    margin-right: 2% !important;
}

/*Headings before icons*/

.mozart_consult_what_we_do .et_pb_column_1_3:hover .et_pb_promo h2 {
    color: #608ad8 !important;
}

/*Columns*/

#page-container .mozart_consult_what_we_do .et_pb_column_1_2:last-child {
    width: 65.8%;
}

#page-container .mozart_consult_what_we_do .et_pb_column_1_2:first-child {
    width: 26%;
    margin-right: 8.2%;
}

/*Button*/

.mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:after {
    display: none !important;
}

.mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:after,
.mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:before {
    content: "\f061";
    display: inline-block !important;
    font-family: FontAwesome !important;
    font-size: 11px !important;
    vertical-align: middle;
    position: absolute;
    opacity: 1 !important;
    line-height: 100%;
    top: 8px;
}

#page-container .mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:hover {
    padding-left: 0 !important;
}

#page-container .mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button {
    position: relative;
    padding-left: 20px !important;
    transition: all 0.3s ease 0s;
}

.mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:before {
    margin-right: 12px;
    left: 0;
    margin-left: 0 !important;
}

.mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:after {
    padding-left: 5px;
    right: 0;
    opacity: 0 !important;
}

.mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:hover:after {
    opacity: 1 !important;
    transform: translate(100%, 0px);
}

.mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button:hover:before {
    opacity: 0 !important;
    transform: translate(100%, 0px);
}

/*Hovers*/

.mozart_consult_what_we_do .et_pb_column_1_3 {
    cursor: pointer;
}

.mozart_consult_what_we_do .et_pb_column_1_3 .et_pb_promo_description h2 {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.mozart_consult_what_we_do .et_pb_column_1_3:hover .et_pb_promo {
    -webkit-animation: fadeInOp 1s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeInOp 1s infinite;
    animation-iteration-count: 1;
}

/*consult 3 boxes Blurb*/

.mozart_consult_3_boxes_blurb .et_pb_column_1_3:hover .et_pb_blurb .et_pb_blurb_containerr {
    -webkit-animation: fadeIn 0.8s infinite;
    animation: fadeIn 0.8s infinite;
    animation-iteration-count: 1;
}

.mozart_consult_3_boxes_blurb .et_pb_button_module_wrapper {
    z-index: 9;
    position: relative;
    max-width: 100%;
    margin-left: 4.4vw !important;
    overflow: hidden;
    padding-right: 4.4vw;
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_button_module_wrapper .et_pb_button {
    padding-right: 40px !important;
    transform: translate(-101px, 0);
    transition: 0.3s !important;
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3 {
    cursor: pointer;
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3 .et_pb_blurb h4,
#page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_description {
    transition: 0.3s;
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3:hover .et_pb_blurb .et_pb_blurb_description {
    /*transition-delay: 0.2s;*/
    transform: translate(0, -20px);
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3:hover .et_pb_blurb h4 {
    /*transition-delay: 0.1s;*/
    transform: translate(0, -8px);
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3:hover .et_pb_blurb:after {
    opacity: 0.5;
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3:hover .et_pb_button_module_wrapper .et_pb_button {
    transition-delay: 0.3s !important;
    transform: translate(0, 0);
}

#page-container .mozart_consult_3_boxes_blurb .et_pb_button_module_wrapper .et_pb_button:after {
    line-height: 100% !important;
    font-size: 36px !important;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
    color: inherit;
}

/*consult Persons*/

.mozart_consult_team .et_pb_member_social_links li:last-child {
    margin-right: 0 !important;
}

.mozart_consult_team .et_pb_member_social_links li {
    margin-right: 31px !important;
}

.mozart_consult_team .et_pb_member_social_links li a:hover {
    opacity: 0.5 !important;
}

.mozart_consult_team .et_pb_team_member img {
    width: auto;

    position: absolute;
    left: 50%;
    top: -51px;
    transform: translate(-50%, 0);
    max-width: none;
}

.mozart_consult_team .et_pb_team_member:after {
    content: "";
    display: block;
    background: #1a284d;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.mozart_consult_team .et_pb_team_member .et_pb_team_member_description {
    transition-delay: 0.3s !important;
    z-index: 9;
}

.mozart_consult_team .et_pb_team_member .et_pb_team_member_image:after {
    border: 1px solid;
    border-color: #fff;
    border-radius: 0;
    content: '';
    display: block;
    position: absolute;
    z-index: 20;
    opacity: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
}

.mozart_consult_team .et_pb_team_member:hover .et_pb_team_member_image:after {
    transition-delay: 0.3s !important;
    transition: 0.4s;

    left: 35px;
    right: 35px;
    top: 45px;
    bottom: 45px;
    opacity: 1;
}

.mozart_consult_team .et_pb_team_member:hover:after {
    transition-delay: 0s !important;
    /*opacity: 1;*/
    transition: transform .2s ease-out;
}

.mozart_consult_team .et_pb_team_member:hover .et_pb_team_member_description {
    transition-delay: 0s !important;
    transform: translate(0, 120%);
}

.mozart_consult_team .et_pb_team_member .et_pb_team_member_image img {
    transition: 0.4s !important;
    transition-delay: 0.2s !important;
}

.mozart_consult_team .et_pb_team_member:hover .et_pb_team_member_image img {
    transition-delay: 0s !important;
    /*opacity: 0.6 !important;*/
    top: 0 !important;
    transition: all .2s ease-out;
}

#page-container .mozart_consult_team .et_pb_team_member a.mozart_team_link{
    display: none !important;
}
#page-container .mozart_consult_team .et_pb_team_member {
    padding-top: 0 !important;
}

.mozart_consult_team .et_pb_team_member .et_pb_team_member_description {
    margin-top: 261px;
    display: block !important;
    transition: 0.3s;
}

#page-container .mozart_consult_team .et_pb_team_member .et_pb_team_member_image {
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.4s !important;
    transition-delay: 0.2s !important;
    margin-top: 51px !important;
}

#page-container .mozart_consult_team .et_pb_team_member:hover .et_pb_team_member_image {
    transition-delay: 0s !important;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    cursor: pointer;
    max-width: 100% !important;
}

.mozart_consult_team .et_pb_team_member .et_pb_team_member_image:before {
    display: block !important;
    content: "9";
    background-color: #ffffff;
    position: absolute;
    top: auto;
    z-index: 99;
    font-family: ETmodules;
    line-height: 100%;
    border-radius: 50%;
    padding: 18px;
    font-size: 26px;
    right: 20px;
    transform: translate(90px, 0);
    opacity: 0;
    width: 26px;
    color: #608ad8 !important;
    bottom: 22px;
    transition: 0.4s;
}

.mozart_consult_team .et_pb_team_member:hover .et_pb_team_member_image:before {
    transition-delay: 0.4s !important;
    transition: all .3s ease-out;
    transform: translate(0, 0);
    opacity: 1;
}

/*consult Pricing Tables*/
.mozart_consult_pricing_tables .et_pb_pricing_table {
    border: none !important;
}

.mozart_consult_pricing_tables .et_pb_pricing_content .et_pb_pricing li span:before {
    display: none !important;
}

#page-container .mozart_consult_pricing_tables .et_pb_button_wrapper a.et_pb_pricing_table_button {
    padding: 11px 5px !important;
}

.mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table .et_pb_dollar_sign {
    color: #fff !important;
}

.mozart_consult_pricing_tables .et_pb_row {
    width: 95% !important;
}

.mozart_consult_pricing_tables .et_pb_button_wrapper {
    margin: 0 -0.5vw;
    padding: 0 !important;
}

.mozart_consult_pricing_tables .et_pb_column_2_3 {
    width: 57.1% !important;
}

.mozart_consult_pricing_tables .et_pb_column_1_3 {
    width: 33.666% !important;
    margin-right: 9.2% !important;
}

.mozart_consult_pricing_tables .et_pb_pricing_table {
    padding: 2.4vw 3vw 2.6vw !important;
}

.mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table {
    padding: 3.5vw 2.9vw 3.6vw !important;
}

#page-container .mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table .et_pb_button_wrapper a.et_pb_pricing_table_button {
    color: #fff !important;
}

.mozart_consult_pricing_tables .et_pb_pricing_table:not(.et_pb_featured_table ) {
    margin-top: 1.1vw !important;
}

.mozart_consult_pricing_tables ul.et_pb_pricing li {
    margin-bottom: 13px;
}

.mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table .et_pb_dollar_sign,
.mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table .et_pb_sum {
    font-size: 82px !important;
}

/*Testimonials 1*/

.mozart_consult_testimonials .et_pb_testimonial_portrait:before {
    content: '“';
    font-family: 'Playfair Display';
    width: auto !important;
    height: auto !important;
    line-height: 100%;
    box-shadow: none !important;
    color: #608ad8;
}

.mozart_consult_testimonials .et_pb_testimonial_portrait:before {
    font-size: 120px;
    top: -14px;
    left: 40px;
}

/*consult Logos Section*/

#page-container .mozart_consult_logos .et_pb_column .et_pb_image:nth-child(3n + 3) {
    margin-right: 0 !important;
}

#page-container .mozart_consult_logos .et_pb_column .et_pb_image {
    width: 29% !important;
    margin-right: 6.5% !important;
    margin-bottom: 1.7vw !important;
}

/*Lines*/

.section_bottom_lines_image .et_pb_image_wrap,
.section_bottom_lines_image .et_pb_image_wrap img {
    display: block !important;
    width: 100% !important;
}

.mozart_consult_numbers .et_pb_number_counter .percent {
    vertical-align: middle;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    .mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table {
        padding: 64px 50px !important;
    }

    .mozart_consult_pricing_tables .et_pb_pricing_table {
        padding: 50px !important;
    }

    .mozart_consult_pricing_tables .et_pb_pricing_table:not(.et_pb_featured_table ) {
        margin-top: 22px !important;
    }

    #page-container .mozart_consult_team .et_pb_team_member {
        padding: 0 40px 25px !important;
    }
}

@media only screen and (max-width: 1800px) {
    #page-container .mozart_consult_3_boxes_blurb .et_pb_blurb {
        padding: 6.4vw 50px 2vw !important;
    }

    .mozart_consult_3_boxes_blurb .et_pb_button_module_wrapper {
        margin: 0 50px !important;
    }

    .mozart_consult_3_boxes_blurb .et_pb_blurb .et_pb_blurb_content {
        padding-right: 4vw !important;
    }

    .mozart_consult_3_boxes_blurb .et_pb_blurb:before,
    .mozart_consult_3_boxes_blurb .et_pb_blurb .et_pb_blurb_content,
    .mozart_consult_3_boxes_blurb .et_pb_button_module_wrapper {
        max-width: none !important;
    }
}

@media only screen and (max-width: 1390px) {
    #page-container .consult_3_box_section .et_pb_column_1_3 {
        width: 35% !important;
        margin-right: 3%;
    }

    #page-container .consult_3_box_section .et_pb_column_2_3 {
        width: 62% !important;
    }

    #page-container .mozart_consult_what_we_do .et_pb_column_1_2:first-child {
        width: 36%;
        margin-right: 4%;
    }

    #page-container .mozart_consult_what_we_do .et_pb_column_1_2:last-child {
        width: 60%;
    }

    #page-container .mozart_consult_logos .et_pb_column_1_3 {
        width: 38% !important;
    }

    #page-container .mozart_consult_logos .et_pb_column_2_3 {
        width: 62% !important;
    }

    #page-container .consult_3_box_section .et_pb_blurb {
        width: 33.33% !important;
        padding: 0 0.5vw !important;
        margin: 0 !important;
    }

    #page-container .mozart_consult_3_boxes_blurb .et_pb_column_1_3 {
        padding-bottom: 40px !important;
    }

    #page-container .mozart_consult_3_boxes_blurb .et_pb_blurb {
        padding: 40px 40px 20px !important;
    }

    .mozart_consult_3_boxes_blurb .et_pb_button_module_wrapper {
        margin: 0 40px !important;
    }

    .mozart_consult_3_boxes_blurb .et_pb_blurb .et_pb_blurb_content {
        padding-right: 0 !important;
    }

    .mozart_consult_team .et_pb_row:last-child {
        max-width: 855px !important;
    }

    .mozart_consult_team .et_pb_row:last-child .et_pb_team_member {
        padding: 0 20px 20px 20px !important;
    }

    .mozart_consult_team .et_pb_row:last-child .et_pb_team_member h4.et_pb_module_header {
        padding-bottom: 0 !important;
    }

    .mozart_consult_team .et_pb_row:last-child .et_pb_team_member .et_pb_member_position {
        padding-bottom: 5px !important;
    }

    .mozart_consult_team .et_pb_row:last-child .et_pb_team_member .et_pb_member_social_links {
        margin-top: 10px;
    }

    .mozart_consult_pricing_tables .et_pb_column_1_3 {
        width: 33% !important;
        margin-right: 3% !important;
    }

    .mozart_consult_pricing_tables .et_pb_column_2_3 {
        width: 64% !important;
    }
}

@media only screen and (max-width: 1260px) and (min-width: 768px){
    .mozart_consult_what_we_do .et_pb_column_1_3 .et_pb_promo_description h2 {
        max-width: 206px;
    }
}

@media only screen and (max-width: 1390px) and (min-width: 981px) {
    .mozart_consult_numbers .et_pb_row {
        width: 90% !important;
    }

    .mozart_consult_numbers .et_pb_number_counter h3 {
        padding-top: 12px !important;
    }

    .mozart_consult_numbers .et_pb_number_counter .percent p {
        font-size: 52px !important;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .consult_3_box_section .et_pb_blurb:first-child {
        border: none !important;
    }

    #page-container .consult_3_box_section .et_pb_blurb {
        width: 33.33% !important;
        padding: 0 0.5vw !important;
        margin: 0 !important;
    }

    #page-container .consult_3_box_section .et_pb_button_wrapper,
    #page-container .consult_3_box_section .et_pb_promo_description {
        text-align: center !important;
    }

    #page-container .consult_3_box_section .et_pb_promo_button.et_pb_button {
        margin-top: 5px !important;
        padding: 10px 20px !important;
    }

    #page-container .consult_3_box_section .et_pb_promo_description h2 {
        padding-bottom: 15px !important;
    }

    .consult_section_get_started .et_pb_image_wrap {
        display: block !important;
    }

    .consult_section_get_started .et_pb_promo_button {
        margin-top: 0 !important;
    }

    .consult_section_get_started .et_pb_promo_description h2 {
        max-width: 100% !important;
        padding-bottom: 10px !important;
    }

    .mozart_consult_team .et_pb_row:last-child {
        max-width: 725px !important;
    }

    .mozart_consult_team .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    .mozart_consult_team .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    .mozart_consult_team .et_pb_column_1_3 .et_pb_team_member .et_pb_team_member_image {
        float: none !important;
    }

    .mozart_consult_team .et_pb_column_1_3 .et_pb_team_member h4 {
        padding-bottom: 4px !important;
    }

    .mozart_consult_team .et_pb_column_1_3 .et_pb_team_member .et_pb_member_position {
        padding-bottom: 10px !important;
    }

    .mozart_consult_team .et_pb_row:last-child .et_pb_team_member {
        padding-top: 20px !important;
    }

    .mozart_consult_numbers .et_pb_column_1_4:after {
        display: none !important;
    }

    .mozart_consult_numbers .et_pb_number_counter {
        display: block !important;
    }

    .mozart_consult_numbers .et_pb_number_counter h3 {
        text-align: center !important;
        padding-left: 0 !important;
        display: block !important;
    }

    .mozart_consult_numbers .et_pb_number_counter .percent {
        height: auto;
        display: block !important;
        text-align: center !important;
    }

    .mozart_consult_numbers .et_pb_number_counter .percent p {
        text-align: center !important;
    }

    .mozart_consult_pricing_tables .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    .mozart_consult_pricing_tables .et_pb_column_2_3 {
        width: 100% !important;
    }

    .mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table {
        padding: 3.9vw 2.9vw 3.9vw !important;
    }

    .mozart_consult_pricing_tables .et_pb_column:first-child {
        margin-bottom: 10px !important;
    }

    .mozart_consult_pricing_tables .et_pb_promo .et_pb_promo_description h2 {
        padding-bottom: 20px !important;
    }

    .mozart_consult_pricing_tables .et_pb_promo:first-child .et_pb_promo_description h2 {
        padding-bottom: 9px !important;
    }

    .mozart_consult_testimonials .et_pb_testimonial_portrait {
        width: 220px !important;
        height: 220px !important;
    }

    #page-container .mozart_consult_testimonials .et_pb_testimonial {
        padding-top: 0 !important;
    }

    #page-container .mozart_consult_testimonials .et_pb_testimonial .et_pb_testimonial_description {
        margin-left: 260px !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
    }

    .mozart_consult_testimonials .et_pb_testimonial_portrait:before {
        top: -17px;
        left: 15px;
    }

    #page-container .mozart_consult_logos .et_pb_button {
        margin-top: 20px !important;
        padding: 10px 20px !important;
    }

    #page-container .mozart_consult_logos .et_pb_column .et_pb_image {
        margin-bottom: 10px !important;
    }

    #page-container .consult_3_box_section .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0;
    }

    #page-container .consult_3_box_section .et_pb_column_2_3 {
        width: 100% !important;
    }

    .mozart_consult_header .animate_image {
        right: 0;
        left: 0;
        top: 29px;
    }

    .consult_section_get_started .et_pb_promo {
        text-align: center !important;
    }

    .mozart_consult_pricing_tables .animate_image {
        top: 53px;
        right: auto;
        left: 0;
    }

    .mozart_consult_pricing_tables .et_pb_column_1_3 {
        margin-top: 0 !important;
    }

    .mozart_consult_logos .et_pb_row {
        width: 90% !important;
    }

    .mozart_consult_what_we_do .et_pb_row{
        width: 90% !important;
    }
}

@media only screen and (max-width: 767px) {
    .consult_3_box_section .et_pb_row {
        width: 90% !important;
    }

    .mozart_consult_team .et_pb_row:last-child {
        max-width: 370px !important;
    }

    .mozart_consult_team .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    .mozart_consult_pricing_tables .et_pb_promo .et_pb_promo_description p,
    .mozart_consult_pricing_tables .et_pb_promo .et_pb_promo_description h2 {
        text-align: center !important;
    }

    .mozart_consult_pricing_tables .et_pb_pricing_table {
        width: 100% !important;
        max-width: 400px;
        margin: 0 auto !important;
        float: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table .et_pb_dollar_sign,
    .mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table .et_pb_sum {
        font-size: 52px !important;
    }

    .mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table,
    .mozart_consult_pricing_tables .et_pb_pricing_table {
        padding: 40px !important;
    }

    .mozart_consult_pricing_tables ul.et_pb_pricing li {
        margin-bottom: 0px;
    }

    #page-container .mozart_consult_pricing_tables .et_pb_pricing_content {
        padding: 0 0 30px !important;
    }

    #page-container .mozart_consult_testimonials .et_pb_testimonial .et_pb_testimonial_description {
        margin-left: 0 !important;
        text-align: center !important;
    }

    .mozart_consult_testimonials .et_pb_testimonial_portrait {
        margin-bottom: 30px !important;
    }

    .mozart_consult_testimonials .et_pb_testimonial_portrait {
        width: 200px !important;
        height: 200px !important;
    }

    #page-container .mozart_consult_logos .et_pb_column:last-child {
        display: block !important;
    }

    #page-container .mozart_consult_logos .et_pb_column .et_pb_image:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    #page-container .mozart_consult_logos .et_pb_column .et_pb_image:nth-child(3n + 3) {
        margin-right: 2% !important;
    }

    #page-container .mozart_consult_logos .et_pb_column .et_pb_image {
        width: 48% !important;
        margin-right: 2% !important;
        float: left;
        padding: 15px;
    }

    .mozart_consult_header .animate_image {
        top: 23px;
        overflow: hidden;
    }

    .mozart_consult_what_we_do .et_pb_column_1_2 .animate_image,
    .mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_button_module_wrapper,
    .mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_text,
    .mozart_consult_what_we_do .et_pb_column_1_2 .et_pb_promo,
    .mozart_consult_what_we_do .et_pb_column_1_3 .et_pb_promo {
        text-align: center !important;
    }

    .mozart_consult_what_we_do .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0 !important;
        text-align: center !important;
    }


    .mozart_consult_what_we_do .et_pb_column_1_3 .et_pb_promo .et_pb_promo_description h2 {
        margin-top: 10px;
        padding-bottom: 10px;

    }

    .mozart_consult_pricing_tables .animate_image {
        top: 45px;
        right: 0;
        left: 0;
        overflow: hidden;
    }

    #page-container .mozart_consult_logos .et_pb_column_2_3 {
        width: 100% !important;
    }

    #page-container .mozart_consult_logos .et_pb_column_1_3 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    #page-container .consult_3_box_section .et_pb_blurb {
        width: 100% !important;
        border: none !important;
    }
}

@media only screen and (max-width: 480px) {
    #page-container .consult_3_box_section .et_pb_blurb:last-child {
        margin-bottom: 0 !important;
    }

    #page-container .consult_3_box_section .et_pb_blurb {
        width: 100% !important;
        margin-bottom: 30px !important;
        border: 0 !important;
    }

    #page-container .mozart_consult_3_boxes_blurb .et_pb_row {
        width: 100% !important;
    }

    .mozart_consult_team .et_pb_row:last-child {
        max-width: 300px !important;
    }

    .mozart_consult_pricing_tables .et_pb_pricing_table.et_pb_featured_table,
    .mozart_consult_pricing_tables .et_pb_pricing_table {
        padding: 25px !important;
    }

    .mozart_consult_pricing_tables .et_pb_row {
        width: 90% !important;
    }
}

/*Hover*/

.consult_3_box_section .et_pb_blurb:hover .et_pb_blurb_container {
    -webkit-animation: fadeIn 5s infinite;
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1
}

.consult_3_box_section .et_pb_blurb .et_pb_main_blurb_image,
.consult_3_box_section .et_pb_blurb .et_pb_blurb_container h4 {
    transition: 0.3s;
}

.consult_3_box_section .et_pb_blurb_container h4:before {
    display: block;
    content: "";
    width: 0;
    max-width: 150px;
    height: 1px;
    margin: 10px auto -10px;
    transition-delay: 0s;
    background-color: #e7eef9;
    transition: 0.3s;
    transform: translate(0, -20px);
}

.consult_3_box_section .et_pb_blurb:hover .et_pb_blurb_container h4:before {
    width: 100%;
    transition-delay: 0.3s;
}

.consult_3_box_section .et_pb_blurb:hover .et_pb_blurb_container h4 {
    transform: translate(0, 6px);
}

.consult_3_box_section .et_pb_blurb:hover .et_pb_main_blurb_image {
    transform: translate(0, -6px);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}