/*Team Page Text Slider*/

.moz_team_page_slider .et_pb_slide .et_pb_slide_content {
    text-align: left !important;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 160%;
}

.moz_team_page_slider .et_pb_slide {
    background-color: transparent !important;
    box-shadow: none !important;
    text-align: left !important;
    padding: 0 !important;
}

.moz_team_page_slider .et-pb-controllers a {
    border-radius: 100% !important;
    background-color: transparent;
    border: 2px solid;
    width: 10px !important;
    height: 10px !important;
}

.moz_team_page_slider .et_pb_slider .box-shadow-overlay{
    box-shadow: none !important;
}

    /*team Persons*/

.mozart_team_land .et_pb_member_social_links li:last-child {
    margin-right: 0 !important;
}

.mozart_team_land .et_pb_member_social_links li {
    margin-right: 31px !important;
}

.mozart_team_land .et_pb_member_social_links li a:hover {
    opacity: 0.5 !important;
}

.mozart_team_land .et_pb_team_member img {
    width: auto;

    position: absolute;
    left: 50%;
    top: -51px;
    transform: translate(-50%, 0);
    max-width: none;
}

.mozart_team_land .et_pb_team_member:after {
    content: "";
    display: block;
    background: #1a284d;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.mozart_team_land .et_pb_team_member .et_pb_team_member_description {
    z-index: 9;
}

.mozart_team_land .et_pb_team_member .et_pb_team_member_image:after {
    transition-delay: 0.6s !important;
    transition: 0.3s;
    border: 1px solid;
    border-color: #fff;
    border-radius: 0;
    content: '';
    display: block;
    position: absolute;
    z-index: 20;
    opacity: 1;
    margin: auto;
    left: 35px;
    right: 35px;
    top: 45px;
    bottom: 45px;
}

.mozart_team_land .et_pb_team_member:hover .et_pb_team_member_image:after {
    transition-delay: 0s !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.mozart_team_land .et_pb_team_member .et_pb_team_member_description {
    transition-delay: 0s !important;
    transition: 0.3s;
    transform: translate(0, 120%);
    opacity: 0;
}

.mozart_team_land .et_pb_team_member:hover .et_pb_team_member_description {
    transition-delay: 0.6s !important;
    transform: translate(0, 0);
    opacity: 1;
}

.mozart_team_land .et_pb_team_member .et_pb_team_member_image img {
    transition: 0.3s !important;
    transition-delay: 0.3s !important;
    top: 0 !important;
    transition: all .2s ease-out;
}

.mozart_team_land .et_pb_team_member:hover .et_pb_team_member_image img {
    transition-delay: 0.3s !important;
    top: -51px !important;
}

#page-container .mozart_team_land .et_pb_team_member {
    padding-top: 0 !important;
}

.mozart_team_land .et_pb_team_member .et_pb_team_member_description {
    margin-top: 261px;
    display: block !important;
}

#page-container .mozart_team_land .et_pb_team_member .et_pb_team_member_image {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition-delay: 0.3s !important;
    transition: 0.3s;
    margin-top: 0 !important;
    border-radius: 0;
    max-width: 100% !important;
}

#page-container .mozart_team_land .et_pb_team_member:hover .et_pb_team_member_image {
    transition-delay: 0.3s !important;
    border-radius: 100%;
    width: 185px;
    height: 185px;
    margin-top: 51px !important;
    cursor: pointer;
}

.mozart_team_land .et_pb_team_member .et_pb_team_member_image:before {
    transition-delay: 0.6s !important;
    transition: 0.3s;
    display: block !important;
    content: "9";
    background-color: #ffffff;
    position: absolute;
    top: auto;
    z-index: 99;
    font-family: ETmodules;
    line-height: 100%;
    border-radius: 50%;
    padding: 18px;
    font-size: 26px;
    right: 20px;
    transform: translate(0, 0);
    opacity: 1;
    width: 26px;
    color: #608ad8 !important;
    bottom: 22px;
}

.mozart_team_land .et_pb_team_member:hover .et_pb_team_member_image:before {
    transition-delay: 0s !important;
    transition: all .3s ease-out;
    transform: translate(90px, 0);
    opacity: 0;
}

/*Team*/

.mozart_persons_land .et_pb_team_member {
    overflow: hidden;
    position: relative;
}

.mozart_persons_land .et_pb_team_member img {
    width: auto;
    display: block !important;
    top: 0;
    max-width: 100%;
    padding: 25px;
    transition: 0.3s !important;
}

.mozart_persons_land .et_pb_team_member:hover img {
    border-radius: 50%;

}

.mozart_persons_land .et_pb_team_member .et_pb_team_member_description {

    transform: translate(-1.4vw, 0);
    transition: 0.3s !important;
}

.mozart_persons_land .et_pb_team_member:hover .et_pb_team_member_description {
    transform: translate(-1.4vw, 0);
}

.mozart_persons_land .et_pb_team_member:hover:before {
    left: -100%;
}

body.ie .mozart_persons_land .et_pb_team_member .et_pb_team_member_description {
    padding-left: 0 !important;
    transform: translate(0, 0px) !important;
}

/*Responsive*/

@media only screen and (max-width: 980px) {
    .moz_team_page_slider .et_pb_slider {
        margin-top: 0 !important;
    }

    .moz_team_page_slider .et_pb_slide .et_pb_slide_description {
        padding: 40px 0 !important;
    }

    .mozart_persons_land .et_pb_team_member:hover .et_pb_team_member_description {
        transform: translate(0, 0);
    }
}

.team_page_blurbs .et-pb-icon-circle {
    padding: 44px !important;
}

.team_page_blurbs .et_pb_blurb h4, .blurbs_2_M .et_pb_blurb_container h4:after {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out
}

.team_page_blurbs .et_pb_blurb {
    cursor: pointer;
}

.team_page_blurbs .et_pb_blurb .et_pb_blurb_container p:after {
    content: "";
    display: block;
    background-color: #608ad8;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    transform: rotate(-45deg)
}

.team_page_blurbs .et_pb_blurb h4 {
    transition: all .3s ease-in-out
}

.team_page_blurbs .et_pb_blurb:hover h4 {
    transform: translate(0, 30px)
}

.team_page_blurbs .et_pb_blurb .et_pb_blurb_container p {
    position: absolute;
    right: 50%;
    margin-right: -190px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0 !important;
    pointer-events: none;
    transform: rotate(45deg) translateY(20px);
    background-color: #608ad8;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 9;
    padding: 10px 0;
    border-radius: 20px;
    top: -70px !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.team_page_blurbs .et_pb_blurb:hover .et_pb_blurb_container p {
    opacity: 1 !important;
    margin-right: 0;
    right: 0;
    -webkit-animation: animateText .3s infinite !important;
    animation: animateText .3s infinite !important;
    animation-iteration-count: 1 !important
}

.team_page_blurbs .et_pb_blurb:hover .et_pb_blurb_container p span {
    -webkit-animation: wobble 5s infinite;
    animation: wobble 1s infinite;
    animation-iteration-count: 1
}

@keyframes animateText {
    from {
        left: 50%;
        margin-left: -190px;
        transform: rotate(-45deg) translateY(20px)
    }
    to {
        left: 0;
        margin-left: 0;
        transform: rotate(0) translateY(0)
    }
}

@-webkit-keyframes animateText {
    from {
        left: 50%;
        margin-left: -190px;
        transform: rotate(-45deg) translateY(20px)
    }
    to {
        left: 0;
        margin-left: 0;
        transform: rotate(0) translateY(0)
    }
}

.animateText {
    animation-name: animateText
}

.team_page_blurbs .et_pb_blurb.hover .et_pb_blurb_container p {
    transform: rotate(0) translateY(0)
}

@keyframes wobble {
    from, to {
        transform: none
    }
    15% {
        transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -2deg)
    }
    30% {
        transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg)
    }
    45% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }
    60% {
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 1deg)
    }
    75% {
        transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, 0deg)
    }
}

.wobble {
    animation-name: wobble
}

body.safari .team_page_blurbs .et_pb_blurb .et_pb_blurb_container p {
    transform: rotate(0) translateY(50px) !important;
    opacity: 0 !important;
    -webkit-animation: none !important;
    animation: none !important;
    margin: 0 !important;
    left: 0 !important;
    right: 0 !important
}

body.safari .team_page_blurbs .et_pb_blurb:hover .et_pb_blurb_container p {
    transform: rotate(0) translateY(0) !important;
    opacity: 1 !important
}

/** Team History **/

.moz_team_history .et_pb_blurb_position_left .et_pb_blurb_container {
    padding-left: 4px;
}

.moz_team_history .et_pb_blurb.video-popup h4 {
    cursor: pointer;
}

.moz_team_history .et_pb_blurb.video-popup h4:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.moz_team_history .et_pb_blurb.video-popup h4 a {
    pointer-events: none;
    cursor: default;
}

.moz_team_history .et_pb_blurb h4 a {
    transition: 0.3s !important;
    padding: 20px !important;
    display: block;
}

.moz_team_history .et_pb_blurb h4:hover a {
    transform: scale(1.1) !important;
    padding: 23px !important;
}

.moz_team_history .et_pb_main_blurb_image img {
    display: block !important;
}

/*Team details*/

.moz_content_page.moz_team_details_page .et_pb_column_2_3 .et_pb_blurb_container p {
    padding-bottom: 30px !important;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    #page-container .mozart_persons_land .et_pb_team_member .et_pb_team_member_description {
        padding-top: 31px !important;
    }

    .mozart_persons_land {
        padding-bottom: 40px !important;
    }

    #page-container .mozart_team_land .et_pb_team_member {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 50px !important;
    }

    .moz_team_history .et_pb_column:first-child:before {
        left: 12px !important;
    }

    .moz_team_history .et_pb_column:first-child .et_pb_blurb:before {
        left: -100px !important;
    }

    .moz_team_history .et_pb_column:first-child {
        padding-left: 100px !important;
    }

    #page-container .mozart_team_land .et_pb_team_member {
        padding: 0 40px 25px !important;
    }
}

@media only screen and (max-width: 1390px) {
    .mozart_persons_land .et_pb_team_member_description {
        max-width: 70% !important;
    }

    .mozart_persons_land .et_pb_team_member img {
        padding: 10px;
    }

    .mozart_persons_land_top .et_pb_column_2_3 .et_pb_text p,
    .mozart_conference_speakers .et_pb_column_2_3 .et_pb_text p {
        line-height: 140% !important;
    }

    .mozart_persons_land_top .et_pb_column_2_3 .et_pb_text,
    .mozart_conference_speakers .et_pb_column_2_3 .et_pb_text {
        text-align: right !important;

    }

    .mozart_persons_land_top .et_pb_row,
    .mozart_persons_land .et_pb_row {
        width: 90% !important;
    }

    .mozart_persons_land .et_pb_column .et_pb_team_member {
        padding: 10px 10px 10px 0 !important;
    }

    .mozart_persons_land .et_pb_column .et_pb_team_member .et_pb_team_member_description {
        padding-top: 0 !important;
        width: 68%;
        vertical-align: middle;
    }

    .mozart_persons_land .et_pb_column .et_pb_team_member .et_pb_team_member_image {
        vertical-align: middle;
        float: none !important;
    }

    .mozart_team_land .et_pb_row:last-child {
        max-width: 855px !important;
    }

    .mozart_team_land .et_pb_row:last-child .et_pb_team_member {
        padding: 0 20px 20px 20px !important;
    }

    .mozart_team_land .et_pb_row:last-child .et_pb_team_member h4.et_pb_module_header {
        padding-bottom: 0 !important;
    }

    .mozart_team_land .et_pb_row:last-child .et_pb_team_member .et_pb_member_position {
        padding-bottom: 5px !important;
    }

    .mozart_team_land .et_pb_row:last-child .et_pb_team_member .et_pb_member_social_links {
        margin-top: 10px;
    }

    .moz_team_history .et_pb_row {
        width: 90% !important;
    }

    .team_page_blurbs .et_pb_row:first-child {
        padding-bottom: 40px !important;
        padding-top: 50px !important;
        width: 90% !important;
    }

    .team_page_blurbs .et_pb_row .et_pb_column_1_4:last-child {
        margin-right: 0 !important;
    }

    .team_page_blurbs .et_pb_row .et_pb_column_1_4 {
        width: 22% !important;
        margin-right: 4% !important;
    }
}

@media only screen and (max-width: 980px) {
    .mozart_team_land .et_pb_row:last-child {
        max-width: 725px !important;
    }

    .mozart_team_land .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    .mozart_team_land .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    .mozart_team_land .et_pb_column_1_3 .et_pb_team_member .et_pb_team_member_image {
        float: none !important;
    }

    .mozart_team_land .et_pb_column_1_3 .et_pb_team_member h4 {
        padding-bottom: 4px !important;
    }

    .mozart_team_land .et_pb_column_1_3 .et_pb_team_member .et_pb_member_position {
        padding-bottom: 10px !important;
    }

    .mozart_team_land .et_pb_row:last-child .et_pb_team_member {
        padding-top: 20px !important;
    }

    .mozart_persons_land .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    .mozart_persons_land .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    #page-container .mozart_persons_land .et_pb_team_member {
        padding: 20px !important;
    }

    .mozart_persons_land .et_pb_team_member .et_pb_team_member_description h4,
    .mozart_persons_land .et_pb_team_member .et_pb_team_member_description .et_pb_member_position {
        text-align: center !important;
    }

    .mozart_persons_land .et_pb_team_member .et_pb_team_member_description {
        transform: translate(0, 0);
        padding-left: 0 !important;
        padding-top: 10px !important;
        max-width: 100% !important;
        width: 100% !important;
        display: block !important;
    }

    #page-container .mozart_persons_land .et_pb_team_member .et_pb_team_member_image img {
        padding: 0 !important;
        border-radius: 50% !important;
    }

    #page-container .mozart_persons_land .et_pb_team_member .et_pb_team_member_image {
        width: 100% !important;
        float: none !important;
        overflow: visible !important;
        margin-bottom: 15px !important;
        max-width: 100%;
    }

    .mozart_persons_land .et_pb_team_member img {
        display: inline-block !important;
    }

    .team_page_blurbs .et_pb_blurb {
        max-width: 200px;
        /*margin: 0 auto 80px !important*/
    }

    .moz_team_history .et_pb_main_blurb_image img {
        display: block !important;
        width: 100%;
    }

    #page-container .moz_team_history .et_pb_blurb:before {
        left: -34px;
    }

    .moz_team_page_slider .et_pb_column_1_3,
    .moz_team_page_slider .et_pb_column_2_3 {
        width: 100% !important;
    }

    #page-container .moz_team_page_slider .et_pb_slider .et_pb_slide_description {
        padding: 0 !important;
    }

    #page-container .moz_team_page_slider .et_pb_slider .et-pb-controllers {
        position: static;
        margin-top: 20px;
    }

    .team_page_blurbs .et_pb_row:first-child {
        padding-top: 80px !important;
    }

    .moz_team_history .et_pb_column_1_2,
    .moz_persons .et_pb_column_1_2,
    .mozart_team_land .et_pb_column_1_2 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .moz_content_page.moz_team_details_page .et_pb_column_2_3 .et_pb_blurb_container p {
        padding-bottom: 20px !important;
    }
}

@media only screen and (max-width: 767px) {
    .mozart_team_land .et_pb_row:last-child {
        max-width: 370px !important;
    }

    .mozart_team_land .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    .team_page_blurbs .et_pb_blurb {
        margin: 0 auto 60px !important
    }

    .team_page_blurbs .et_pb_row .et_pb_column_1_4:last-child {
        margin-right: 0 !important;
    }

    .team_page_blurbs .et_pb_row .et_pb_column_1_4:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    .team_page_blurbs .et_pb_row .et_pb_column_1_4 {
        width: 47% !important;
        margin-right: 6% !important;
    }

    .mozart_persons_land .et_pb_row:first-child .et_pb_column {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .mozart_persons_land .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 480px) {

    .mozart_team_land .et_pb_row:last-child {
        max-width: 300px !important;
    }

    .mozart_persons_land .et_pb_row .et_pb_column_1_3 {
        width: 100% !important;
    }

}
