/*Case Study*/

.case_study_slider .et_pb_slide_description {
    display: none !important;
}

.case_study_slider .et_pb_container {
    max-height: none !important;
    width: 100% !important;
    max-width: 100% !important;
}

.case_study_slider .et_pb_slide {
    padding: 0 !important;
}

.case_study_slider .et_pb_slide_image img {
    max-height: none !important;
}

.case_study_slider .et_pb_slide_image {
    position: static !important;
    width: 100% !important;
    margin-top: 0 !important;
}

/*Controls*/

.case_study_slider .et-pb-controllers {
    position: static;
    margin-top: 29px;
}

.case_study_slider .et-pb-controllers a {
    width: 5px;
    height: 5px;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(208, 208, 208);
}

.case_study_slider .et-pb-controllers .et-pb-active-control {
    background-color: #131313 !important;
}

.case_study_slider .et_pb_slider {
    overflow: visible !important;
}

.case_study_slider .et-pb-arrow-prev,
.case_study_slider .et-pb-arrow-next {
    top: 45% !important;
    opacity: 1 !important;
    color: #d8d8d8 !important;
}

.case_study_slider .et-pb-arrow-prev {
    left: -7.2vw !important;
}

.case_study_slider .et-pb-arrow-next {
    right: -7.2vw !important;
}

.case_study_slider .et-pb-arrow-next:before,
.case_study_slider .et-pb-arrow-prev:before {
    font-size: 60px;
    font-weight: 300;
}

/*************************************/

.case_study_text_section .et_pb_promo_description p:last-child {
    padding-bottom: 0 !important;
}

.case_study_text_section .et_pb_promo_description p {
    padding-bottom: 28px;
}

.case_study_solution .et_pb_text p:last-child {
    padding-bottom: 0 !important;
}

.case_study_solution .et_pb_text p {
    padding-bottom: 28px !important;
}

.case_study_solution .et_pb_image_wrap img {
    height: 100%;
    width: auto;
    max-width: none;
}

.case_study_solution .et_pb_image_wrap {
    height: 100%;
}

/*Content Page*/

.moz_content_page .et_pb_column_1_3 p a:hover {
    opacity: 0.8;
}

.moz_content_page .et_pb_column_1_3 p a {
    color: inherit;
}

.moz_content_page .et_pb_column_1_3 p {
    padding-bottom: 0 !important;
}

.moz_content_page .et_pb_column_2_3 .et_pb_blurb_container p:last-child {
    padding-bottom: 0 !important;
}

.moz_content_page .et_pb_column_2_3 .et_pb_blurb_container p {
    padding-bottom: 27px !important;
}

.moz_content_page .et_pb_column_2_3 img {
    display: block;
    width: 100%;
}

.moz_content_page .et_pb_column_2_3 {
    width: 59.9% !important;
    margin-right: 8% !important;
}

.moz_content_page .et_pb_column_1_3 {
    width: 32.1% !important;
}

/*Headings*/

.moz_content_page .et_pb_column_2_3 p:last-child {
    padding-bottom: 0 !important;
}

.moz_content_page .et_pb_column_2_3 p {
    padding-bottom: 28px !important;
}

.moz_content_page .et_pb_column_2_3 h1 {
    font-size: 28px !important;
}

.moz_content_page .et_pb_column_2_3 h2 {
    font-size: 20px !important;
}

.moz_content_page .et_pb_column_2_3 h3 {
    font-size: 18px !important;
}

.moz_content_page .et_pb_column_2_3 h1,
.moz_content_page .et_pb_column_2_3 h2,
.moz_content_page .et_pb_column_2_3 h3 {
    font-weight: 500;
    padding-bottom: 20px;
    letter-spacing: -0.8px;
    line-height: 120%;
}

.moz_video_section .et_pb_blurb.video-popup h4 {
    cursor: pointer;
}

.moz_video_section .et_pb_blurb.video-popup h4:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.moz_video_section .et_pb_blurb.video-popup h4 a {
    pointer-events: none;
    cursor: default;
}

.moz_video_section .et_pb_blurb h4 a {
    transition: 0.3s !important;
    padding: 20px !important;
    display: block;
}

.moz_video_section .et_pb_blurb h4:hover a {
    transform: scale(1.1) !important;
    padding: 23px !important;
}

/*Services*/

/*Columns*/

#page-container .moz_services_top_section .et_pb_column_1_2 {
    width: 33.4% !important;
    margin-right: 7.6% !important;
}

#page-container .moz_services_top_section .et_pb_column_1_4:last-child {
    margin-right: 0 !important;
}

#page-container .moz_services_top_section .et_pb_column_1_4 {
    width: 25.7% !important;
    margin-right: 7.6% !important;
}

/****************/

#page-container .moz_services_top_section .button_base_size_M:hover {
    -webkit-transition-duration: .3s;
    -webkit-transition-delay: .3s;
    transition-duration: .3s;
    transition-delay: .3s;
    background-color: #fff !important
}

.moz_services_top_section .button_base_size_M:after {
    height: 100%;
    left: -35%;
    top: auto;
    bottom: 0;
    transform: skew(50deg);
    transform-origin: top left;
    width: 0;
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.moz_services_top_section .button_base_size_M:hover:after {
    width: 135%
}

/**************************/

.moz_services_specialize .et_pb_column_1_4:last-child {
    margin-right: 0 !important;
}

.moz_services_specialize .et_pb_column_1_4 {
    width: 23% !important;
    margin-right: 2.5% !important;
}

.moz_services_specialize .et_pb_column_1_2 {
    margin-right: 2.6% !important;
}

.moz_services_specialize .et_pb_blurb .et_pb_blurb_container h4:after {
    display: inline-block !important;
    content: "$";
    font-family: "ETmodules" !important;
    float: left;
    line-height: 90%;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 0.3s !important;
    background: transparent !important;
}

.moz_services_specialize .et_pb_blurb .et_pb_blurb_container h4 {
    position: relative;
}

.moz_services_specialize .et_pb_blurb .et_pb_blurb_container h4 {
    transition: 0.3s !important;
}

.moz_services_specialize .et_pb_blurb:hover .et_pb_blurb_container h4:after {
    width: 24px !important;
}

.moz_services_specialize .et_pb_blurb:hover .et_pb_blurb_container h4 {
    padding-left: 30px !important;
}

.moz_services_specialize.services_simple .et_pb_column_1_2 {
    width: 34% !important;
    margin-right: 8.5% !important;
}

.moz_services_specialize.services_simple .et_pb_column_1_4:last-child {
    margin-right: 0 !important;
}

.moz_services_specialize.services_simple .et_pb_column_1_4 {
    width: 24% !important;
    margin-right: 7.5% !important;
}

/*List Style*/

.moz_list_style li::after, .moz_list_style li::before {
    font-family: ETmodules;
    overflow: hidden;
    transition: all .3s ease 0s
}

.moz_list_style li a, .moz_list_style li::after, .moz_list_style li::before {
    transition: all .3s ease 0s
}

.moz_list_style li:hover a {
    padding-left: 0
}

.moz_list_style li::after, .moz_list_style li::before {
    content: "5";
    position: absolute
}

.moz_list_style li::after {
    margin-left: 5px;
    opacity: 0;
    transform: translate(-100%, 0)
}

.moz_list_style li:hover::before {
    opacity: 0;
    transform: translate(100%, 0)
}

.moz_list_style li:hover::after {
    opacity: 1;
    transform: translate(0, 0)
}

.moz_list_style.et_pb_bg_layout_dark li a {
    color: #fff
}

.moz_list_style.et_pb_bg_layout_light li, .moz_list_style.et_pb_bg_layout_light li a {
    color: #627792
}

.moz_list_style ul {
    padding: 0
}

.moz_list_style li a {
    display: inline-block;
    padding-left: 29px
}

.moz_list_style li {
    list-style: none;
    margin-bottom: 22px
}



/*********************************Fancybox************************************/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*********************************Fancybox End************************************/

/*Images In IE & Edge*/

body.ie #page-container .finance_home_3_boxes_blurb .et_pb_column_1_3:before,
body.edge #page-container .finance_home_3_boxes_blurb .et_pb_column_1_3:before,
body.ie .finance_home_header:before,
body.edge .finance_home_header:before,
body.ie .moz_about_testimonial:before,
body.edge .moz_about_testimonial:before,
body.ie .fin-header1:before,
body.edge .fin-header1:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #1a284d;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

/*Responsive*/

@media only screen and (max-width: 1390px) {
    #page-container .moz_services_top_section .et_pb_button_module_wrapper:last-child .et_pb_button.et_pb_module {
        margin-bottom: 0 !important
    }

    #page-container .moz_services_top_section .et_pb_button_module_wrapper .et_pb_button.et_pb_module {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px !important
    }

    #page-container .moz_services_top_section .et_pb_text {
        margin-top: 0 !important
    }

    #page-container .moz_services_top_section .et_pb_promo h2 {
        font-size: 24px !important
    }

    .content_12_M .et_pb_column:first-child .et_pb_promo_description h2 {
        font-size: 36px !important
    }

    .case_study_top_section .et_pb_column_1_2 {
        width: 100% !important;
    }

    #page-container .case_study_top_section .et_pb_column_1_4:nth-child(2) {
        margin-right: 0 !important;
        width: 70% !important;
    }

    #page-container .case_study_top_section .et_pb_column_1_4:first-child {
        width: 26% !important;
        margin-right: 3.1% !important;
    }

    .moz_services_specialize .et_pb_row {
        width: 90% !important;
    }

}

@media only screen and (min-width: 1930px) {
    .moz_services_top_section,
    .content_page_top_section,
    .case_study_top_section {
        padding-top: 240px !important;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1391px) {
    .case_study_top_section .et_pb_column_1_4 .et_pb_text {
        margin-top: 0 !important;
    }

    .case_study_top_section .et_pb_column_1_2 .et_pb_text {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width: 1390px) and (min-width: 981px) {
    .moz_services_top_section,
    .content_page_top_section,
    .case_study_top_section {
        padding-top: 180px !important;
    }

    .case_study_top_section .et_pb_column_1_4 .et_pb_text {
        margin-top: 3vw !important;
    }

    #page-container .case_study_text_section .et_pb_promo h2 {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 980px) {
    #page-container .moz_services_top_section .et_pb_column:last-child {
        border-left: 0 !important
    }

    #page-container .moz_services_top_section .et_pb_column:first-child {
        border-right: 0 !important
    }

    #page-container .moz_services_top_section .et_pb_column:nth-child(2) {
        border-bottom: 2px solid #ebebeb;
        border-top: 2px solid #ebebeb;
        padding: 17px 0 40px
    }

    #page-container .moz_services_top_section .et_pb_column {
        margin-bottom: 0 !important
    }

    .moz_how_we_work_bottom_section .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    .moz_how_we_work_bottom_section .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    .moz_how_we_work_bottom_section .et_pb_row .et_pb_column:last-child .et_pb_promo_description {
        padding-bottom: 0 !important;
    }

    .moz_how_we_work_bottom_section .et_pb_row .et_pb_promo:before {
        left: -10px !important;
    }

    .moz_how_we_work_bottom_section .et_pb_row {
        width: 90% !important;
    }

    .case_study_text_section .et_pb_promo_description p {
        padding-bottom: 15px;
    }

    .case_study_text_section .et_pb_promo .et_pb_promo_description h2 {
        padding-bottom: 10px !important;
    }

    .case_study_solution .et_pb_text p {
        padding-bottom: 15px !important;
    }

    .moz_content_page .et_pb_column_2_3 {
        margin-top: -120px;
    }

    .moz_content_page .et_pb_blurb .et_pb_main_blurb_image {
        margin-bottom: 20px !important;
    }

    .moz_content_page .et_pb_column_2_3 h1 {
        font-size: 26px !important;
    }

    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_text,
    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb .et_pb_blurb_container h4,
    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb .et_pb_blurb_description,
    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb .et_pb_blurb_content,
    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb .et_pb_main_blurb_image,
    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_promo * {
        text-align: center !important
    }

    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb .et_pb_blurb_container h4 {
        padding-bottom: 10px !important;
    }

    .moz_how_we_work_services .et_pb_row:first-child .et_pb_column:first-child{
        margin-bottom: 50px;
    }
    .moz_how_we_work_services .et_pb_row .et_pb_column:last-child,
    .moz_how_we_work_services .et_pb_row .et_pb_column:nth-child(2) {
        width: 50% !important
    }

    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb {
        padding: 0 1vw !important
    }

    .moz_how_we_work_services .et_pb_row:first-child .et_pb_column:last-child .et_pb_divider {
        margin: -10px auto 10px !important
    }

    .moz_how_we_work_services .et_pb_row:first-child .et_pb_column:last-child {
        margin-bottom: 30px
    }

    .moz_how_we_work_services .et_pb_row:first-child .et_pb_promo .et_pb_promo_description h2 {
        max-width: 100%;
        line-height: 109%;
        margin-top: 0
    }

    .moz_how_we_work_services .et_pb_row:first-child .et_pb_promo .et_pb_promo_description h2:after {
        margin: 13px auto 0
    }

    #page-container .moz_services_top_section .et_pb_column_1_2 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    #page-container .moz_services_top_section .et_pb_column_1_4 {
        width: 100% !important;
        margin-right: 0% !important;
    }



    .moz_services_specialize .et_pb_column_1_2 .et_pb_promo_description h2 {
        padding-bottom: 10px !important;
    }

    .moz_services_specialize .et_pb_column_1_2 {
        margin-right: 0 !important;
    }

    #page-container .moz_services_specialize .et_pb_column_1_2 .et_pb_promo_button.et_pb_button {
        margin-top: 10px !important;
        padding: 10px 20px !important;
    }

    .moz_services_specialize.services_simple .et_pb_column_1_2 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    .moz_services_specialize.services_simple .et_pb_column_1_4 {
        width: 47% !important;
        margin-right: 6% !important;
        margin-bottom: 40px !important;
    }


}

@media only screen and (max-width: 980px) and (min-width: 768px) {
    #page-container .moz_services_top_section .et_pb_column .et_pb_blurb:first-child {
        border-right: 2px solid #ebebeb
    }

    #page-container .moz_services_top_section .et_pb_column .et_pb_blurb {
        width: 50% !important;
        float: left !important;
        margin: 0 !important;
        border-bottom: 0 !important
    }

    #page-container .moz_services_top_section .et_pb_blurb .et_pb_main_blurb_image {
        margin-bottom: 15px !important;
        margin-top: 0 !important
    }

    .moz_how_we_work_bottom_section .et_pb_column_1_3 {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .moz_how_we_work_bottom_section .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .case_study_slider .et_pb_slide_image {
        display: block !important;
    }

    .moz_content_page .et_pb_column_2_3 h1 {
        font-size: 24px !important;
    }

    .content_page_top_section .et_pb_column_1_2:first-child {
        margin-bottom: 15px !important;
    }

    .content_page_top_section .et_pb_column_1_2 {
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .moz_content_page .et_pb_column_2_3 {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 50px !important;
    }

    .moz_content_page .et_pb_column_1_3 {
        width: 100% !important;
    }

    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb h4 {
        margin-bottom: 5px !important
    }

    .moz_services_specialize .et_pb_blurb .et_pb_blurb_container h4:after {
        line-height: 117%;

    }

    #page-container .moz_services_specialize .et_pb_column_1_4:last-child .et_pb_blurb:last-child {
        margin-bottom: 0 !important;
    }

    #page-container .moz_services_specialize .et_pb_column_1_4 .et_pb_blurb {
        margin-bottom: 40px !important;
    }

    #page-container .moz_services_specialize .et_pb_column_1_4 {
        width: 100% !important;
    }


    .case_study_slider .et-pb-arrow-prev {
        left: 0 !important;
    }

    .case_study_slider .et-pb-arrow-next {
        right: 0 !important;
    }

}

@media only screen and (max-width: 980px) and (min-width: 481px) {
    #page-container .case_study_top_section .et_pb_column_1_4:nth-child(2) .et_pb_text{
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        margin-top: 0 !important;
    }
}
@media only screen and (max-width: 480px) {
    .moz_services_top_section .button_base_size_M:hover:after {
        width: 145%
    }

    .moz_services_top_section .button_base_size_M:after {
        left: -43% !important
    }

    #page-container .case_study_top_section .et_pb_column_1_4:first-child {
        display: none !important;
    }

    #page-container .case_study_top_section .et_pb_column_1_4:nth-child(2) {
        width: 100% !important;
    }

    .moz_how_we_work_services .et_pb_row .et_pb_column:last-child,
    .moz_how_we_work_services .et_pb_row .et_pb_column:nth-child(2) {
        width: 100% !important
    }

    .moz_how_we_work_services .et_pb_row .et_pb_column .et_pb_blurb {
        padding: 0 !important
    }

    .moz_services_specialize .et_pb_column_1_4:last-child .et_pb_blurb:last-child {
        margin-bottom: 0 !important;
    }

    .moz_services_specialize .et_pb_column_1_4 .et_pb_blurb {
        margin-bottom: 30px !important;
    }

    .moz_services_specialize .et_pb_column_1_4 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .moz_services_specialize.services_simple .et_pb_column_1_4 {
        margin-bottom: 0px !important;
    }

    .moz_services_specialize.services_simple .et_pb_column_1_4:last-child {
        margin-bottom: 50px !important;
    }


    .moz_how_we_work_services .et_pb_row:last-child{
        padding-top: 0 !important;
    }
    .moz_how_we_work_services .et_pb_row:first-child{
        padding-bottom: 0 !important;
    }


    .moz_how_we_work_services .et_pb_row:last-child .et_pb_column_1_3:last-child{
        margin-bottom: 0 !important;
    }
    .moz_how_we_work_services .et_pb_row .et_pb_column_1_3{
        margin-bottom: 30px !important;
    }

}

.moz_services_top_section .et_pb_button_module_wrapper {
    margin: 0 !important
}

.moz_services_specialize .et_pb_blurb:hover .et_pb_blurb_container {
    -webkit-animation: fadeIn 5s infinite;
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1
}


