/*Header*/

/*Mobile Menu*/
#page-container #top-menu > li > a{
    cursor: pointer;
}
#page-container .et_mobile_menu li.current_page_item > a,
#page-container .et_mobile_menu ul li.current_page_item > a,
#page-container .nav ul li a:hover,
#page-container .et_mobile_menu li a:hover {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.3);
}



/*Responsive*/

/*@media only screen and (max-width: 980px) {*/
    /*body.logged-in #main-header {*/
        /*top: 0 !important;*/
    /*}*/
/*}*/

@media only screen and (max-width: 767px) {
    .moz-header1 .et_pb_promo.et_pb_module {
        padding-top: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 30px !important;
        padding-left: 30px !important;
        margin-right: 0 !important;
        width: 100%;
        top: 0;
    }
}

/*Home Header*/

.mozart_consult_header .et_pb_text p a {
    margin-left: 2.6%;
    display: inline-block;
}

/* Change links color*/

.mozart_consult_header a {
    color: #fff !important;
}

.mozart_consult_header a:hover {
    color: #a7a7a7 !important;
}

.mozart_consult_header .et_pb_text a {
    margin-left: 2.6% !important;
    display: inline-block;
}

/*Responsive*/


@media only screen and (min-width: 1930px) {
    #page-container .moz-header1 .et_pb_promo{
        top: 115px !important;
        padding: 70px 70px 60px !important;
    }
}
@media only screen and (max-width: 1390px) {
    .logo_container #logo{
        max-width: 200px;
    }


    #main-header #top-menu li{
        padding-right: 7px;
    }


    #main-header #et_top_search{
        margin-left: 10px;
    }

    #page-container #et-top-navigation{
        padding-left: 0 !important;
    }
    #page-container #top-menu .menu-item-has-children > a:first-child,
    #page-container #et-secondary-nav .menu-item-has-children > a:first-child {
        padding-right: 15px;
    }
}
@media only screen and (max-width: 1390px) and (min-width: 981px) {
    #main-header .container{
        width: 90% !important;
    }
}
@media only screen and (max-width: 980px) {
    #page-container .mozart_consult_header .et_pb_column_1_2:last-child {
        margin-right: 0 !important;
    }

    #page-container .mozart_consult_header .et_pb_column_1_2 {
        width: 48% !important;
        margin-right: 4% !important;
    }

    #page-container .mozart_consult_header .et_pb_button {
        width: 100% !important;
    }

    .moz-header1 .et_pb_promo {
        top: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    #page-container .moz-header1 .et_pb_promo .et_pb_promo_description {
        padding-bottom: 0px !important;
    }
}


@media screen and (max-width: 600px){
    #wpadminbar {
        position: fixed !important;
    }
}

@media only screen and (max-width: 481px) {

    #page-container .moz-header1{
        background-position: left center;
    }
    #page-container .moz-header1 .et_pb_row {
        width: 100% !important;
        padding-top: 90px !important;
    }

    #page-container .mozart_consult_header .et_pb_column_1_2 {
        width: 100% !important;
        margin-right: 0 !important;
    }


    #page-container .et_search_outer form.et-search-form{
        width: 36% !important;
    }

}


