.mozart_accountant_header .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_description,
.mozart_accountant_header .et_pb_column_1_3 .et_pb_blurb .et_pb_main_blurb_image {
    transition: 0.3s !important;
}

.mozart_accountant_header .et_pb_column_1_3 .et_pb_blurb:hover .et_pb_blurb_description {
    transform: translate(0, -10px);
}

.mozart_accountant_header .et_pb_column_1_3 .et_pb_blurb:hover .et_pb_main_blurb_image {
    transform: translate(0, 22px);
}

/*What we do*/

.mozart_accountant_what_we_do .et_pb_main_blurb_image img {
    display: block !important;
    transition: 0.2s !important;
    transition-delay: 0.4s !important;
}

.mozart_accountant_what_we_do .et_pb_blurb_description,
.mozart_accountant_what_we_do .et_pb_blurb_container h4 {
    z-index: 99;
    position: relative;
    transition: 0.2s !important;
}

.mozart_accountant_what_we_do .et_pb_blurb_container h4 {
    transition-delay: 0.6s !important;
}

.mozart_accountant_what_we_do .et_pb_blurb_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1.5vw;
}

.mozart_accountant_what_we_do .et_pb_blurb_container:after,
.mozart_accountant_what_we_do .et_pb_blurb_container:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2f5fa;
    top: 0;
    left: 0;
    transition: 0.2s !important;
}

.mozart_accountant_what_we_do .et_pb_blurb_container:before {
    transition-delay: 0.4s !important;
    background-color: #f2f5fa;
}

.mozart_accountant_what_we_do .et_pb_blurb_container:after {
    transition-delay: 0.2s !important;
    background-color: #1a284d;
    opacity: 0.8;
    transform: translate(0, 100%);
}

.mozart_accountant_what_we_do .et_pb_blurb {
    overflow: hidden;
}

.mozart_accountant_what_we_do .et_pb_blurb .et_pb_blurb_container a {
    color: #fff !important;
}

.mozart_accountant_what_we_do .et_pb_blurb_description {
    transition-delay: 0s !important;
    position: absolute;
    transform: translate(0, 110%);
    top: 50%;
    opacity: 0;
}

.mozart_accountant_what_we_do .et_pb_blurb:hover .et_pb_blurb_container:before {
    transition-delay: 0.2s !important;
    transform: translate(0, 100%);
}

.mozart_accountant_what_we_do .et_pb_blurb:hover .et_pb_blurb_container:after {
    transition-delay: 0.4s !important;
    transform: translate(0, 0%);
}

.mozart_accountant_what_we_do .et_pb_blurb:hover .et_pb_blurb_description {
    transition-delay: 0.6s !important;
    transform: translate(0, -50%);
    opacity: 1;
}

.mozart_accountant_what_we_do .et_pb_blurb:hover .et_pb_blurb_container h4 {
    transition-delay: 0s !important;
    transform: translate(0, 25px);
    opacity: 0;
}

.mozart_accountant_what_we_do .et_pb_blurb:hover .et_pb_main_blurb_image img {
    transition-delay: 0.4s !important;
    transform: scale(1.1);
}

/*Numbers*/

.mozart_accountant_numbers .et_pb_column_1_4:first-child {
    width: 46% !important;
    margin-right: 6.3% !important;
    margin-top: 0;
}

.mozart_accountant_numbers .et_pb_column_1_4 {
    width: 12% !important;
    margin-right: 5% !important;
    margin-top: 0.8vw;
}

/*Team*/

.mozart_accountant_team .et_pb_team_member_image{
    max-width: 100% !important;
}
.mozart_accountant_team .et_pb_team_member_image img {
    display: block !important;
    width: 100%;
    transition: 0.3s !important;
    transition-delay: 0.4s !important;
}

.mozart_accountant_team .et_pb_team_member_description a,
.mozart_accountant_team .et_pb_team_member_description h4 {
    z-index: 99;
    position: relative;
    transition: 0.2s !important;
}

.mozart_accountant_team .et_pb_team_member_description h4 {
    transition-delay: 0.6s !important;
}

.mozart_accountant_team .et_pb_team_member_description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1.5vw;
}

.mozart_accountant_team .et_pb_team_member_description:after,
.mozart_accountant_team .et_pb_team_member_description:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2f5fa;
    top: 0;
    left: 0;
    transition: 0.2s !important;
}

.mozart_accountant_team .et_pb_team_member_description:before {
    transition-delay: 0.4s !important;
    background-color: #f2f5fa;
}

.mozart_accountant_team .et_pb_team_member_description:after {
    transition-delay: 0.2s !important;
    background-color: #1a284d;
    opacity: 0.8;
    transform: translate(0, 100%);
}

.mozart_accountant_team .et_pb_team_member {
    overflow: hidden;
}

.mozart_accountant_team .et_pb_team_member .et_pb_team_member_description a {
    color: #fff !important;
}

.mozart_accountant_team .et_pb_team_member_description a {
    transition-delay: 0s !important;
    position: absolute !important;
    transform: translate(0, 110%);
    top: 50%;
    opacity: 0;
}

.mozart_accountant_team .et_pb_team_member:hover .et_pb_team_member_description:before {
    transition-delay: 0.2s !important;
    transform: translate(0, 100%);
}

.mozart_accountant_team .et_pb_team_member:hover .et_pb_team_member_description:after {
    transition-delay: 0.4s !important;
    transform: translate(0, 0%);
}

.mozart_accountant_team .et_pb_team_member:hover .et_pb_team_member_description a {
    transition-delay: 0.6s !important;
    transform: translate(0, -50%);
    opacity: 1;
}

.mozart_accountant_team .et_pb_team_member:hover .et_pb_team_member_description h4 {
    transition-delay: 0s !important;
    transform: translate(0, 25px);
    opacity: 0;
}

.mozart_accountant_team .et_pb_team_member:hover .et_pb_team_member_image img {
    transition-delay: 0.2s !important;
    transform: scale(1.1);
}

/*Accordion*/

.mozart_accountant_accordion .accordion strong {
    font-size: 30px;
    font-weight: 400;
    padding-right: 1.5%;
    display: inline-block;
    vertical-align: top;
}

/* Change Accordion Icon */
.mozart_accountant_accordion .et_pb_toggle_title:before {
    color: #ccc;
    font-size: 18px;
    content: "\50";
}

.mozart_accountant_accordion .et_pb_toggle_open .et_pb_toggle_title:before {
    display: block !important;
    content: "O";
}

#page-container .mozart_accountant_accordion .et_pb_toggle_open .et_pb_toggle_title {
    margin-bottom: 24px !important;
}

#page-container .mozart_accountant_accordion .et_pb_toggle_close .et_pb_toggle_title {
    margin-bottom: 0px !important;
}

#page-container .mozart_accountant_accordion .et_pb_accordion_toggling .et_pb_toggle_close .et_pb_toggle_title.opened {
    margin-bottom: 24px !important;
}

#page-container .mozart_accountant_accordion .et_pb_accordion_toggling .et_pb_toggle_open .et_pb_toggle_title.opened {
    margin-bottom: 0px !important;
}

.mozart_accountant_accordion .et_pb_toggle .et_pb_toggle_content {
    letter-spacing: -0.1px;

    padding-top: 0 !important;
}

.mozart_accountant_accordion .et_pb_toggle .et_pb_toggle_title:after {
    display: inline-block !important;
    content: "$";
    font-family: "ETmodules" !important;
    float: left;
    line-height: 130%;
    color: #608ad8;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: 0.3s !important;
    top: 22px;
}

.mozart_accountant_accordion .et_pb_toggle .et_pb_toggle_title {
    transition: 0.3s !important;
}

.mozart_accountant_accordion .et_pb_toggle .et_pb_toggle_title:hover:after {
    width: 24px !important;
}

.mozart_accountant_accordion .et_pb_toggle .et_pb_toggle_title:hover {
    padding-left: 30px !important;
}

/*Testimonials*/

.mozart_accountant_testimonials .et_pb_testimonial_portrait:before {
    content: '“';
    font-family: 'Playfair Display';
    width: auto !important;
    height: auto !important;
    line-height: 100%;
    box-shadow: none !important;
}

.mozart_accountant_testimonials .et_pb_testimonial_portrait:before {
    font-size: 92px;
    top: auto;
    left: 16px;
    bottom: -57px;
}

/*Form*/

.mozart_accountant_cta .et_pb_newsletter_form {
    text-align: center !important;
}

.mozart_accountant_cta .et_pb_newsletter_form .et_pb_newsletter_fields{
    display: block !important;
    flex-wrap: unset !important;
    justify-content: unset !important;
}
.mozart_accountant_cta .et_pb_newsletter_form p {
    padding: 0 !important;
    width: 25%;
    float: left;
    margin-right: 3%;
    position: relative;
    display: block;
    flex-basis: unset !important;
}

.mozart_accountant_cta .et_pb_newsletter_form p:last-of-type {
    width: 13.6% !important;
    margin-right: 0 !important;
}

.mozart_accountant_cta .et_pb_newsletter_form p:not(.filled):not(.focus) input {
    color: transparent !important;
}

.mozart_accountant_cta .et_pb_newsletter p label {
    display: block !important;
    position: absolute;
    min-width: 100%;
    text-align: left;
    pointer-events: none;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
    color: #627792;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.mozart_accountant_cta .et_pb_newsletter p.filled label,
.mozart_accountant_cta .et_pb_newsletter p.focus label {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
}

.mozart_accountant_cta .et_pb_main_blurb_image a span {
    transition: 0.3s !important;
}

.mozart_accountant_cta .et_pb_main_blurb_image a:hover span {
    transform: scale(1.1) !important;
}

#page-container .mozart_accountant_cta .et_pb_newsletter p input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: transparent !important;
}
#page-container .mozart_accountant_cta .et_pb_newsletter p input::-moz-placeholder { /* Firefox 19+ */
    color: transparent !important;
}
#page-container .mozart_accountant_cta .et_pb_newsletter p input:-ms-input-placeholder { /* IE 10+ */
    color: transparent !important;
}
#page-container .mozart_accountant_cta .et_pb_newsletter p input:-moz-placeholder { /* Firefox 18- */
    color: transparent !important;
}

/*Responsive*/

@media only screen and (min-width: 1930px) {
    .mozart_accountant_accordion .et_pb_text:first-child {
        margin-top: 40px !important;
    }

    .mozart_accountant_cta .et_pb_newsletter_form p:not(.filled):not(.focus) input {
        padding: 16px 100px 17px 18px !important;
    }

    .mozart_accountant_team .et_pb_team_member_description,
    .mozart_accountant_what_we_do .et_pb_blurb_container {
        padding: 30px;
    }


}

@media only screen and (max-width: 1390px) {
    .mozart_accountant_accordion .et_pb_column:last-child {
        padding-right: 3vw;
        padding-left: 0 !important;
    }

    .mozart_accountant_accordion .et_pb_text:first-child {
        margin-top: 0 !important;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4:first-child .et_pb_button_wrapper .et_pb_promo_button {
        margin-top: 0;
        padding: 10px 25px !important;
    }

    .mozart_accountant_numbers .et_pb_column_1_4:first-child .et_pb_button_wrapper,
    .mozart_accountant_numbers .et_pb_column_1_4:first-child .et_pb_promo h3,
    .mozart_accountant_numbers .et_pb_column_1_4:first-child .et_pb_promo p {
        text-align: center !important;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4:last-child {
        margin-right: 0 !important;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4:first-child {
        width: 100% !important;
        margin-right: 0 !important;
        margin-top: 0;
        margin-bottom: 40px;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4 {
        width: 32% !important;
        margin-right: 2% !important;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1390px) and (min-width: 980px) {
    .mozart_accountant_numbers .percent p {
        font-size: 60px !important;
    }
}

@media only screen and (max-width: 980px) {
    .mozart_accountant_header .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    .mozart_accountant_header .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    .mozart_accountant_header .et_pb_row {
        width: 90% !important;
    }

    .mozart_accountant_accordion .et_pb_column:last-child {
        padding: 0 10% !important;
    }

    .mozart_accountant_accordion .et_pb_text:first-child {
        margin-top: 40px !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_column_1_3:last-child {
        margin-right: 0 !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_column_1_3 {
        width: 32% !important;
        margin-right: 2% !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_testimonial_description {
        margin-left: 0 !important;
    }

    .mozart_accountant_managemenet .et_pb_image .et_pb_image_wrap,
    .mozart_accountant_managemenet .et_pb_image .et_pb_image_wrap img {
        display: block !important;
        width: 100% !important;
    }

    .mozart_accountant_what_we_do .et_pb_main_blurb_image img {
        width: 100% !important;
    }

    .mozart_accountant_team .et_pb_column .et_pb_text,
    .mozart_accountant_what_we_do .et_pb_column .et_pb_text {
        text-align: center !important;
    }

    .mozart_accountant_what_we_do .et_pb_column_1_3:last-child .et_pb_blurb {
        margin-bottom: 0 !important;
    }

    .mozart_accountant_team .et_pb_team_member:last-child,
    .mozart_accountant_what_we_do .et_pb_column_1_3 .et_pb_blurb:last-child {
        margin-right: 0 !important;
    }

    .mozart_accountant_team .et_pb_team_member,
    .mozart_accountant_what_we_do .et_pb_column_1_3 .et_pb_blurb {
        width: 48% !important;
        margin-right: 4% !important;
        float: left;
    }

    .mozart_accountant_team .et_pb_team_member_description,
    .mozart_accountant_what_we_do .et_pb_blurb_container {
        padding: 25px 15px;
    }

    .mozart_accountant_numbers .et_pb_row {
        width: 90% !important;
    }

    .mozart_accountant_team .et_pb_team_member_image {
        display: block !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
    #page-container .mozart_accountant_testimonials .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0% !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_column_1_3 .et_pb_testimonial {
        padding-bottom: 140px !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_promo_description p,
    #page-container .mozart_accountant_testimonials .et_pb_promo_description h2,
    #page-container .mozart_accountant_testimonials .et_pb_column_1_3 .et_pb_testimonial {
        text-align: center !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_testimonial .et_pb_testimonial_portrait {
        left: 0;
        right: 0;
        margin: auto;
    }

    #page-container .mozart_accountant_testimonials .et_pb_testimonial .et_pb_testimonial_description {
        max-width: 500px;
        margin: 0 auto !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_testimonial .et_pb_testimonial_author {
        margin-top: 0 !important;
    }

    #page-container .mozart_accountant_testimonials .et_pb_column_1_3:not(:last-child) {
        border-bottom: 1px solid;
        padding-bottom: 40px;
    }

    #page-container .mozart_accountant_cta .et_pb_newsletter_form p:last-of-type {
        margin-right: 0 !important;
    }

    #page-container .mozart_accountant_cta .et_pb_newsletter_form p {
        width: 47% !important;
        margin-right: 5% !important;
        margin-bottom: 35px;
    }

    #page-container .mozart_accountant_cta .et_pb_newsletter_form p:nth-child(2n + 2) {
        margin-right: 0 !important;
    }

    #page-container .mozart_accountant_cta .et_pb_newsletter_form p:last-of-type,
    #page-container .mozart_accountant_cta .et_pb_newsletter_form p:nth-last-of-type(2) {
        margin-bottom: 0 !important;
    }

    .mozart_accountant_header .et_pb_column_1_3 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .mozart_accountant_what_we_do .et_pb_column_1_3:last-child .et_pb_blurb {
        margin-bottom: 30px !important;
    }

    .mozart_accountant_team .et_pb_column_1_3:last-child .et_pb_team_member:last-child,
    .mozart_accountant_what_we_do .et_pb_column_1_3:last-child .et_pb_blurb:last-child {
        margin-right: 0 !important;
        margin-bottom: 0 !important;
    }

    .mozart_accountant_team .et_pb_team_member,
    .mozart_accountant_what_we_do .et_pb_column_1_3 .et_pb_blurb {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 30px !important;
        float: left;
    }


}

@media only screen and (max-width: 480px) {
    #page-container .mozart_accountant_accordion .et_pb_row {
        width: 100% !important;
    }

    #page-container .mozart_accountant_accordion .et_pb_toggle .et_pb_toggle_title {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #page-container .mozart_accountant_cta .et_pb_newsletter_form p {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 35px;
    }

    #page-container .mozart_accountant_cta .et_pb_newsletter_form p:nth-last-of-type(2) {
        margin-bottom: 35px !important;
    }

    .mozart_accountant_numbers .et_pb_row .et_pb_number_counter .percent {
        margin-bottom: -16px !important;
    }

    .mozart_accountant_numbers .et_pb_row .et_pb_text {
        margin-bottom: 10px !important;
    }

    .mozart_accountant_numbers .et_pb_row .et_pb_text p br {
        display: none !important;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4:last-child {
        margin-bottom: 0 !important;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4 {
        margin-bottom: 40px !important;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4:first-child .et_pb_button_wrapper .et_pb_promo_button {
        margin-top: 0;
        padding: 10px 10px !important;
        width: 100%;
        text-align: center;
    }

    #page-container .mozart_accountant_numbers .et_pb_column_1_4:first-child .et_pb_button_wrapper .et_pb_promo_button {
        padding: 10px 10px !important;
        width: 100%;
        text-align: center;
    }


    #page-container .mozart_accountant_numbers .et_pb_column_1_4 {
        width: 100% !important;
        margin-right: 0 !important;
        margin-top: 0;
    }
}
